root = true

[*]
end_of_line = lf
insert_final_newline = true

# data files
[*.{yml,yaml,json,xml}]
charset = utf-8
indent_size = 2
indent_style = space

# code files
[*.{sh}]
charset = utf-8
indent_size = 2
indent_style = space
