{
  "openapi": "3.0.0",
  "info": {
    "version": "0.1",
    "title": "OGC API - Processes",
    "description": "Example API Definition for OGC API - Processes",
    "contact": {
      "name": "Open Geospatial Consortium",
      "email": "info@ogc.org"
    },
    "license": {
      "name": "OGC License",
      "url": "http://www.opengeospatial.org/legal/"
    }
  },
  "servers": [
    {
      "description": "Example Server 1 (GNOSIS, supporting Part 1: Core /Sync and Part 3: Workflows)",
      "url": "https://maps.gnosis.earth/ogcapi"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Landing Page"
        ],
        "operationId": "getLandingPage",
        "summary": "Retrieve the OGC API landing page for this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPage"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/conformance": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "operationId": "getConformance",
        "summary": "Retrieve the set of OGC API conformance classes that are supported by this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Conformance"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPI",
        "summary": "Retrieve this API definition.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/API"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/processes-list": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPIProcesses",
        "summary": "Retrieve the list of processes available from this API implementation & deployment.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Enumeration"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/processes": {
      "get": {
        "summary": "retrieve the list of available processes",
        "description": "The list of processes contains a summary of each process the OGC API - Processes offers, including the link to a more detailed description of the process.\n\nFor more information, see [Section 7.7]https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_process_list).\n",
        "operationId": "getProcesses",
        "tags": [
          "Processes"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProcessList"
          }
        }
      },
      "post": {
        "summary": "deploy a process.",
        "description": "Deploys a process.\n\nFor more information, see [Section 6.3](http://docs.ogc.org/DRAFTS/20-044.html#_87a6983e-d060-458c-95ab-27e232e64822).\n",
        "operationId": "deploy",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/w"
          }
        ],
        "requestBody": {
          "description": "An OGC Application Package used to deploy a new process.",
          "required": true,
          "content": {
            "application/ogcapppkg+json": {
              "schema": {
                "$ref": "#/components/schemas/ogcapppkg"
              }
            },
            "application/cwl": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            },
            "application/cwl+json": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            },
            "application/cwl+yaml": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/ProcessDescription"
          },
          "400": {
            "description": "The requested workflow does not exist on the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/exception"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ImmutableProcess"
          },
          "409": {
            "$ref": "#/components/responses/DuplicateProcess"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/processes/{processID}": {
      "get": {
        "summary": "retrieve a process description",
        "description": "The process description contains information about inputs and outputs and a link to the execution-endpoint for the process. The Core does not mandate the use of a specific process description to specify the interface of a process. That said, the Core requirements class makes the following recommendation:\n\nImplementations SHOULD consider supporting the OGC process description.\n\nFor more information, see [Section 7.8](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_process_description).\n",
        "operationId": "getProcessDescription",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProcessDescription"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "replace a process.",
        "description": "Replaces a process.\n\nFor more information, see [Section 6.4](http://docs.ogc.org/DRAFTS/20-044.html#_18582f42-ebc6-4284-9333-c089068f62b6).\n",
        "operationId": "replace",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          }
        ],
        "requestBody": {
          "description": "An OGC Application Package used to deploy a new process.",
          "required": true,
          "content": {
            "application/ogcapppkg+json": {
              "schema": {
                "$ref": "#/components/schemas/ogcapppkg"
              }
            },
            "application/cwl": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            },
            "application/cwl+json": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            },
            "application/cwl+yaml": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/paths/~1processes/post/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/ImmutableProcess"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/DuplicateProcess"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "undeploy a process.",
        "description": "Undeploys a process.\n\nFor more information, see [Section 6.5](http://docs.ogc.org/DRAFTS/20-044.html#_16391f9e-538f-4a84-9710-72a6bab82842).\n",
        "operationId": "undeploy",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "403": {
            "$ref": "#/components/responses/ImmutableProcess"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/processes/{processID}/package": {
      "get": {
        "summary": "retrieve the formal description used to deploy a process",
        "description": "Access the formal description that can be used to deploy a process on an OGC API - Processes Server Instance.\n",
        "operationId": "getPackage",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          }
        ],
        "responses": {
          "200": {
            "description": "The formal used to deploy a process",
            "content": {
              "application/ogcapppkg+json": {
                "schema": {
                  "$ref": "#/components/schemas/ogcapppkg"
                }
              },
              "application/cwl": {
                "schema": {
                  "$ref": "#/components/schemas/CWL"
                }
              },
              "application/cwl+json": {
                "schema": {
                  "$ref": "#/components/schemas/CWL"
                }
              },
              "application/cwl+yaml": {
                "schema": {
                  "$ref": "#/components/schemas/CWL"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/processes/{processID}/execution": {
      "post": {
        "summary": "execute a process.",
        "description": "Executes a process (this may result in the creation of a job resource e.g., for _asynchronous execution_).\n\nFor more information, see [Section 7.9](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_create_job).\n",
        "operationId": "execute",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          },
          {
            "name": "response",
            "in": "query",
            "description": "For executing the process using the _Collection Output_ mechanism, where the\nclient is redirected (_303_ status) to either an OGC API landing page or\ncollection resource, from which one or more OGC API data access mechanism\nis available.  Data access requests may trigger processing on-demand for\na given area, time and resolution of interest.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "collection",
                "landingPage"
              ]
            }
          },
          {
            "in": "header",
            "description": "Indicates client preferences, including whether the client is capable of asynchronous processing.\nA `respond-async` preference indicates a preference for asynchronous processing.\nA `wait: <x>s` preference indicates that the client prefers to wait up to x seconds to receive a reponse synchronously before the server falls back to asynchronous processing.",
            "name": "Prefer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An execution request specifying any inputs for the process to execute, and optionally to select specific outputs.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/execute-workflow"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExecuteSync"
          },
          "201": {
            "$ref": "#/components/responses/ExecuteAsync"
          },
          "204": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "303": {
            "description": "For _Collection Output_ execution, redirection to an OGC API landing page or collection.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Location for redirection to an  [OGC API landing page](https://schemas.opengis.net/ogcapi/tiles/part1/1.0/openapi/schemas/common-core/landingPage.yaml) (for `response=landingPage`) as described in\n[OGC API - Common - Part 1: Core](http://docs.ogc.org/DRAFTS/19-072.html#_landing_page_requirements_class) or\nan [OGC API collection description](https://schemas.opengis.net/ogcapi/tiles/part1/1.0/openapi/schemas/common-geodata/collectionInfo.yaml) (for `response=landingPage`) as described in\n[OGC API - Common - Part 2: Geospatial data](http://docs.ogc.org/DRAFTS/20-024.html#collection-description).\nThe collection redirected to or the collections linked from the landing page redirected to\nmust contain links to at least one data access mechanism (such as [_OGC API - Tiles_](https://opengeospatial.github.io/ogcna-auto-review/20-057.html),\n[_DGGS_](https://opengeospatial.github.io/ogcna-auto-review/21-038.html),\n[_Coverages_](http://docs.ogc.org/DRAFTS/19-087.html),\n[_Features_](https://docs.opengeospatial.org/is/17-069r4/17-069r4.html),\n[_EDR_](https://docs.ogc.org/is/19-086r5/19-086r5.html), or\n[_Maps_](http://docs.ogc.org/DRAFTS/20-058.html)...) to retrieve output results, which may\ntrigger on-demand processing."
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "callbacks": {
          "jobCompleted": {
            "{$request.body#/subscriber/successUri}": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/results"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Results received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "summary": "retrieve the list of jobs.",
        "description": "Lists available jobs.\n\nFor more information, see [Section 12](https://docs.ogc.org/is/18-062r2/18-062r2.html#Job_list).\n",
        "operationId": "getJobs",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/processID-query"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/minDuration"
          },
          {
            "$ref": "#/components/parameters/maxDuration"
          },
          {
            "$ref": "#/components/parameters/type"
          },
          {
            "$ref": "#/components/parameters/datetime"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JobList"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/jobs/{jobID}": {
      "get": {
        "summary": "retrieve the status of a job",
        "description": "Shows the status of a job.\n\n For more information, see [Section 7.10](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_retrieve_status_info).\n",
        "operationId": "getStatus",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Status"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "cancel a job execution, remove a finished job",
        "description": "Cancel a job execution and remove it from the jobs list.\n\nFor more information, see [Section 14]https://docs.ogc.org/is/18-062r2/18-062r2.html#Dismiss).\n",
        "operationId": "dismiss",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Status"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results": {
      "get": {
        "summary": "retrieve the result(s) of a job",
        "description": "Lists available results of a job. In case of a failure, lists exceptions instead.\n\nFor more information, see [Section 7.11](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_retrieve_job_results).\n",
        "operationId": "getResult",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jobID"
          },
          {
            "in": "header",
            "description": "Indicates client preferences, such as whether the client wishes a self-contained or minimal response.\nA `return=minimal` preference indicates that the client would prefer that links be returned to larger object to minimize the response payload.\nA `return=representation` indicates that the client would prefer if the server can return a self-contained response.",
            "name": "Prefer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Results"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "confClasses": {
        "type": "object",
        "required": [
          "conformsTo"
        ],
        "properties": {
          "conformsTo": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/core"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "required": [
          "href"
        ],
        "properties": {
          "href": {
            "type": "string"
          },
          "rel": {
            "type": "string",
            "example": "service"
          },
          "type": {
            "type": "string",
            "example": "application/json"
          },
          "hreflang": {
            "type": "string",
            "example": "en"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "landingPage": {
        "type": "object",
        "required": [
          "links"
        ],
        "properties": {
          "title": {
            "type": "string",
            "example": "Example processing server"
          },
          "description": {
            "type": "string",
            "example": "Example server implementing the OGC API - Processes 1.0 Standard"
          },
          "attribution": {
            "type": "string",
            "title": "attribution for the Processes API",
            "description": "The `attribution` should be short and intended for presentation to a user, for example, in a corner of a map. Parts of the text can be links to other resources if additional information is needed. The string can include HTML markup."
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "exception": {
        "title": "Exception Schema",
        "description": "JSON schema for exceptions based on RFC 7807",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "collections": {
        "type": "object",
        "required": [
          "links",
          "collections"
        ],
        "properties": {
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "numberMatched": {
            "type": "integer",
            "minimum": 0,
            "example": 1
          },
          "numberReturned": {
            "type": "integer",
            "minimum": 0,
            "example": 1
          },
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/collectionInfo"
            }
          }
        }
      },
      "collectionInfo": {
        "type": "object",
        "required": [
          "id",
          "links"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "identifier of the collection used, for example, in URIs",
            "example": "dem"
          },
          "title": {
            "type": "string",
            "description": "human readable title of the collection",
            "example": "Digital Elevation Model"
          },
          "description": {
            "type": "string",
            "description": "a description of the data in the collection",
            "example": "A Digital Elevation Model."
          },
          "links": {
            "type": "array",
            "example": [
              {
                "href": "http://data.example.org/collections/dem?f=json",
                "rel": "self",
                "type": "application/json",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem?f=html",
                "rel": "alternate",
                "type": "application/json",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem/coverage",
                "rel": "coverage",
                "type": "image/tiff; application=geotiff",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem/coverage/domainset",
                "rel": "domainset",
                "type": "application/json",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem/coverage/rangetype",
                "rel": "rangetype",
                "type": "application/json",
                "title": "Digital Elevation Model"
              },
              {
                "href": "http://data.example.org/collections/dem/coverage/metadata",
                "rel": "metadata",
                "type": "application/json",
                "title": "Digital Elevation Model"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "extent": {
            "$ref": "#/components/schemas/extent-uad"
          },
          "itemType": {
            "description": "indicator about the type of the items in the collection if the collection has an accessible /collections/{collectionId}/items endpoint",
            "type": "string",
            "default": "unknown"
          },
          "crs": {
            "description": "the list of coordinate reference systems supported by the API; the first item is the default coordinate reference system",
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [
              "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
            ],
            "example": [
              "http://www.opengis.net/def/crs/OGC/1.3/CRS84",
              "http://www.opengis.net/def/crs/EPSG/0/4326"
            ]
          },
          "dataType": {
            "allOf": [
              {
                "description": "Type of data represented in the collection"
              },
              {
                "$ref": "#/components/schemas/dataType"
              }
            ]
          },
          "geometryDimension": {
            "description": "The geometry dimension of the features shown in this layer (0: points, 1: curves, 2: surfaces, 3: solids), unspecified: mixed or unknown",
            "type": "integer",
            "minimum": 0,
            "maximum": 3
          },
          "minScaleDenominator": {
            "description": "Minimum scale denominator for usage of the collection",
            "type": "number"
          },
          "maxScaleDenominator": {
            "description": "Maximum scale denominator for usage of the collection",
            "type": "number"
          },
          "minCellSize": {
            "description": "Minimum cell size for usage of the collection",
            "type": "number"
          },
          "maxCellSize": {
            "description": "Maximum cell size for usage of the collection",
            "type": "number"
          }
        }
      },
      "extent": {
        "description": "The extent of the data in the collection. In the Core only spatial and temporal\nextents are specified. Extensions may add additional members to represent other\nextents, for example, thermal or pressure ranges.\n\nThe first item in the array describes the overall extent of\nthe data. All subsequent items describe more precise extents,\ne.g., to identify clusters of data.\nClients only interested in the overall extent will only need to\naccess the first item in each array.",
        "type": "object",
        "properties": {
          "spatial": {
            "description": "The spatial extent of the data in the collection.",
            "type": "object",
            "properties": {
              "bbox": {
                "description": "One or more bounding boxes that describe the spatial extent of the dataset.\nIn the Core only a single bounding box is supported.\n\nExtensions may support additional areas.\nThe first bounding box describes the overall spatial\nextent of the data. All subsequent bounding boxes describe\nmore precise bounding boxes, e.g., to identify clusters of data.\nClients only interested in the overall spatial extent will\nonly need to access the first item in each array.",
                "type": "array",
                "minItems": 1,
                "items": {
                  "description": "Each bounding box is provided as four or six numbers, depending on\nwhether the coordinate reference system includes a vertical axis\n(height or depth):\n\n* Lower left corner, coordinate axis 1\n* Lower left corner, coordinate axis 2\n* Minimum value, coordinate axis 3 (optional)\n* Upper right corner, coordinate axis 1\n* Upper right corner, coordinate axis 2\n* Maximum value, coordinate axis 3 (optional)\n\nIf the value consists of four numbers, the coordinate reference system is\nWGS 84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84)\nunless a different coordinate reference system is specified in a parameter `bbox-crs`.\n\nIf the value consists of six numbers, the coordinate reference system is WGS 84\nlongitude/latitude/ellipsoidal height (http://www.opengis.net/def/crs/OGC/0/CRS84h)\nunless a different coordinate reference system is specified in a parameter `bbox-crs`.\n\nFor WGS 84 longitude/latitude the values are in most cases the sequence of\nminimum longitude, minimum latitude, maximum longitude and maximum latitude.\nHowever, in cases where the box spans the antimeridian the first value\n(west-most box edge) is larger than the third value (east-most box edge).\n\nIf the vertical axis is included, the third and the sixth number are\nthe bottom and the top of the 3-dimensional bounding box.\n\nIf a feature has multiple spatial geometry properties, it is the decision of the\nserver whether only a single spatial geometry property is used to determine\nthe extent or all relevant geometries.",
                  "type": "array",
                  "oneOf": [
                    {
                      "minItems": 4,
                      "maxItems": 4
                    },
                    {
                      "minItems": 6,
                      "maxItems": 6
                    }
                  ],
                  "items": {
                    "type": "number"
                  },
                  "example": [
                    -180,
                    -90,
                    180,
                    90
                  ]
                }
              },
              "crs": {
                "description": "Coordinate reference system of the coordinates in the spatial extent\n(property `bbox`). The default reference system is WGS 84 longitude/latitude.\nIn the Core the only other supported coordinate reference system is\nWGS 84 longitude/latitude/ellipsoidal height for coordinates with height.\nExtensions may support additional coordinate reference systems and add\nadditional enum values.",
                "type": "string",
                "enum": [
                  "http://www.opengis.net/def/crs/OGC/1.3/CRS84",
                  "http://www.opengis.net/def/crs/OGC/0/CRS84h"
                ],
                "default": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
              },
              "grid": {
                "description": "Provides information about the limited availability of data within the collection organized\nas a grid (regular or irregular) along each spatial dimension.",
                "type": "array",
                "minItems": 2,
                "maxItems": 3,
                "items": {
                  "type": "object",
                  "properties": {
                    "coordinates": {
                      "description": "List of coordinates along the dimension for which data organized as an irregular grid in the collection is available\n(e.g., 2, 10, 80, 100).",
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "nullable": true
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "example": [
                        2,
                        10,
                        80,
                        100
                      ]
                    },
                    "cellsCount": {
                      "description": "Number of samples available along the dimension for data organized as a regular grid.\nFor values representing the whole area of contiguous cells spanning _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_.\nFor values representing infinitely small point cells spaced by _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_ + 1.",
                      "type": "integer",
                      "example": 50
                    },
                    "resolution": {
                      "description": "Resolution of regularly gridded data along the dimension in the collection",
                      "oneOf": [
                        {
                          "type": "string",
                          "nullable": true
                        },
                        {
                          "type": "number"
                        }
                      ],
                      "example": 0.0006866455078
                    }
                  }
                }
              }
            }
          },
          "temporal": {
            "description": "The temporal extent of the features in the collection.",
            "type": "object",
            "properties": {
              "interval": {
                "description": "One or more time intervals that describe the temporal extent of the dataset.\nIn the Core only a single time interval is supported.\n\nExtensions may support multiple intervals.\nThe first time interval describes the overall\ntemporal extent of the data. All subsequent time intervals describe\nmore precise time intervals, e.g., to identify clusters of data.\nClients only interested in the overall extent will only need\nto access the first item in each array.",
                "type": "array",
                "minItems": 1,
                "items": {
                  "description": "Begin and end times of the time interval. The timestamps are in the\ntemporal coordinate reference system specified in `trs`. By default\nthis is the Gregorian calendar.\n\nThe value `null` for start or end time is supported and indicates a half-bounded time interval.",
                  "type": "array",
                  "minItems": 2,
                  "maxItems": 2,
                  "items": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "example": [
                    "2011-11-11T12:22:11Z",
                    null
                  ]
                }
              },
              "trs": {
                "description": "Coordinate reference system of the coordinates in the temporal extent\n(property `interval`). The default reference system is the Gregorian calendar.\nIn the Core this is the only supported temporal coordinate reference system.\nExtensions may support additional temporal coordinate reference systems and add\nadditional enum values.",
                "type": "string",
                "enum": [
                  "http://www.opengis.net/def/uom/ISO-8601/0/Gregorian"
                ],
                "default": "http://www.opengis.net/def/uom/ISO-8601/0/Gregorian"
              },
              "grid": {
                "type": "object",
                "description": "Provides information about the limited availability of data within the collection organized as a grid (regular or irregular) along the temporal dimension.",
                "properties": {
                  "coordinates": {
                    "description": "List of coordinates along the temporal dimension for which data organized as an irregular grid in the collection is available\n(e.g., \"2017-11-14T09:00Z\",\"2017-11-14T12:00Z\",\"2017-11-14T15:00Z\",\"2017-11-14T18:00Z\",\"2017-11-14T21:00Z\").",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "nullable": true
                    },
                    "example": [
                      [
                        "2020-11-12T12:15Z",
                        "2020-11-12T12:30Z",
                        "2020-11-12T12:45Z"
                      ]
                    ]
                  },
                  "cellsCount": {
                    "description": "Number of samples available along the temporal dimension for data organized as a regular grid.\nFor values representing the whole area of contiguous cells spanning _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_.\nFor values representing infinitely small point cells spaced by _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_ + 1.",
                    "type": "integer",
                    "example": 50
                  },
                  "resolution": {
                    "description": "Resolution of regularly gridded data along the temporal dimension in the collection",
                    "oneOf": [
                      {
                        "type": "string",
                        "nullable": true
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "example": "PT1H"
                  }
                }
              }
            }
          }
        }
      },
      "extent-uad": {
        "title": "Extent with Uniform Additional Dimensions Schema",
        "description": "The extent module only addresses spatial and temporal extents. This module extends extent by specifying how\nintervals and crs properties can be used to specify additional geometries.",
        "allOf": [
          {
            "$ref": "#/components/schemas/extent"
          },
          {
            "type": "object",
            "additionalProperties": {
              "description": "The domain intervals for any additional dimensions of the extent (envelope) beyond those described in temporal and spatial.",
              "type": "object",
              "oneOf": [
                {
                  "required": [
                    "interval",
                    "crs"
                  ]
                },
                {
                  "required": [
                    "interval",
                    "trs"
                  ]
                },
                {
                  "required": [
                    "interval",
                    "vrs"
                  ]
                }
              ],
              "properties": {
                "interval": {
                  "description": "One or more intervals that describe the extent for this dimension of the dataset.\nThe value `null` is supported and indicates an unbounded or half-bounded interval.\nThe first interval describes the overall extent of the data for this dimension.\nAll subsequent intervals describe more precise intervals, e.g., to identify clusters of data.\nClients only interested in the overall extent will only need\nto access the first item (a pair of lower and upper bound values).",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "description": "Lower and upper bound values of the interval. The values\nare in the coordinate reference system specified in `crs`, `trs` or `vrs`.",
                    "type": "array",
                    "minItems": 2,
                    "maxItems": 2,
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "nullable": true
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    "example": [
                      "2011-11-11T12:22:11Z",
                      32.5,
                      null
                    ]
                  }
                },
                "crs": {
                  "type": "string",
                  "description": "generic coordinate reference system suitable for any type of dimensions"
                },
                "trs": {
                  "type": "string",
                  "description": "temporal coordinate reference system (e.g. as defined by Features for 'temporal')"
                },
                "vrs": {
                  "type": "string",
                  "description": "vertical coordinate reference system (e.g. as defined in EDR for 'vertical')"
                },
                "grid": {
                  "type": "object",
                  "description": "Provides information about the limited availability of data within the collection organized as a grid (regular or irregular) along the dimension.",
                  "properties": {
                    "coordinates": {
                      "description": "List of coordinates along the temporal dimension for which data organized as an irregular grid in the collection is available\n(e.g., 2, 10, 80, 100).",
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "oneOf": [
                          {
                            "type": "string",
                            "nullable": true
                          },
                          {
                            "type": "number"
                          }
                        ]
                      },
                      "example": [
                        2,
                        10,
                        80,
                        100
                      ]
                    },
                    "cellsCount": {
                      "description": "Number of samples available along the dimension for data organized as a regular grid.\nFor values representing the whole area of contiguous cells spanning _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_.\nFor values representing infinitely small point cells spaced by _resolution_ units along the dimension, this will be (_upperBound_ - _lowerBound_) / _resolution_ + 1.",
                      "type": "integer",
                      "example": 50
                    },
                    "resolution": {
                      "description": "Resolution of regularly gridded data along the dimension in the collection",
                      "oneOf": [
                        {
                          "type": "string",
                          "nullable": true
                        },
                        {
                          "type": "number"
                        }
                      ],
                      "example": [
                        "PT1H",
                        0.0006866455078
                      ]
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "crs": {
        "title": "CRS",
        "oneOf": [
          {
            "description": "Simplification of the object into a url if the other properties are not present",
            "type": "string"
          },
          {
            "type": "object",
            "oneOf": [
              {
                "required": [
                  "uri"
                ],
                "properties": {
                  "uri": {
                    "description": "Reference to one coordinate reference system (CRS)",
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              {
                "required": [
                  "wkt"
                ],
                "properties": {
                  "wkt": {
                    "allOf": [
                      {
                        "description": "An object defining the CRS using the JSON encoding for Well-known text representation of coordinate reference systems 2.0"
                      },
                      {
                        "type": "object"
                      }
                    ]
                  }
                }
              },
              {
                "required": [
                  "referenceSystem"
                ],
                "properties": {
                  "referenceSystem": {
                    "description": "A reference system data structure as defined in the MD_ReferenceSystem of the ISO 19115",
                    "type": "object"
                  }
                }
              }
            ]
          }
        ]
      },
      "dataType": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "string",
            "enum": [
              "map",
              "vector",
              "coverage"
            ]
          }
        ]
      },
      "timeStamp": {
        "description": "This property indicates the time and date when the response was generated using RFC 3339 notation.",
        "type": "string",
        "format": "date-time",
        "example": "2017-08-17T08:05:32Z"
      },
      "numberReturned": {
        "description": "The number of features in the feature collection.\nA server may omit this information in a response, if the information\nabout the number of features is not known or difficult to compute.\nIf the value is provided, the value shall be identical to the number\nof items in the \"features\" array.",
        "type": "integer",
        "minimum": 0,
        "example": 10
      },
      "numberMatched": {
        "description": "The number of features of the feature type that match the selection\nparameters like `bbox`.",
        "type": "integer",
        "minimum": 0,
        "example": 127
      },
      "CWL": {
        "oneOf": [
          {
            "allOf": [
              {
                "type": "object",
                "properties": {
                  "cwlVersion": {
                    "type": "string",
                    "title": "cwlVersion",
                    "description": "CWL version of the described application package.",
                    "pattern": "^v\\d+(\\.\\d+(\\.\\d+)*)*$"
                  }
                },
                "required": [
                  "cwlVersion"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "s:keywords": {
                    "type": "array",
                    "title": "KeywordList",
                    "description": "Keywords applied to the process for search and categorization purposes.",
                    "items": {
                      "type": "string",
                      "title": "keyword",
                      "minLength": 1
                    }
                  },
                  "version": {
                    "type": "string",
                    "title": "version",
                    "description": "Version of the process.",
                    "example": "1.2.3",
                    "pattern": "^\\d+(\\.\\d+(\\.\\d+(\\.[A-Za-z0-9\\-_]+)*)*)*$"
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "doc": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  }
                }
              },
              {
                "type": "object",
                "title": "CWL atomic definition",
                "description": "Direct CWL definition instead of the graph representation.",
                "properties": {
                  "id": {
                    "anyOf": [
                      {
                        "type": "string",
                        "title": "UUID",
                        "description": "Unique identifier.",
                        "format": "uuid",
                        "pattern": "^[a-f0-9]{8}(?:-?[a-f0-9]{4}){3}-?[a-f0-9]{12}$"
                      },
                      {
                        "description": "Identifier with text pattern that can allow additional non-ASCII characters depending on regex implementation.\nThe identifier allows a '#' or a relative 'sub/part#ref' prefix, to support references to other definitions\nin the CWL document, such as when using 'SchemaDefRequirement'.\n\nJSON spec regex does not include '\\w' in its default subset to allow all word-like unicode characters\n(see reference: https://json-schema.org/understanding-json-schema/reference/regular_expressions.html).\n\nSince support is implementation specific, add both the ASCII-only and '\\w' representation simultaneously\nand let the parser reading this document apply whichever is more relevant or supported\n(see discussion: https://github.com/common-workflow-language/cwl-v1.2/pull/256#discussion_r1234037814).\n",
                        "pattern": "^([A-Za-z0-9\\w]+(/[A-Za-z0-9\\w]+)*)?[#.]?[A-Za-z0-9\\w]+(?:[-_.][A-Za-z0-9\\w]+)*$",
                        "type": "string",
                        "title": "Generic identifier name pattern."
                      }
                    ],
                    "title": "CWLIdentifier",
                    "description": "Reference to the process identifier."
                  },
                  "class": {
                    "type": "string",
                    "title": "Class",
                    "description": "CWL class specification. This is used to differentiate between single Application Package (AP)definitions and Workflow that chains multiple packages.",
                    "enum": [
                      "CommandLineTool",
                      "ExpressionTool"
                    ]
                  },
                  "intent": {
                    "type": "array",
                    "title": "CWLIntent",
                    "items": {
                      "type": "string",
                      "title": "item",
                      "description": "Identifier URL to a concept for the type of computational operation accomplished by this process\n(see example operations: http://edamontology.org/operation_0004).\n",
                      "format": "url",
                      "pattern": "^((?:http|ftp)s?://)?(?!.*//.*$)(?:(?:[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?\\.)+(?:[A-Za-z]{2,6}\\.?|[A-Za-z0-9-]{2,}\\.?)|localhost|\\[[a-f0-9:]+\\]|\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3})(?::\\d+)?(?:/?|[/?]\\S+)$"
                    }
                  },
                  "requirements": {
                    "title": "CWLRequirements",
                    "description": "Explicit requirement to execute the application package.",
                    "oneOf": [
                      {
                        "title": "CWLRequirementsMap",
                        "type": "object",
                        "properties": {
                          "cwltool:CUDARequirement": {
                            "type": "object",
                            "title": "cwltool:CUDARequirement",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
                                  "cwltool:CUDARequirement"
                                ]
                              },
                              "cudaVersionMin": {
                                "type": "string",
                                "title": "CUDA version minimum",
                                "description": "The minimum CUDA version required to run the software. This corresponds to a CUDA SDK release.\n\nWhen run in a container, the container image should provide the CUDA runtime,\nand the host driver is injected into the container.  In this case, because CUDA drivers\nare backwards compatible, it is possible to use an older SDK with a newer driver across major versions.\n\nSee https://docs.nvidia.com/deploy/cuda-compatibility/ for details.\n",
                                "example": "11.4",
                                "pattern": "^\\d+\\.\\d+$"
                              },
                              "cudaComputeCapability": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "title": "CUDA compute capability",
                                    "description": "The compute capability supported by the GPU hardware.",
                                    "pattern": "^\\d+\\.\\d+$"
                                  },
                                  {
                                    "type": "array",
                                    "title": "CUDAComputeCapabilityArray",
                                    "items": {
                                      "type": "string",
                                      "title": "CUDA compute capability",
                                      "description": "The compute capability supported by the GPU hardware.",
                                      "pattern": "^\\d+\\.\\d+$"
                                    },
                                    "minItems": 1
                                  }
                                ],
                                "title": "CUDA compute capability",
                                "description": "The compute capability supported by the GPU hardware.\n\n* If this is a single value, it defines only the minimum compute capability.\n  GPUs with higher capability are also accepted.\n* If it is an array value, then only select GPUs with compute capabilities that explicitly\n  appear in the array.\n  See https://docs.nvidia.com/deploy/cuda-compatibility/#faq and\n  https://docs.nvidia.com/cuda/cuda-c-best-practices-guide/index.html#cuda-compute-capability\n  for details.\n"
                              },
                              "cudaDeviceCountMin": {
                                "type": "integer",
                                "title": "CUDA device count minimum",
                                "description": "The minimum amount of devices required.",
                                "default": 1,
                                "example": 1,
                                "minimum": 1
                              },
                              "cudaDeviceCountMax": {
                                "type": "integer",
                                "title": "CUDA device count maximum",
                                "description": "The maximum amount of devices required.",
                                "default": 1,
                                "example": 8,
                                "minimum": 1
                              }
                            },
                            "required": [
                              "cudaVersionMin",
                              "cudaComputeCapability"
                            ],
                            "additionalProperties": false
                          },
                          "DockerRequirement": {
                            "type": "object",
                            "title": "DockerRequirement",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
                                  "DockerRequirement"
                                ]
                              },
                              "dockerPull": {
                                "type": "string",
                                "title": "Docker pull reference",
                                "description": "Reference package that will be retrieved and executed by CWL.",
                                "example": "docker-registry.host.com/namespace/image:1.2.3"
                              },
                              "dockerImport": {
                                "type": "string"
                              },
                              "dockerLoad": {
                                "type": "string"
                              },
                              "dockerFile": {
                                "type": "string"
                              },
                              "dockerImageId": {
                                "type": "string"
                              },
                              "dockerOutputDirectory": {
                                "type": "string"
                              }
                            },
                            "oneOf": [
                              {
                                "required": [
                                  "dockerPull"
                                ]
                              },
                              {
                                "required": [
                                  "dockerImport"
                                ]
                              },
                              {
                                "required": [
                                  "dockerLoad"
                                ]
                              },
                              {
                                "required": [
                                  "dockerFile"
                                ]
                              }
                            ],
                            "additionalProperties": false
                          },
                          "SoftwareRequirement": {
                            "type": "object",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
                                  "SoftwareRequirement"
                                ]
                              },
                              "packages": {
                                "oneOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "package": {
                                          "type": "string"
                                        },
                                        "version": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "specs": {
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "format": "url",
                                            "pattern": "^((?:http|ftp)s?:\\/\\/)?(?!.*\\/\\/.*$)(?:(?:[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?\\.)+(?:[A-Za-z]{2,6}\\.?|[A-Za-z0-9-]{2,}\\.?)|localhost|\\[[a-f0-9:]+\\]|\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3})(?::\\d+)?(?:\\/?|[/?]\\S+)$"
                                          }
                                        }
                                      },
                                      "required": [
                                        "package"
                                      ],
                                      "additionalProperties": false
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "description": "Mapping of 'package' name to its specifications.",
                                    "additionalProperties": {
                                      "oneOf": [
                                        {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        {
                                          "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/requirements/oneOf/0/properties/SoftwareRequirement/properties/packages/oneOf/0/items"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                            "required": [
                              "packages"
                            ],
                            "additionalProperties": false
                          },
                          "ShellCommandRequirement": {
                            "type": "object",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
                                  "ShellCommandRequirement"
                                ]
                              }
                            },
                            "additionalProperties": false
                          },
                          "EnvVarRequirement": {
                            "type": "object",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
                                  "EnvVarRequirement"
                                ]
                              },
                              "envDef": {
                                "oneOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "envName": {
                                          "type": "string",
                                          "minLength": 1
                                        },
                                        "envValue": {
                                          "type": {
                                            "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                          }
                                        }
                                      },
                                      "required": [
                                        "envName",
                                        "envValue"
                                      ],
                                      "additionalProperties": false
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "description": "Mapping of 'envName' to environment value or definition.",
                                    "additionalProperties": {
                                      "oneOf": [
                                        {
                                          "description": "The 'envValue' specified directly",
                                          "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                        },
                                        {
                                          "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/requirements/oneOf/0/properties/EnvVarRequirement/properties/envDef/oneOf/0/items"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                            "required": [
                              "envDef"
                            ],
                            "additionalProperties": false
                          },
                          "SchemaDefRequirement": {
                            "type": "object",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
                                  "SchemaDefRequirement"
                                ]
                              },
                              "types": {
                                "type": "array",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "object",
                                      "title": "CWLTypeEnum",
                                      "summary": "CWL type as enum of values.",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "title": "type",
                                          "example": "enum",
                                          "enum": [
                                            "enum"
                                          ]
                                        },
                                        "symbols": {
                                          "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/inputs/oneOf/0/items/allOf/1/allOf/8/if/properties/symbols"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "symbols"
                                      ],
                                      "additionalProperties": {}
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "record"
                                          ]
                                        },
                                        "fields": {
                                          "oneOf": [
                                            {
                                              "type": "object",
                                              "additionalProperties": {
                                                "oneOf": [
                                                  {
                                                    "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/inputs/oneOf/1/allOf/0/additionalProperties/oneOf/0"
                                                  },
                                                  {
                                                    "allOf": [
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "name": {
                                                            "description": "Required if list item. Otherwise, optional since it is the mapping key.\nThis requirement is defined in 'CWLTypeRecordFieldsItem' to allow reuse of this schema.\n",
                                                            "type": "string"
                                                          },
                                                          "type": {
                                                            "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/inputs/oneOf/1/allOf/0/additionalProperties/oneOf/0"
                                                          }
                                                        },
                                                        "required": [
                                                          "type"
                                                        ]
                                                      },
                                                      {
                                                        "description": "Explicitly disallow these parameters when non-File type is detected.\nOtherwise, validate their schema definitions according to what is permitted.\nParameters that are only valid when 'type' or 'items' evaluates to 'File'.\n",
                                                        "type": "object",
                                                        "if": {
                                                          "properties": {
                                                            "oneOf": [
                                                              {
                                                                "description": "Single required or optional 'File'.",
                                                                "type": {
                                                                  "enum": [
                                                                    "File",
                                                                    "File?",
                                                                    "File[]",
                                                                    "File[]?"
                                                                  ]
                                                                }
                                                              },
                                                              {
                                                                "description": "Array of required or optional 'File'.",
                                                                "type": {
                                                                  "const": "array"
                                                                },
                                                                "items": {
                                                                  "oneOf": [
                                                                    {
                                                                      "type": [
                                                                        {
                                                                          "const": "File"
                                                                        },
                                                                        {
                                                                          "const": "File?"
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "type": "array",
                                                                      "contains": {
                                                                        "type": [
                                                                          {
                                                                            "const": "File"
                                                                          },
                                                                          {
                                                                            "const": "File?"
                                                                          }
                                                                        ]
                                                                      }
                                                                    }
                                                                  ]
                                                                }
                                                              }
                                                            ]
                                                          }
                                                        },
                                                        "then": {
                                                          "type": "object",
                                                          "properties": {
                                                            "secondaryFiles": {
                                                              "oneOf": [
                                                                {
                                                                  "description": "Either an expression or the regex pattern directly.",
                                                                  "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                                                },
                                                                {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "pattern": {
                                                                      "description": "Either an expression or the regex pattern directly.",
                                                                      "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                                                    },
                                                                    "required": {
                                                                      "oneOf": [
                                                                        {
                                                                          "type": "boolean"
                                                                        },
                                                                        {
                                                                          "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                                                        }
                                                                      ]
                                                                    }
                                                                  },
                                                                  "required": [
                                                                    "pattern"
                                                                  ],
                                                                  "additionalProperties": false
                                                                },
                                                                {
                                                                  "type": "array",
                                                                  "items": {
                                                                    "description": "Either an expression or the regex pattern directly.",
                                                                    "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                                                  }
                                                                },
                                                                {
                                                                  "type": "array",
                                                                  "items": {
                                                                    "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/requirements/oneOf/0/properties/SchemaDefRequirement/properties/types/items/oneOf/1/properties/fields/oneOf/0/additionalProperties/oneOf/1/allOf/1/then/properties/secondaryFiles/oneOf/1"
                                                                  }
                                                                }
                                                              ]
                                                            },
                                                            "streamable": {
                                                              "type": "boolean"
                                                            },
                                                            "format": {
                                                              "oneOf": [
                                                                {
                                                                  "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                                                },
                                                                {
                                                                  "type": "array",
                                                                  "items": {
                                                                    "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                                                  }
                                                                }
                                                              ]
                                                            },
                                                            "loadContents": {
                                                              "type": "boolean"
                                                            }
                                                          }
                                                        },
                                                        "else": {
                                                          "not": {
                                                            "properties": {
                                                              "secondaryFiles": {},
                                                              "streamable": {},
                                                              "format": {},
                                                              "loadContents": {}
                                                            }
                                                          }
                                                        }
                                                      },
                                                      {
                                                        "description": "Explicitly disallow these parameters when non-Directory type is detected.\nOtherwise, validate their schema definitions according to what is permitted.\nParameters that are only valid when 'type' or 'items' evaluates to 'Directory'.\n",
                                                        "type": "object",
                                                        "if": {
                                                          "properties": {
                                                            "oneOf": [
                                                              {
                                                                "description": "Single required or optional 'Directory'.",
                                                                "type": {
                                                                  "enum": [
                                                                    "Directory",
                                                                    "Directory?",
                                                                    "Directory[]",
                                                                    "Directory[]?"
                                                                  ]
                                                                }
                                                              },
                                                              {
                                                                "description": "Array of required or optional 'Directory'.",
                                                                "type": {
                                                                  "const": "array"
                                                                },
                                                                "items": {
                                                                  "oneOf": [
                                                                    {
                                                                      "type": [
                                                                        {
                                                                          "const": "Directory"
                                                                        },
                                                                        {
                                                                          "const": "Directory?"
                                                                        }
                                                                      ]
                                                                    },
                                                                    {
                                                                      "type": "array",
                                                                      "contains": {
                                                                        "type": [
                                                                          {
                                                                            "const": "Directory"
                                                                          },
                                                                          {
                                                                            "const": "Directory?"
                                                                          }
                                                                        ]
                                                                      }
                                                                    }
                                                                  ]
                                                                }
                                                              }
                                                            ]
                                                          }
                                                        },
                                                        "then": {
                                                          "type": "object",
                                                          "properties": {
                                                            "loadListing": {
                                                              "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/requirements/oneOf/0/properties/LoadListingRequirement/properties/loadListing"
                                                            }
                                                          }
                                                        },
                                                        "else": {
                                                          "not": {
                                                            "properties": {
                                                              "loadListing": {}
                                                            }
                                                          }
                                                        }
                                                      }
                                                    ]
                                                  }
                                                ]
                                              }
                                            },
                                            {
                                              "type": "array",
                                              "items": {
                                                "allOf": [
                                                  {
                                                    "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/requirements/oneOf/0/properties/SchemaDefRequirement/properties/types/items/oneOf/1/properties/fields/oneOf/0/additionalProperties/oneOf/1"
                                                  },
                                                  {
                                                    "required": [
                                                      "name"
                                                    ]
                                                  }
                                                ]
                                              }
                                            }
                                          ]
                                        },
                                        "name": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type"
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "array"
                                          ]
                                        },
                                        "items": {
                                          "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/inputs/oneOf/1/allOf/0/additionalProperties/oneOf/0"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "items"
                                      ]
                                    },
                                    {
                                      "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/inputs/oneOf/2"
                                    }
                                  ]
                                }
                              }
                            },
                            "required": [
                              "types"
                            ],
                            "additionalProperties": false
                          },
                          "InitialWorkDirRequirement": {
                            "type": "object",
                            "title": "InitialWorkDirRequirement",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
                                  "InitialWorkDirRequirement"
                                ]
                              },
                              "listing": {
                                "title": "InitialWorkDirListing",
                                "oneOf": [
                                  {
                                    "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                  },
                                  {
                                    "type": "array",
                                    "title": "InitialWorkDirListingItems",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "null"
                                        },
                                        {
                                          "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                        },
                                        {
                                          "description": "Called 'Dirent' in documentation.",
                                          "type": "object",
                                          "title": "DirectoryListingDirent",
                                          "properties": {
                                            "entry": {
                                              "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                            },
                                            "entryname": {
                                              "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/arguments/items/oneOf/1/properties/valueFrom"
                                            },
                                            "writable": {
                                              "type": "boolean"
                                            }
                                          },
                                          "required": [
                                            "entry"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "class": {
                                              "type": "string",
                                              "enum": [
                                                "File",
                                                "Directory"
                                              ]
                                            },
                                            "location": {
                                              "type": "string"
                                            },
                                            "checksum": {
                                              "description": "Minimal pattern check to know which hash algorithm to apply,\nbut don't check too harshly for the rest (length, allowed characters, etc.).\n",
                                              "type": "string",
                                              "pattern": "^[a-z0-9\\-]+\\$[\\w\\-.]+$"
                                            },
                                            "size": {
                                              "type": "integer",
                                              "minimum": 0
                                            }
                                          },
                                          "required": [
                                            "class",
                                            "location"
                                          ],
                                          "additionalProperties": false
                                        },
                                        {
                                          "type": "array",
                                          "items": {
                                            "$ref": "#/components/schemas/CWL/oneOf/0/allOf/3/properties/requirements/oneOf/0/properties/InitialWorkDirRequirement/properties/listing/oneOf/1/items/oneOf/3"
                                          }
                                        }
                                      ]
                                    }
                                  }
                                ]
                              }
                            },
                            "required": [
                              "listing"
                            ],
                            "additionalProperties": false
                          },
                          "InlineJavascriptRequirement": {
                            "type": "object",
                            "title": "InlineJavascriptRequirement",
                            "description": "Indicates that the workflow platform must support inline Javascript expressions.\n\nIf this requirement is not present, the workflow platform must not perform expression interpolation\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#InlineJavascriptRequirement).\n",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
                                  "InlineJavascriptRequirement"
                                ]
                              },
                              "expressionLib": {
                                "type": "array",
                                "title": "InlineJavascriptLibraries",
                                "description": "Additional code fragments that will also be inserted before executing the expression code.\nAllows for function definitions that may be called from CWL expressions.\n",
                                "items": {
                                  "title": "exp_lib",
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "$include": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "$include"
                                      ],
                                      "additionalProperties": false
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "expressionLib"
                              ]
                            },
                            "additionalProperties": false
                          },
                          "InplaceUpdateRequirement": {
                            "type": "object",
                            "title": "InplaceUpdateRequirement",
                            "description": "If 'inplaceUpdate' is true, then an implementation supporting this feature may permit tools to directly\nupdate files with 'writable: true' in 'InitialWorkDirRequirement'. That is, as an optimization,\nfiles may be destructively modified in place as opposed to copied and updated\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#InplaceUpdateRequirement).\n",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
                                  "InplaceUpdateRequirement"
                                ]
                              },
                              "inplaceUpdate": {
                                "type": "boolean",
                                "title": "inplaceUpdate"
                              }
                            },
                            "required": [
                              "inplaceUpdate"
                            ],
                            "additionalProperties": false
                          },
                          "LoadListingRequirement": {
                            "type": "object",
                            "title": "LoadListingRequirement",
                            "description": "Specify the desired behavior for loading the listing field of a 'Directory' object for use by expressions\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#LoadListingRequirement).\n",
                            "properties": {
                              "class": {
                                "type": "string",
                                "enum": [
[...]
