{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0rc1",
    "title": "OGC API - Processes",
    "description": "Example API Definition for OGC API - Processes",
    "contact": {
      "name": "Open Geospatial Consortium",
      "email": "info@ogc.org"
    },
    "license": {
      "name": "OGC License",
      "url": "http://www.opengeospatial.org/legal/"
    }
  },
  "servers": [
    {
      "description": "Example Server 1 (GNOSIS, supporting Part 1: Core /Sync and Part 3: Workflows)",
      "url": "https://maps.gnosis.earth/ogcapi"
    },
    {
      "description": "Example Server 2 (CRIM Hirondelle, supporting Parts 1, 2, 3, 4)",
      "url": "https://hirondelle.crim.ca/ogcapi/processes"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Landing Page"
        ],
        "operationId": "getLandingPage",
        "summary": "Retrieve the OGC API landing page for this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/unspecified-f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/common-core-rLandingPage"
          },
          "406": {
            "$ref": "#/components/responses/common-core-rNotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/conformance": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "operationId": "getConformance",
        "summary": "Retrieve the set of OGC API conformance classes that are supported by this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/unspecified-f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/common-core-rConformance"
          },
          "406": {
            "$ref": "#/components/responses/common-core-rNotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/api": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPI",
        "summary": "Retrieve this API definition.",
        "parameters": [
          {
            "$ref": "#/components/parameters/unspecified-f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/common-core-rAPI"
          },
          "406": {
            "$ref": "#/components/responses/common-core-rNotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/api/processes-list": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPIProcesses",
        "summary": "Retrieve the list of processes available from this API implementation & deployment.",
        "parameters": [
          {
            "$ref": "#/components/parameters/unspecified-f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/dynamic-rEnumeration"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "406": {
            "$ref": "#/components/responses/common-core-rNotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/processes": {
      "get": {
        "summary": "retrieve the list of available processes",
        "description": "The list of processes contains a summary of each process the OGC API - Processes offers, including the link to a more detailed description of the process.\n\nFor more information, see [Section 7.7]https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_process_list).\n",
        "operationId": "getProcesses",
        "tags": [
          "Processes",
          "Core"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rProcessList"
          }
        }
      },
      "post": {
        "summary": "deploy a process.",
        "description": "Deploys a process.\n\nFor more information, see [Section 6.3](http://docs.ogc.org/DRAFTS/20-044.html#_87a6983e-d060-458c-95ab-27e232e64822).\n",
        "operationId": "deploy",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-dru-w-param"
          }
        ],
        "requestBody": {
          "description": "An OGC Application Package used to deploy a new process.",
          "required": true,
          "content": {
            "application/ogcapppkg+json": {
              "schema": {
                "$ref": "#/components/schemas/processes-dru-ogcapppkg"
              }
            },
            "application/cwl": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+json": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+yaml": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/processes-dru-rProcessSummary"
          },
          "400": {
            "$ref": "#/components/responses/common-core-rException"
          },
          "403": {
            "$ref": "#/components/responses/processes-dru-rImmutableProcess"
          },
          "409": {
            "$ref": "#/components/responses/processes-dru-rDuplicateProcess"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/processes/{processID}": {
      "get": {
        "summary": "deploy a process.",
        "description": "Deploys a process.\n\nFor more information, see [Section 6.3](http://docs.ogc.org/DRAFTS/20-044.html#_87a6983e-d060-458c-95ab-27e232e64822).\n",
        "operationId": "deploy",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-dru-w-param"
          }
        ],
        "requestBody": {
          "description": "An OGC Application Package used to deploy a new process.",
          "required": true,
          "content": {
            "application/ogcapppkg+json": {
              "schema": {
                "$ref": "#/components/schemas/processes-dru-ogcapppkg"
              }
            },
            "application/cwl": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+json": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+yaml": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/processes-dru-rProcessSummary"
          },
          "400": {
            "$ref": "#/components/responses/common-core-rException"
          },
          "403": {
            "$ref": "#/components/responses/processes-dru-rImmutableProcess"
          },
          "409": {
            "$ref": "#/components/responses/processes-dru-rDuplicateProcess"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      },
      "put": {
        "summary": "replace a process.",
        "description": "Replaces a process.\n\nFor more information, see [Section 6.4](http://docs.ogc.org/DRAFTS/20-044.html#_18582f42-ebc6-4284-9333-c089068f62b6).\n",
        "operationId": "replace",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-processID-path"
          }
        ],
        "requestBody": {
          "description": "An OGC Application Package used to deploy a new process.",
          "required": true,
          "content": {
            "application/ogcapppkg+json": {
              "schema": {
                "$ref": "#/components/schemas/processes-dru-ogcapppkg"
              }
            },
            "application/cwl": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+json": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+yaml": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-dru-rProcessSummary"
          },
          "201": {
            "$ref": "#/components/responses/processes-dru-rProcessSummary"
          },
          "202": {
            "$ref": "#/components/responses/processes-dru-rProcessSummary"
          },
          "204": {
            "$ref": "#/components/responses/processes-core-rEmpty"
          },
          "400": {
            "$ref": "#/components/responses/common-core-rException"
          },
          "403": {
            "$ref": "#/components/responses/processes-dru-rImmutableProcess"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "409": {
            "$ref": "#/components/responses/processes-dru-rDuplicateProcess"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      },
      "delete": {
        "summary": "undeploy a process.",
        "description": "Undeploys a process.\n\nFor more information, see [Section 6.5](http://docs.ogc.org/DRAFTS/20-044.html#_16391f9e-538f-4a84-9710-72a6bab82842).\n",
        "operationId": "undeploy",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-processID-path"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/processes-core-rEmpty"
          },
          "403": {
            "$ref": "#/components/responses/processes-dru-rImmutableProcess"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/processes/{processID}/package": {
      "get": {
        "summary": "retrieve the formal description used to deploy a process",
        "description": "Access the formal description that can be used to deploy a process on an OGC API - Processes Server Instance.\n",
        "operationId": "getPackage",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-processID-path"
          }
        ],
        "responses": {
          "200": {
            "description": "The formal used to deploy a process",
            "content": {
              "application/ogcapppkg+json": {
                "schema": {
                  "$ref": "#/components/schemas/processes-dru-ogcapppkg"
                }
              },
              "application/cwl": {
                "schema": {
                  "$ref": "#/components/schemas/cwl-cwl-json-schema"
                }
              },
              "application/cwl+json": {
                "schema": {
                  "$ref": "#/components/schemas/cwl-cwl-json-schema"
                }
              },
              "application/cwl+yaml": {
                "schema": {
                  "$ref": "#/components/schemas/cwl-cwl-json-schema"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          }
        }
      }
    },
    "/processes/{processID}/execution": {
      "post": {
        "summary": "execute a process.",
        "description": "Executes a process (this may result in the creation of a job resource e.g., for _asynchronous execution_).\n\nFor more information, see [Section 7.9](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_create_job).\n",
        "operationId": "execute",
        "tags": [
          "Processes",
          "Core"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-processID-path"
          },
          {
            "$ref": "#/components/parameters/processes-core-response"
          },
          {
            "$ref": "#/components/parameters/processes-core-prefer-header-execution"
          }
        ],
        "requestBody": {
          "description": "An execution request specifying any inputs for the process to execute, and optionally to select specific outputs.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/processes-workflows-execute-workflows"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rExecuteSync"
          },
          "201": {
            "$ref": "#/components/responses/processes-core-rExecuteAsync"
          },
          "204": {
            "$ref": "#/components/responses/processes-core-rEmpty"
          },
          "303": {
            "$ref": "#/components/responses/processes-core-rExecuteCollectionRedirect"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        },
        "callbacks": {
          "jobCompleted": {
            "{$request.body#/subscriber/successUri}": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/processes-core-results"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Results received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "summary": "retrieve the list of available processes",
        "description": "The list of processes contains a summary of each process the OGC API - Processes offers, including the link to a more detailed description of the process.\n\nFor more information, see [Section 7.7]https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_process_list).\n",
        "operationId": "getProcesses",
        "tags": [
          "Processes",
          "Core"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rProcessList"
          }
        }
      },
      "post": {
        "summary": "create a job.",
        "description": "Create a job resulting in the creation of a job resource.\n",
        "operationId": "createJob",
        "tags": [
          "Jobs Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-prefer-header-execution"
          }
        ],
        "requestBody": {
          "description": "An execution request specifying any inputs for the process to execute, and optionally to select specific outputs.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/processes-workflows-execute-workflows"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/processes-core-rExecuteAsync"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "422": {
            "$ref": "#/components/responses/common-core-rUnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        },
        "callbacks": {
          "jobCompleted": {
            "{$request.body#/subscriber/successUri}": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/processes-core-results"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Results received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobID}": {
      "get": {
        "summary": "retrieve the status of a job",
        "description": "Shows the status of a job.\n\n For more information, see [Section 7.10](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_retrieve_status_info).\n",
        "operationId": "getStatus",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rStatus"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      },
      "delete": {
        "summary": "cancel a job execution, remove a finished job",
        "description": "Cancel a job execution and remove it from the jobs list.\n\nFor more information, see [Section 14]https://docs.ogc.org/is/18-062r2/18-062r2.html#Dismiss).\n",
        "operationId": "dismiss",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rStatus"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results": {
      "get": {
        "summary": "retrieve the result(s) of a job",
        "description": "Lists available results of a job. In case of a failure, lists exceptions instead.\n\nFor more information, see [Section 7.11](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_retrieve_job_results).\n",
        "operationId": "getResult",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          },
          {
            "$ref": "#/components/parameters/processes-core-prefer-header-return"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rResults"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      },
      "post": {
        "summary": "start the executino of a job",
        "description": "Starts the execution of a job that was in pending state.\n",
        "operationId": "postResult",
        "requestBody": {
          "description": "An empty body.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "nullable": true
              }
            }
          }
        },
        "tags": [
          "Jobs Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rExecuteAsync"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results/{outputID}": {
      "get": {
        "summary": "retrieve a specific resulting output of a job",
        "description": "Retrieve a specific resulting output for a job.\n\nFor more information, see [Section 7.14](https://docs.ogc.org/is/18-062r3/18-062r3.html#sc_retrieve_job_results_one).\n",
        "operationId": "getOutput",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          },
          {
            "$ref": "#/components/parameters/processes-core-outputID"
          },
          {
            "$ref": "#/components/parameters/processes-core-prefer-header-return"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rOutput"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results/{outputID}/{N}": {
      "get": {
        "summary": "retrieve a single value from an output of a job allowing multiple values",
        "description": "Retrieve a single value from an output of a job allowing multiple values (maxOccurs > 1)\n\nFor more information, see [Section 7.14](https://docs.ogc.org/is/18-062r3/18-062r3.html#sc_retrieve_job_results_one).\n",
        "operationId": "getOutputValue",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          },
          {
            "$ref": "#/components/parameters/processes-core-outputID"
          },
          {
            "$ref": "#/components/parameters/processes-core-N"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rOutput"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/definition": {
      "get": {
        "summary": "retrieve the definition of a job",
        "description": "Retrieve the definition of a job.\n",
        "operationId": "getJobDefinition",
        "tags": [
          "Jobs Management"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-job-management-rJobDefinition"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/prov": {
      "get": {
        "summary": "retrieve the job provenance",
        "description": "Retrieve the job provenance details.\n",
        "operationId": "getJobProvenance",
        "tags": [
          "Jobs",
          "Provenance"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-provenance-rJobProvenance"
          },
          "404": {
            "$ref": "#/components/responses/processes-provenance-rJobProvMissing"
          },
          "406": {
            "$ref": "#/components/responses/processes-provenance-rJobProvUnsupportedFormat"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CWLWorkflowStepWhen": {
        "$ref": "#/components/schemas/cwl-cwl-json-schema"
      },
      "CQL2": {
        "$ref": "#/components/schemas/cql2-cql2"
      },
      "processes-list": {
        "type": "string",
        "enum": [
          "RenderMap",
          "ElevationContours",
          "OSMERE"
        ]
      },
      "bbox-processes": {
        "$ref": "#/components/schemas/processes-core-bbox"
      },
      "execute-workflow": {
        "$ref": "#/components/schemas/processes-workflows-execute-workflows"
      },
      "pointGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Point"
            ]
          },
          "coordinates": {
            "type": "array",
            "minItems": 2,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "multipointGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "MultiPoint"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "linestringGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "LineString"
            ]
          },
          "coordinates": {
            "type": "array",
            "minItems": 2,
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "multilinestringGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "MultiLineString"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "type": "array",
                "minItems": 2,
                "items": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "polygonGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Polygon"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 4,
              "items": {
                "type": "array",
                "minItems": 2,
                "items": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "multipolygonGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "MultiPolygon"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "minItems": 4,
                "items": {
                  "type": "array",
                  "minItems": 2,
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "geometryGeoJSON": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/pointGeoJSON"
          },
          {
            "$ref": "#/components/schemas/multipointGeoJSON"
          },
          {
            "$ref": "#/components/schemas/linestringGeoJSON"
          },
          {
            "$ref": "#/components/schemas/multilinestringGeoJSON"
          },
          {
            "$ref": "#/components/schemas/polygonGeoJSON"
          },
          {
            "$ref": "#/components/schemas/multipolygonGeoJSON"
          },
          {
            "$ref": "#/components/schemas/geometrycollectionGeoJSON"
          }
        ]
      },
      "geometrycollectionGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "geometries"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "GeometryCollection"
            ]
          },
          "geometries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/geometryGeoJSON"
            }
          }
        }
      },
      "CWLVersion-2": {
        "type": "object",
        "properties": {
          "cwlVersion": {
            "type": "string",
            "title": "cwlVersion",
            "description": "CWL version of the described application package.",
            "pattern": "^v\\d+(\\.\\d+(\\.\\d+)*)*$"
          }
        },
        "required": [
          "cwlVersion"
        ]
      },
      "CWLMetadata-2": {
        "type": "object",
        "properties": {
          "s:keywords": {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          },
          "version": {
            "type": "string",
            "title": "version",
            "description": "Version of the process.",
            "example": "1.2.3",
            "pattern": "^\\d+(\\.\\d+(\\.\\d+(\\.[A-Za-z0-9\\-_]+)*)*)*$"
          }
        }
      },
      "CWLDocumentation-2": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "doc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        }
      },
      "CWLTextPatternID": {
        "$comment": "Identifier with text pattern that can allow additional non-ASCII characters depending on regex implementation.\nThe identifier allows a '#' or a relative 'sub/part#ref' prefix, to support references to other definitions\nin the CWL document, such as when using 'SchemaDefRequirement'.\n\nJSON spec regex does not include '\\w' in its default subset to allow all word-like unicode characters\n(see reference: https://json-schema.org/understanding-json-schema/reference/regular_expressions.html).\n\nSince support is implementation specific, add both the ASCII-only and '\\w' representation simultaneously\nand let the parser reading this document apply whichever is more relevant or supported\n(see discussion: https://github.com/common-workflow-language/cwl-v1.2/pull/256#discussion_r1234037814).\n",
        "pattern": "^([A-Za-z0-9\\w]+(/[A-Za-z0-9\\w]+)*)?[#.]?[A-Za-z0-9\\w]+(?:[-_.][A-Za-z0-9\\w]+)*$",
        "type": "string",
        "description": "Generic identifier name pattern."
      },
      "CWLIdentifier": {
        "anyOf": [
          {
            "type": "string",
            "title": "UUID",
            "description": "Unique identifier.",
            "format": "uuid",
            "pattern": "^[a-f0-9]{8}(?:-?[a-f0-9]{4}){3}-?[a-f0-9]{12}$"
          },
          {
            "$ref": "#/components/schemas/CWLTextPatternID"
          }
        ],
        "title": "CWLIdentifier",
        "description": "Reference to the process identifier."
      },
      "cwltool:CUDARequirement": {
        "type": "object",
        "title": "cwltool:CUDARequirement",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "cwltool:CUDARequirement"
            ]
          },
          "cudaVersionMin": {
            "type": "string",
            "title": "CUDA version minimum",
            "description": "The minimum CUDA version required to run the software. This corresponds to a CUDA SDK release.\n\nWhen run in a container, the container image should provide the CUDA runtime,\nand the host driver is injected into the container.  In this case, because CUDA drivers\nare backwards compatible, it is possible to use an older SDK with a newer driver across major versions.\n\nSee https://docs.nvidia.com/deploy/cuda-compatibility/ for details.\n",
            "example": "11.4",
            "pattern": "^\\d+\\.\\d+$"
          },
          "cudaComputeCapability": {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          },
          "cudaDeviceCountMin": {
            "type": "integer",
            "title": "CUDA device count minimum",
            "description": "The minimum amount of devices required.",
            "default": 1,
            "example": 1,
            "minimum": 1
          },
          "cudaDeviceCountMax": {
            "type": "integer",
            "title": "CUDA device count maximum",
            "description": "The maximum amount of devices required.",
            "default": 1,
            "example": 8,
            "minimum": 1
          }
        },
        "required": [
          "cudaVersionMin",
          "cudaComputeCapability"
        ],
        "additionalProperties": false
      },
      "DockerRequirement-2": {
        "type": "object",
        "title": "DockerRequirement",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "DockerRequirement"
            ]
          },
          "dockerPull": {
            "type": "string",
            "title": "Docker pull reference",
            "description": "Reference package that will be retrieved and executed by CWL.",
            "example": "docker-registry.host.com/namespace/image:1.2.3"
          },
          "dockerImport": {
            "type": "string"
          },
          "dockerLoad": {
            "type": "string"
          },
          "dockerFile": {
            "type": "string"
          },
          "dockerImageId": {
            "type": "string"
          },
          "dockerOutputDirectory": {
            "type": "string"
          }
        },
        "oneOf": [
          {
            "required": [
              "dockerPull"
            ]
          },
          {
            "required": [
              "dockerImport"
            ]
          },
          {
            "required": [
              "dockerLoad"
            ]
          },
          {
            "required": [
              "dockerFile"
            ]
          }
        ],
        "additionalProperties": false
      },
      "SoftwarePackage-2": {
        "type": "object",
        "properties": {
          "package": {
            "type": "string"
          },
          "version": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "specs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/cwl-cwl-json-schema"
            }
          }
        },
        "required": [
          "package"
        ],
        "additionalProperties": false
      },
      "SoftwarePackageSpecs-2": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "SoftwareRequirement-2": {
        "type": "object",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "SoftwareRequirement"
            ]
          },
          "packages": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SoftwarePackage-2"
                }
              },
              {
                "type": "object",
                "description": "Mapping of 'package' name to its specifications.",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SoftwarePackageSpecs-2"
                    },
                    {
                      "$ref": "#/components/schemas/SoftwarePackage-2"
                    }
                  ]
                }
              }
            ]
          }
        },
        "required": [
          "packages"
        ],
        "additionalProperties": false
      },
      "ShellCommandRequirement-2": {
        "type": "object",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "ShellCommandRequirement"
            ]
          }
        },
        "additionalProperties": false
      },
      "CWLExpression-2": {
        "$comment": "Whenever this option is applicable for a parameter, any other 'normal' string should not be specified.\nFor JSON schema validation, there is no easy way to distinguish them unless using complicated string patterns.\n",
        "type": "string",
        "title": "CWLExpression",
        "description": "When combined with 'InlineJavascriptRequirement', this field allows runtime parameter references\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#Expression).\n"
      },
      "EnvironmentDef-2": {
        "type": "object",
        "properties": {
          "envName": {
            "type": "string",
            "minLength": 1
          },
          "envValue": {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        },
        "required": [
          "envName",
          "envValue"
        ],
        "additionalProperties": false
      },
      "EnvVarRequirement-2": {
        "type": "object",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "EnvVarRequirement"
            ]
          },
          "envDef": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EnvironmentDef-2"
                }
              },
              {
                "type": "object",
                "description": "Mapping of 'envName' to environment value or definition.",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "description": "The 'envValue' specified directly",
                      "$ref": "#/components/schemas/CWLExpression-2"
                    },
                    {
                      "$ref": "#/components/schemas/EnvironmentDef-2"
                    }
                  ]
                }
              }
            ]
          }
        },
        "required": [
          "envDef"
        ],
        "additionalProperties": false
      },
      "CWLTypeSymbols": {
        "type": "array",
        "title": "CWLTypeSymbols",
        "summary": "Allowed values composing the enum.",
        "items": {
          "$ref": "#/components/schemas/cwl-cwl-json-schema"
        }
      },
      "CWLTypeEnum-2": {
        "type": "object",
        "title": "CWLTypeEnum",
        "summary": "CWL type as enum of values.",
        "properties": {
          "type": {
            "type": "string",
            "title": "type",
            "example": "enum",
            "enum": [
              "enum"
            ]
          },
          "symbols": {
            "$ref": "#/components/schemas/CWLTypeSymbols"
          }
        },
        "required": [
          "type",
          "symbols"
        ],
        "additionalProperties": {}
      },
      "CWLTypeDefinition-2": {
        "type": "string",
        "title": "CWL type string definition",
        "summary": "CWL type string definition.",
        "description": "Field type definition.",
        "$comment": "Note that 'Any' is equivalent to any of the non-null types.\nTherefore, a nullable 'Any' explicitly specified by 'Any?' or its array-nullable form 'Any[]?' are not equivalent.\n",
        "enum": [
          "null",
          "Any",
          "Any?",
          "Any[]",
          "Any[]?",
          "Directory",
          "Directory?",
          "Directory[]",
          "Directory[]?",
          "File",
          "File?",
          "File[]",
          "File[]?",
          "boolean",
          "boolean?",
          "boolean[]",
          "boolean[]?",
          "double",
          "double?",
          "double[]",
          "double[]?",
          "enum?",
          "enum[]",
          "enum[]?",
          "float",
          "float?",
          "float[]",
          "float[]?",
          "int",
          "int?",
          "int[]",
          "int[]?",
          "integer",
          "integer?",
          "integer[]",
          "integer[]?",
          "long",
          "long?",
          "long[]",
          "long[]?",
          "string",
          "string?",
          "string[]",
          "string[]?"
        ]
      },
      "CWLType-2": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLTypeBase-2"
          },
          {
            "$ref": "#/components/schemas/CWLTypeList-2"
          }
        ],
        "title": "CWL Type"
      },
      "CWLTypeArray-2": {
        "type": "object",
        "title": "CWLTypeArray",
        "summary": "CWL type as list of items.",
        "properties": {
          "type": {
            "type": "string",
            "title": "type",
            "example": "array",
            "enum": [
              "array"
            ]
          },
          "items": {
            "$ref": "#/components/schemas/CWLType-2"
          }
        },
        "required": [
          "type",
          "items"
        ],
        "additionalProperties": {}
      },
      "CWLInputStdInDefinition-2": {
        "description": "Indicates that the value passed to this CWL input will be redirected to the standard input stream of the command.\nCan be defined for only one input and must not be combined with 'stdin' at the root of the CWL document.\n",
        "type": "string",
        "enum": [
          "stdin"
        ]
      },
      "CWLOutputStdOutDefinition-2": {
        "description": "Indicates that the data pushed to the standard output stream by the command will be redirected to this CWL output.\nCan be defined for only one output. If combined with 'stdout' at the root of the CWL document, that definition\nwill indicate the desired name of the output file where the output stream will be written to. A random name will\nbe applied for the file of this output unless otherwise specified.\n",
        "type": "string",
        "enum": [
          "stdout"
        ]
      },
      "CWLOutputStdErrDefinition-2": {
        "description": "Indicates that the data pushed to the standard error stream by the command will be redirected to this CWL output.\nCan be defined for only one output. If combined with 'stderr' at the root of the CWL document, that definition\nwill indicate the desired name of the output file where the error stream will be written to.  A random name will\nbe applied for the file of this output unless otherwise specified.\n",
        "type": "string",
        "enum": [
          "stderr"
        ]
      },
      "CWLTypeRecordRef-2": {
        "description": "An IRI with minimally a '{Record}' identifier to look for a schema definition locally or remotely.\n\nThe identifier resolution is performed accordingly to the specified reference and as described in\nhttps://www.commonwl.org/v1.2/SchemaSalad.html#Identifier_resolution.\n",
        "$comment": "Avoid 'oneOf' conflict of valid strings between this CWL record reference and the generic CWL types.",
        "allOf": [
          {
            "not": {
              "$ref": "#/components/schemas/CWLTypeDefinition-2"
            }
          },
          {
            "not": {
              "$ref": "#/components/schemas/CWLInputStdInDefinition-2"
            }
          },
          {
            "not": {
              "$ref": "#/components/schemas/CWLOutputStdOutDefinition-2"
            }
          },
          {
            "not": {
              "$ref": "#/components/schemas/CWLOutputStdErrDefinition-2"
            }
          },
          {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          }
        ]
      },
      "CWLTypeRecordSchema-2": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "record"
            ]
          },
          "fields": {
            "$ref": "#/components/schemas/CWLTypeRecordFields-2"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "CWLTypeBase-2": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLTypeDefinition-2"
          },
          {
            "$ref": "#/components/schemas/CWLTypeArray-2"
          },
          {
            "$ref": "#/components/schemas/CWLTypeEnum-2"
          },
          {
            "$ref": "#/components/schemas/CWLTypeRecordRef-2"
          },
          {
            "$ref": "#/components/schemas/CWLTypeRecordSchema-2"
          }
        ],
        "title": "CWLTypeBase"
      },
      "CWLTypeList-2": {
        "type": "array",
        "title": "CWLTypeList",
        "summary": "Combination of allowed CWL types.",
        "items": {
          "$ref": "#/components/schemas/CWLTypeBase-2"
        }
      },
      "CWLTypeRecordFieldDefBase-2": {
        "type": "object",
        "properties": {
          "name": {
            "$comment": "Required if list item. Otherwise, optional since it is the mapping key.\nThis requirement is defined in 'CWLTypeRecordFieldsItem' to allow reuse of this schema.\n",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/CWLType-2"
          }
        },
        "required": [
          "type"
        ]
      },
      "CWLFileOnlyParametersConditional-2": {
        "description": "Parameters that are only valid when 'type' or 'items' evaluates to 'File'.",
        "$comment": "Explicitly disallow these parameters when non-File type is detected.\nOtherwise, validate their schema definitions according to what is permitted.\n",
        "type": "object",
        "if": {
          "properties": {
            "oneOf": [
              {
                "$comment": "Single required or optional 'File'.",
                "type": {
                  "enum": [
                    "File",
                    "File?",
                    "File[]",
                    "File[]?"
                  ]
                }
              },
              {
                "$comment": "Array of required or optional 'File'.",
                "type": {
                  "const": "array"
                },
                "items": {
                  "oneOf": [
                    {
                      "type": [
                        {
                          "const": "File"
                        },
                        {
                          "const": "File?"
                        }
                      ]
                    },
                    {
                      "type": "array",
                      "contains": {
                        "type": [
                          {
                            "const": "File"
                          },
                          {
                            "const": "File?"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            ]
          }
        },
        "then": {
          "$ref": "#/$defs/CWLFileOnlyParameters"
        },
        "else": {
          "not": {
            "properties": {
              "secondaryFiles": {},
              "streamable": {},
              "format": {},
              "loadContents": {}
            }
          }
        }
      },
      "CWLDirectoryOnlyParametersConditional-2": {
        "description": "Parameters that are only valid when 'type' or 'items' evaluates to 'Directory'.",
        "$comment": "Explicitly disallow these parameters when non-Directory type is detected.\nOtherwise, validate their schema definitions according to what is permitted.\n",
        "type": "object",
        "if": {
          "properties": {
            "oneOf": [
              {
                "$comment": "Single required or optional 'Directory'.",
                "type": {
                  "enum": [
                    "Directory",
                    "Directory?",
                    "Directory[]",
                    "Directory[]?"
                  ]
                }
              },
              {
                "$comment": "Array of required or optional 'Directory'.",
                "type": {
                  "const": "array"
                },
                "items": {
                  "oneOf": [
                    {
                      "type": [
                        {
                          "const": "Directory"
                        },
                        {
                          "const": "Directory?"
                        }
                      ]
                    },
                    {
                      "type": "array",
                      "contains": {
                        "type": [
                          {
                            "const": "Directory"
                          },
                          {
                            "const": "Directory?"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            ]
          }
        },
        "then": {
          "$ref": "#/$defs/CWLDirectoryOnlyParameters"
        },
        "else": {
          "not": {
            "properties": {
              "loadListing": {}
            }
          }
        }
      },
      "CWLTypeRecordFieldDef-2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CWLTypeRecordFieldDefBase-2"
          },
          {
            "$ref": "#/components/schemas/CWLFileOnlyParametersConditional-2"
          },
          {
            "$ref": "#/components/schemas/CWLDirectoryOnlyParametersConditional-2"
          }
        ]
      },
      "CWLTypeRecordFieldsMap-2": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/CWLType-2"
            },
            {
              "$ref": "#/components/schemas/CWLTypeRecordFieldDef-2"
            }
          ]
        }
      },
      "CWLTypeRecordFieldsItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CWLTypeRecordFieldDef-2"
          },
          {
            "required": [
              "name"
            ]
          }
        ]
      },
      "CWLTypeRecordFieldsList-2": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/CWLTypeRecordFieldsItem"
        }
      },
      "CWLTypeRecordFields-2": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLTypeRecordFieldsMap-2"
          },
          {
            "$ref": "#/components/schemas/CWLTypeRecordFieldsList-2"
          }
        ]
      },
      "CWLTypeRecordArray-2": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "array"
            ]
          },
          "items": {
            "$ref": "#/components/schemas/CWLType-2"
          }
        },
        "required": [
          "type",
          "items"
        ]
      },
      "CWLImport-2": {
        "description": "Represents an '$import' directive that should point toward another compatible CWL file to import where specified.\nThe contents of the imported file should be relevant contextually where it is being imported.\n",
        "$comment": "The schema validation of the CWL will not itself perform the '$import' to resolve and validate its contents.\nTherefore, the complete schema will not be validated entirely, and could still be partially malformed.\nTo ensure proper and exhaustive validation of a CWL definition with this schema, all '$import' directives\nshould be resolved and extended beforehand.\n",
        "type": "object",
        "properties": {
          "$import": {
            "type": "string"
          }
        },
        "required": [
          "$import"
        ],
        "additionalProperties": false
      },
      "SchemaDefRequirement-2": {
        "type": "object",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "SchemaDefRequirement"
            ]
          },
          "types": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/CWLTypeEnum-2"
                },
                {
                  "$ref": "#/components/schemas/CWLTypeRecordSchema-2"
                },
                {
                  "$ref": "#/components/schemas/CWLTypeRecordArray-2"
                },
                {
                  "$ref": "#/components/schemas/CWLImport-2"
                }
              ]
            }
          }
        },
        "required": [
          "types"
        ],
        "additionalProperties": false
      },
      "NullableType": {
        "description": "Define a 'null' type that is JSON-schema compliant and helps OpenAPI 3.0 backport compatibility.",
        "enum": [
          null
        ],
        "nullable": true
      },
      "DirectoryListingDirent-2": {
        "$comment": "Called 'Dirent' in documentation.",
        "type": "object",
        "title": "DirectoryListingDirent",
        "properties": {
          "entry": {
            "$ref": "#/components/schemas/CWLExpression-2"
          },
          "entryname": {
            "$ref": "#/components/schemas/CWLExpression-2"
          },
          "writable": {
            "type": "boolean"
          }
        },
        "required": [
          "entry"
        ],
        "additionalProperties": false
      },
      "Checksum": {
        "$comment": "Minimal pattern check to know which hash algorithm to apply,\nbut don't check too harshly for the rest (length, allowed characters, etc.).\n",
        "type": "string",
        "pattern": "^[a-z0-9\\-]+\\$[\\w\\-.]+$"
      },
      "DirectoryListingFileOrDirectory-2": {
        "type": "object",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "File",
              "Directory"
            ]
          },
          "location": {
            "type": "string"
          },
          "checksum": {
            "$ref": "#/components/schemas/Checksum"
          },
          "size": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "class",
          "location"
        ],
        "additionalProperties": false
      },
      "InitialWorkDirListing-2": {
        "title": "InitialWorkDirListing",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          },
          {
            "type": "array",
            "title": "InitialWorkDirListingItems",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/NullableType"
                },
                {
                  "$ref": "#/components/schemas/CWLExpression-2"
                },
                {
                  "$ref": "#/components/schemas/DirectoryListingDirent-2"
                },
                {
                  "$ref": "#/components/schemas/DirectoryListingFileOrDirectory-2"
                },
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DirectoryListingFileOrDirectory-2"
                  }
                }
              ]
            }
          }
        ]
      },
      "InitialWorkDirRequirement-2": {
        "type": "object",
        "title": "InitialWorkDirRequirement",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "InitialWorkDirRequirement"
            ]
          },
          "listing": {
            "$ref": "#/components/schemas/InitialWorkDirListing-2"
          }
        },
        "required": [
          "listing"
        ],
        "additionalProperties": false
      },
      "InlineJavascriptRequirement-2": {
        "type": "object",
        "title": "InlineJavascriptRequirement",
        "description": "Indicates that the workflow platform must support inline Javascript expressions.\n\nIf this requirement is not present, the workflow platform must not perform expression interpolation\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#InlineJavascriptRequirement).\n",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "InlineJavascriptRequirement"
            ]
          },
          "expressionLib": {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          }
        },
        "additionalProperties": false
      },
      "InplaceUpdateRequirement-2": {
        "type": "object",
        "title": "InplaceUpdateRequirement",
        "description": "If 'inplaceUpdate' is true, then an implementation supporting this feature may permit tools to directly\nupdate files with 'writable: true' in 'InitialWorkDirRequirement'. That is, as an optimization,\nfiles may be destructively modified in place as opposed to copied and updated\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#InplaceUpdateRequirement).\n",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "InplaceUpdateRequirement"
            ]
          },
          "inplaceUpdate": {
            "type": "boolean",
            "title": "inplaceUpdate"
          }
        },
        "required": [
          "inplaceUpdate"
        ],
        "additionalProperties": false
      },
      "LoadListingRequirement-2": {
        "type": "object",
        "title": "LoadListingRequirement",
        "description": "Specify the desired behavior for loading the listing field of a 'Directory' object for use by expressions\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#LoadListingRequirement).\n",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "LoadListingRequirement"
            ]
          },
          "loadListing": {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          }
        },
        "required": [
          "loadListing"
        ],
        "additionalProperties": false
      },
      "NetworkAccess-2": {
        "title": "NetworkAccess",
        "description": "Indicate whether a process requires outgoing IPv4/IPv6 network access.",
        "example": true,
        "oneOf": [
          {
            "type": "boolean"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ]
      },
      "NetworkAccessRequirement-2": {
        "type": "object",
        "title": "NetworkAccessRequirement",
        "properties": {
          "class": {
            "type": "string",
            "$comment": "Not 'NetworkAccessRequirement'",
            "enum": [
              "NetworkAccess"
            ]
          },
          "networkAccess": {
            "$ref": "#/components/schemas/NetworkAccess-2"
          }
        },
        "required": [
          "networkAccess"
        ],
        "additionalProperties": false
      },
      "ResourceQuantityOrFractional-2": {
        "description": "An item quantity that can also represent a proportion of use by resources.",
        "$comment": "Technically should be minimum=1, but fractional for scheduling algorithms are allowed.\nThere is no way to distinguish between float/long simultaneously in JSON schema (multi-match oneOf).\nTherefore, only validate that it is greater than zero.\n",
        "type": "number",
        "default": 1,
        "minimum": 0
      },
      "ResourceCoresMinimum": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResourceQuantityOrFractional-2"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "ResourceCoresMinimum",
        "summary": "Minimum reserved number of CPU cores.",
        "description": "Minimum reserved number of CPU cores.\n\nMay be a fractional value to indicate to a scheduling algorithm that one core can be allocated to\nmultiple jobs. For example, a value of 0.25 indicates that up to 4 jobs\nmay run in parallel on 1 core. A value of 1.25 means that up to 3 jobs\ncan run on a 4 core system (4/1.25 ~ 3).\n\nProcesses can only share a core allocation if the sum of each of their 'ramMax', 'tmpdirMax', and\n'outdirMax' requests also do not exceed the capacity of the node.\n\nProcesses sharing a core must have the same level of isolation (typically a container\nor VM) that they would normally have.\n\nThe reported number of CPU cores reserved for the process, which is available to expressions\non the 'CommandLineTool' as 'runtime.cores', must be a non-zero integer, and may be calculated by\nrounding up the cores request to the next whole number.\n\nScheduling systems may allocate fractional CPU resources by setting quotas or scheduling weights.\nScheduling systems that do not support fractional CPUs may round up the request to the next whole number.\n",
        "default": 1
      },
      "ResourceCoresMaximum": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResourceQuantityOrFractional-2"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "ResourceCoresMaximum",
        "summary": "Maximum reserved number of CPU cores.",
        "description": "Maximum reserved number of CPU cores.\nSee 'coresMin' for discussion about fractional CPU requests.\n"
      },
      "ResourceRAMMinimum": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResourceQuantityOrFractional-2"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "ResourceRAMMinimum",
        "summary": "Minimum reserved RAM in mebibytes.",
        "description": "Minimum reserved RAM in mebibytes (2**20).\n\nMay be a fractional value. If so, the actual RAM request must be rounded up\nto the next whole number.\n\nThe reported amount of RAM reserved for the process, which is available to\nexpressions on the 'CommandLineTool' as 'runtime.ram', must be a non-zero integer.\n",
        "default": 256
      },
      "ResourceRAMMaximum": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResourceQuantityOrFractional-2"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "ResourceRAMMaximum",
        "summary": "Maximum reserved RAM in mebibytes.",
        "description": "Maximum reserved RAM in mebibytes (2**20).\nSee 'ramMin' for discussion about fractional RAM requests.\n"
      },
      "ResourceTmpDirMinimum": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResourceQuantityOrFractional-2"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "ResourceTmpDirMinimum",
        "summary": "Minimum reserved filesystem based storage for the designated temporary directory in mebibytes.",
        "description": "Minimum reserved filesystem based storage for the designated temporary\ndirectory in mebibytes (2**20).\n\nMay be a fractional value. If so, the actual storage request must be rounded\nup to the next whole number.\n\nThe reported amount of storage reserved for the process, which is available\nto expressions on the 'CommandLineTool' as 'runtime.tmpdirSize', must be a non-zero integer.\n",
        "default": 1024
      },
      "ResourceTmpDirMaximum": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResourceQuantityOrFractional-2"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "ResourceTmpDirMaximum",
        "summary": "Maximum reserved filesystem based storage for the designated temporary directory in mebibytes.",
        "description": "Maximum reserved filesystem based storage for the designated temporary directory in mebibytes (2**20).\nSee 'tmpdirMin' for discussion about fractional storage requests.\n"
      },
      "ResourceOutDirMinimum": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResourceQuantityOrFractional-2"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "ResourceOutDirMinimum",
        "summary": "Minimum reserved filesystem based storage for the designated output directory in mebibytes.",
        "description": "Minimum reserved filesystem based storage for the designated output\ndirectory in mebibytes (2**20).\n\nMay be a fractional value. If so, the actual storage request must be rounded\nup to the next whole number.\n\nThe reported amount of storage reserved for the process, which is available\nto expressions on the 'CommandLineTool' as 'runtime.outdirSize', must be a non-zero integer.\n",
        "default": 1024
      },
      "ResourceOutDirMaximum": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ResourceQuantityOrFractional-2"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "ResourceOutDirMaximum",
        "summary": "Maximum reserved filesystem based storage for the designated output directory in mebibytes.",
        "description": "Maximum reserved filesystem based storage for the designated output\ndirectory in mebibytes (2**20).\nSee 'outdirMin' for discussion about fractional storage requests.\n",
        "default": 1
      },
      "ResourceRequirement-2": {
        "type": "object",
        "title": "ResourceRequirement",
        "description": "Specify basic hardware resource requirements\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#ResourceRequirement).\n",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "ResourceRequirement"
            ]
          },
          "coresMin": {
            "$ref": "#/components/schemas/ResourceCoresMinimum"
          },
          "coresMax": {
            "$ref": "#/components/schemas/ResourceCoresMaximum"
          },
          "ramMin": {
            "$ref": "#/components/schemas/ResourceRAMMinimum"
          },
          "ramMax": {
            "$ref": "#/components/schemas/ResourceRAMMaximum"
          },
          "tmpdirMin": {
            "$ref": "#/components/schemas/ResourceTmpDirMinimum"
          },
          "tmpdirMax": {
            "$ref": "#/components/schemas/ResourceTmpDirMaximum"
          },
          "outdirMin": {
            "$ref": "#/components/schemas/ResourceOutDirMinimum"
          },
          "outdirMax": {
            "$ref": "#/components/schemas/ResourceOutDirMaximum"
          }
        },
        "additionalProperties": false
      },
      "ScatterFeatureRequirement-2": {
        "type": "object",
        "title": "ScatterFeatureRequirement",
        "description": "A 'scatter' operation specifies that the associated Workflow step should execute separately over a list of\ninput elements. Each job making up a scatter operation is independent and may be executed concurrently\n(see also: https://www.commonwl.org/v1.2/Workflow.html#WorkflowStep).\n",
        "$comment": "Fields 'scatter' and 'scatterMethod' at the root of a 'WorkflowStep', not within the requirement.",
        "properties": {
          "class": {
            "type": "string",
            "description": "CWL requirement class specification.",
            "enum": [
              "ScatterFeatureRequirement"
            ]
          }
        },
        "additionalProperties": false
      },
      "TimeLimitValue": {
        "oneOf": [
          {
            "type": "number",
            "minimum": 0
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "TimeLimitValue",
        "description": "The time limit, in seconds.\n\nA time limit of zero means no time limit.\nNegative time limits are an error.\n"
      },
      "ToolTimeLimitRequirement-2": {
        "type": "object",
        "title": "ToolTimeLimitRequirement",
        "description": "Set an upper limit on the execution time of a CommandLineTool.\n\nA CommandLineTool whose execution duration exceeds the time limit may be preemptively\nterminated and considered failed. May also be used by batch systems to make scheduling decisions.\n\nThe execution duration excludes external operations, such as staging of files,\npulling a docker image etc., and only counts wall-time for the execution of the command line itself.\n",
        "properties": {
          "class": {
            "type": "string",
            "$comment": "not 'ToolTimeLimitRequirement'",
            "enum": [
              "ToolTimeLimit"
            ]
          },
          "timelimit": {
            "$ref": "#/components/schemas/TimeLimitValue"
          }
        },
        "required": [
          "timelimit"
        ],
        "additionalProperties": false
      },
      "EnableReuseValue": {
        "oneOf": [
          {
            "type": "boolean"
          },
          {
            "$ref": "#/components/schemas/CWLExpression-2"
          }
        ],
        "title": "EnableReuseValue",
        "description": "Indicates if reuse is enabled for this tool.\n\nCan be an expression when combined with 'InlineJavascriptRequirement'\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#Expression).\n"
      },
      "WorkReuseRequirement-2": {
        "type": "object",
        "title": "WorkReuseRequirement",
        "description": "For implementations that support reusing output from past work\n(on the assumption that same code and same input produce same results),\ncontrol whether to enable or disable the reuse behavior for a particular tool\nor step (to accommodate situations where that assumption is incorrect).\n\nA reused step is not executed but instead returns the same output as the original execution.\n\nIf 'WorkReuse' is not specified, correct tools should assume it is enabled by default.\n",
        "properties": {
          "class": {
            "type": "string",
            "$comment": "Not 'WorkReuseRequirement'.",
            "enum": [
              "WorkReuse"
            ]
          },
          "enableReuse": {
            "$ref": "#/components/schemas/EnableReuseValue"
          }
        },
        "required": [
          "enableReuse"
        ],
        "additionalProperties": false
      },
      "MultipleInputFeatureRequirement-2": {
        "type": "object",
        "title": "MultipleInputFeatureRequirement",
        "description": "Indicates that the 'Workflow' must support multiple inbound data links listed in the 'source'\nfield of 'WorkflowStepInput'.\n",
        "properties": {
          "class": {
            "type": "string",
            "description": "CWL requirement class specification.",
            "enum": [
              "MultipleInputFeatureRequirement"
            ]
          }
        },
        "additionalProperties": false
      },
      "StepInputExpressionRequirement-2": {
        "type": "object",
        "title": "StepInputExpressionRequirement",
        "description": "Indicates that the 'Workflow' must support the 'valueFrom' field of 'WorkflowStepInput'.",
        "properties": {
          "class": {
            "type": "string",
            "description": "CWL requirement class specification.",
            "enum": [
              "StepInputExpressionRequirement"
            ]
          }
        },
        "additionalProperties": false
      },
      "SubworkflowFeatureRequirement-2": {
        "type": "object",
        "title": "SubworkflowFeatureRequirement",
        "description": "Indicates that the 'Workflow' must support nested workflows in the 'run' field of 'WorkflowStep'.",
        "properties": {
          "class": {
            "type": "string",
            "description": "CWL requirement class specification.",
            "enum": [
              "SubworkflowFeatureRequirement"
            ]
          }
        },
        "additionalProperties": false
      },
      "CWLRequirementsMap-2": {
        "title": "CWLRequirementsMap",
        "type": "object",
        "properties": {
          "cwltool:CUDARequirement": {
            "$ref": "#/components/schemas/cwltool:CUDARequirement"
          },
          "DockerRequirement": {
            "$ref": "#/components/schemas/DockerRequirement-2"
          },
          "SoftwareRequirement": {
            "$ref": "#/components/schemas/SoftwareRequirement-2"
          },
          "ShellCommandRequirement": {
            "$ref": "#/components/schemas/ShellCommandRequirement-2"
          },
          "EnvVarRequirement": {
            "$ref": "#/components/schemas/EnvVarRequirement-2"
          },
          "SchemaDefRequirement": {
            "$ref": "#/components/schemas/SchemaDefRequirement-2"
          },
          "InitialWorkDirRequirement": {
            "$ref": "#/components/schemas/InitialWorkDirRequirement-2"
          },
          "InlineJavascriptRequirement": {
            "$ref": "#/components/schemas/InlineJavascriptRequirement-2"
          },
          "InplaceUpdateRequirement": {
            "$ref": "#/components/schemas/InplaceUpdateRequirement-2"
          },
          "LoadListingRequirement": {
            "$ref": "#/components/schemas/LoadListingRequirement-2"
          },
          "NetworkAccess": {
            "$comment": "Not 'NetworkAccessRequirement'",
            "$ref": "#/components/schemas/NetworkAccessRequirement-2"
          },
          "ResourceRequirement": {
            "$ref": "#/components/schemas/ResourceRequirement-2"
          },
          "ScatterFeatureRequirement": {
            "$ref": "#/components/schemas/ScatterFeatureRequirement-2"
          },
          "ToolTimeLimit": {
            "$comment": "Not 'ToolTimeLimitRequirement'.",
            "$ref": "#/components/schemas/ToolTimeLimitRequirement-2"
          },
          "WorkReuse": {
            "$comment": "Not 'WorkReuseRequirement'.",
            "$ref": "#/components/schemas/WorkReuseRequirement-2"
          },
          "MultipleInputFeatureRequirement": {
            "$ref": "#/components/schemas/MultipleInputFeatureRequirement-2"
          },
          "StepInputExpressionRequirement": {
            "$ref": "#/components/schemas/StepInputExpressionRequirement-2"
          },
          "SubworkflowFeatureRequirement": {
            "$ref": "#/components/schemas/SubworkflowFeatureRequirement-2"
          }
        },
        "additionalProperties": false
      },
      "CWLRequirementsItem-2": {
        "title": "CWLRequirementsItem",
        "$comment": "For any new items added, ensure they are added under 'class' of 'UnknownRequirement' as well.\nOtherwise, insufficiently restrictive classes could cause multiple matches, failing the 'oneOf' condition.\n",
        "oneOf": [
          {
            "$ref": "#/components/schemas/cwltool:CUDARequirement"
          },
          {
            "$ref": "#/components/schemas/DockerRequirement-2"
          },
          {
            "$ref": "#/components/schemas/SoftwareRequirement-2"
          },
          {
            "$ref": "#/components/schemas/ShellCommandRequirement-2"
          },
          {
            "$ref": "#/components/schemas/EnvVarRequirement-2"
          },
          {
            "$ref": "#/components/schemas/SchemaDefRequirement-2"
          },
          {
            "$ref": "#/components/schemas/InitialWorkDirRequirement-2"
          },
          {
            "$ref": "#/components/schemas/InlineJavascriptRequirement-2"
          },
          {
            "$ref": "#/components/schemas/InplaceUpdateRequirement-2"
          },
          {
            "$ref": "#/components/schemas/LoadListingRequirement-2"
          },
          {
            "$ref": "#/components/schemas/NetworkAccessRequirement-2"
          },
          {
            "$ref": "#/components/schemas/ResourceRequirement-2"
          },
          {
            "$ref": "#/components/schemas/ScatterFeatureRequirement-2"
          },
          {
            "$ref": "#/components/schemas/ToolTimeLimitRequirement-2"
          },
          {
            "$ref": "#/components/schemas/WorkReuseRequirement-2"
          },
          {
            "$ref": "#/components/schemas/MultipleInputFeatureRequirement-2"
          },
          {
            "$ref": "#/components/schemas/StepInputExpressionRequirement-2"
          },
          {
            "$ref": "#/components/schemas/SubworkflowFeatureRequirement-2"
          }
        ]
      },
      "CWLRequirementsList-2": {
        "type": "array",
        "title": "CWLRequirementsList",
        "items": {
          "oneOf": [
            {
              "allOf": [
                {
                  "$comment": "When using the list representation, 'class' is required to indicate which one is being represented.\nWhen using the mapping representation, 'class' is optional since it's the key, but it must match by name.\n",
                  "required": [
                    "class"
                  ]
                },
                {
                  "$ref": "#/components/schemas/CWLRequirementsItem-2"
                }
              ]
            },
            {
              "$ref": "#/components/schemas/CWLImport-2"
            }
          ]
        }
      },
      "CWLRequirements-2": {
        "title": "CWLRequirements",
        "description": "Explicit requirement to execute the application package.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLRequirementsMap-2"
          },
          {
            "$ref": "#/components/schemas/CWLRequirementsList-2"
          }
        ]
      },
      "BuiltinRequirement": {
        "type": "object",
        "title": "BuiltinRequirement",
        "description": "Hint indicating that the Application Package corresponds to a\nbuiltin process of this instance. (note: can only be an 'hint'\nas it is unofficial CWL specification).\n",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "BuiltinRequirement"
            ]
          },
          "process": {
            "$comment": "Builtin process identifier.",
            "$ref": "#/components/schemas/CWLTextPatternID"
          }
        },
        "required": [
          "process",
          "class"
        ],
        "additionalProperties": false
      },
      "WPS1Requirement": {
        "type": "object",
        "title": "WPS1Requirement",
        "description": "Hint indicating that the Application Package corresponds to a\nWPS-1 provider process that should be remotely executed and monitored by this\ninstance. (note: can only be an ''hint'' as it is unofficial CWL specification).\n",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "WPS1Requirement"
            ]
          },
          "process": {
            "$comment": "Process identifier of the remote WPS provider.",
            "$ref": "#/components/schemas/CWLTextPatternID"
          },
          "provider": {
            "description": "WPS provider endpoint.",
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          }
        },
        "required": [
          "process",
          "provider"
        ],
        "additionalProperties": false
      },
      "UnknownRequirement": {
        "type": "object",
        "description": "Generic schema to allow alternative CWL requirements/hints not explicitly defined in schemas.",
        "properties": {
          "class": {
            "type": "string",
            "title": "Requirement Class Identifier",
            "description": "CWL requirement class specification.",
            "example": "UnknownRequirement",
            "not": {
              "enum": [
                "cwltool:CUDARequirement",
                "DockerRequirement",
                "SoftwareRequirement",
                "ShellCommandRequirement",
                "EnvVarRequirement",
                "SchemaDefRequirement",
                "InitialWorkDirRequirement",
                "InlineJavascriptRequirement",
                "InplaceUpdateRequirement",
                "LoadListingRequirement",
                "NetworkAccess",
                "ResourceRequirement",
                "ScatterFeatureRequirement",
                "ToolTimeLimit",
                "WorkReuse",
                "MultipleInputFeatureRequirement",
                "StepInputExpressionRequirement",
                "SubworkflowFeatureRequirement"
              ]
            }
          }
        },
        "additionalProperties": {}
      },
      "CWLHintsMapExtras": {
        "type": "object",
        "properties": {
          "BuiltinRequirement": {
            "$ref": "#/components/schemas/BuiltinRequirement"
          },
          "OGCAPIRequirement": {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          },
          "WPS1Requirement": {
            "$ref": "#/components/schemas/WPS1Requirement"
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/UnknownRequirement"
        }
      },
      "CWLHintsMap-2": {
        "title": "CWLHintsMap",
        "anyOf": [
          {
            "$ref": "#/components/schemas/CWLRequirementsMap-2"
          },
          {
            "$ref": "#/components/schemas/CWLHintsMapExtras"
          }
        ]
      },
      "CWLHintsItemExtras": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/BuiltinRequirement"
          },
          {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          },
          {
            "$ref": "#/components/schemas/WPS1Requirement"
          },
          {
            "$ref": "#/components/schemas/UnknownRequirement"
          }
        ]
      },
      "CWLHintsItem": {
        "title": "CWLHintsItem",
        "$comment": "For any new items added, ensure they are added under 'class' of 'UnknownRequirement' as well.\nOtherwise, insufficiently restrictive classes could cause multiple matches, failing the 'oneOf' condition.\n",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLRequirementsItem-2"
          },
          {
            "$ref": "#/components/schemas/CWLHintsItemExtras"
          }
        ]
      },
      "CWLHintsList-2": {
        "type": "array",
        "title": "CWLHintsList",
        "items": {
          "oneOf": [
            {
              "allOf": [
                {
                  "$comment": "When using the list representation, 'class' is required to indicate which one is being represented.\nWhen using the mapping representation, 'class' is optional since it's the key, but it must match by name.\n",
                  "required": [
                    "class"
                  ]
                },
                {
                  "$ref": "#/components/schemas/CWLHintsItem"
                }
              ]
            },
            {
              "$ref": "#/components/schemas/CWLImport-2"
            }
          ]
        }
      },
      "CWLHints-2": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLHintsMap-2"
          },
          {
            "$ref": "#/components/schemas/CWLHintsList-2"
          }
        ],
        "title": "CWLHints",
        "description": "Non-failing additional hints that can help resolve extra requirements."
      },
      "CWLCommand-2": {
        "oneOf": [
          {
            "type": "string",
            "title": "String command."
          },
          {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          }
        ],
        "title": "CWLCommand",
        "description": "Command called in the docker image or on shell according to requirements\nand hints specifications. Can be omitted if already defined in the docker\nimage.\n"
      },
      "InputBinding-2": {
        "type": "object",
        "title": "Input Binding",
        "description": "Defines how to specify the input for the command.",
        "properties": {
          "prefix": {
            "type": "string"
          },
          "position": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "$ref": "#/components/schemas/CWLExpression-2"
              }
            ]
          },
          "valueFrom": {
            "$ref": "#/components/schemas/CWLExpression-2"
          },
          "itemSeparator": {
            "type": "string"
          },
          "shellQuote": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CWLArguments-2": {
        "type": "array",
        "title": "CWLArguments",
        "description": "Base arguments passed to the command.",
        "items": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "$ref": "#/components/schemas/InputBinding-2"
            }
          ]
        }
      },
      "CWLInputStdInObjectType-2": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CWLInputStdInDefinition-2"
          }
        },
        "required": [
          "type"
        ]
      },
      "CWLInputStdIn-2": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLInputStdInDefinition-2"
          },
          {
            "$ref": "#/components/schemas/CWLInputStdInObjectType-2"
          }
        ]
      },
      "CWLInputItemBase": {
        "type": "object",
        "properties": {
          "type": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CWLType-2"
              },
              {
                "$ref": "#/components/schemas/CWLInputStdIn-2"
              }
            ]
          },
          "inputBinding": {
            "$ref": "#/components/schemas/InputBinding-2"
          },
          "id": {
            "description": "Identifier of the CWL input.",
            "$ref": "#/components/schemas/CWLIdentifier"
          }
        },
        "required": [
          "type",
          "id"
        ],
        "additionalProperties": {}
      },
      "AnyType-2": {
        "oneOf": [
          {
            "type": "boolean"
          },
          {
            "type": "number"
          },
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {}
          },
          {
            "type": "object"
          }
        ]
      },
      "CWLDefaultTypedConditional-2": {
        "$comment": "Validate that the 'default' value, if specified, is of same type as the CWL 'type'.\nThis avoids over-accepting anything that does not match the intended type.\nHowever, validation limits itself to data literals and arrays.\nNested type and multi-type definitions will validate against 'Any'.\n",
        "allOf": [
          {
            "$comment": "Object structure with minimally 'type' and 'default'. Otherwise, no point to continue testing.",
            "type": "object",
            "properties": {
              "type": {
                "$ref": "#/components/schemas/AnyType-2"
              },
              "default": {
                "$ref": "#/components/schemas/AnyType-2"
              }
            },
            "required": [
              "type"
            ]
          },
          {
            "$comment": "Explicit \"null\" string.",
            "if": {
              "properties": {
                "type": {
                  "const": "null"
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "$ref": "#/$defs/NullableType"
                }
              }
            }
          },
          {
            "$comment": "Required string.",
            "if": {
              "properties": {
                "type": {
                  "const": "string"
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "type": "string"
                }
              }
            }
          },
          {
            "$comment": "Optional string.",
            "if": {
              "properties": {
                "type": {
                  "const": "string?"
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "$ref": "#/$defs/NullableType"
                    }
                  ]
                }
              }
            }
          },
          {
            "$comment": "Required boolean.",
            "if": {
              "properties": {
                "type": {
                  "const": "boolean"
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "type": "boolean"
                }
              }
            }
          },
          {
            "$comment": "Optional boolean.",
            "if": {
              "properties": {
                "type": {
                  "enum": [
                    "double?",
                    "float?",
                    "int?",
                    "integer?",
                    "long?"
                  ]
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "oneOf": [
                    {
                      "type": "number"
                    },
                    {
                      "$ref": "#/$defs/NullableType"
                    }
                  ]
                }
              }
            }
          },
          {
            "$comment": "Required numeric.",
            "if": {
              "properties": {
                "type": {
                  "enum": [
                    "double",
                    "float",
                    "int",
                    "integer",
                    "long"
                  ]
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "type": "number"
                }
              }
            }
          },
          {
            "$comment": "Optional numeric.",
            "if": {
              "properties": {
                "type": {
                  "enum": [
                    "double?",
                    "float?",
                    "int?",
                    "integer?",
                    "long?"
                  ]
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "oneOf": [
                    {
                      "type": "number"
                    },
                    {
                      "$ref": "#/$defs/NullableType"
                    }
                  ]
                }
              }
            }
          },
          {
            "$comment": "Required enum.",
            "if": {
              "properties": {
                "type": {
                  "const": "enum"
                },
                "symbols": {
                  "$ref": "#/$defs/CWLTypeSymbols"
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "type": {
                    "$ref": "#/$defs/CWLTypeSymbolValues"
                  }
                }
              }
            }
          },
          {
            "$comment": "Optional enum.",
            "if": {
              "properties": {
                "type": {
                  "const": "enum?"
                },
                "symbols": {
                  "$ref": "#/$defs/CWLTypeSymbols"
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "oneOf": [
                    {
                      "$ref": "#/$defs/CWLTypeSymbolValues"
                    },
                    {
                      "$ref": "#/$defs/NullableType"
                    }
                  ]
                }
              }
            }
          },
          {
            "$comment": "Required File or Directory.",
            "if": {
              "properties": {
                "type": {
                  "enum": [
                    "Directory",
                    "File"
                  ]
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "$ref": "#/$defs/CWLDefaultLocation"
                }
              }
            }
          },
          {
            "$comment": "Optional File or Directory.",
            "if": {
              "properties": {
                "type": {
                  "enum": [
                    "Directory?",
                    "File?"
                  ]
                }
              }
            },
            "then": {
              "properties": {
                "default": {
                  "oneOf": [
                    {
                      "$ref": "#/$defs/CWLDefaultLocation"
                    },
                    {
                      "$ref": "#/$defs/NullableType"
                    }
                  ]
                }
              }
            }
          },
          {
            "$comment": "Required array of string.",
            "if": {
              "oneOf": [
                {
                  "properties": {
                    "type": {
                      "const": "string[]"
                    }
                  }
                },
                {
                  "properties": {
                    "type": {
                      "const": "array"
                    },
                    "items": {
                      "const": "string"
                    }
                  }
                }
              ]
            },
            "then": {
              "properties": {
                "default": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          {
            "$comment": "Required array of boolean.",
            "if": {
              "oneOf": [
                {
                  "properties": {
                    "type": {
                      "const": "boolean[]"
                    }
                  }
                },
                {
                  "properties": {
                    "type": {
                      "const": "array"
                    },
                    "items": {
                      "const": "boolean"
                    }
                  }
                }
              ]
            },
            "then": {
              "properties": {
                "default": {
                  "type": "array",
                  "items": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          {
            "$comment": "Required array of numeric.",
            "if": {
              "oneOf": [
                {
                  "properties": {
                    "type": {
                      "enum": [
                        "double[]",
                        "float[]",
                        "int[]",
                        "integer[]",
                        "long[]"
                      ]
                    }
                  }
                },
                {
                  "properties": {
                    "type": {
                      "const": "array"
                    },
                    "items": {
                      "enum": [
                        "double",
                        "float",
                        "int",
                        "integer",
                        "long"
                      ]
                    }
                  }
                }
              ]
            },
            "then": {
              "properties": {
                "default": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          {
            "$comment": "Required anything (single).",
            "if": {
              "properties": {
                "type": {
                  "const": "Any"
                }
              }
            },
            "then": {
              "properties": {
                "default": {
[...]
