{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0rc1",
    "title": "OGC API - Processes",
    "description": "Example API Definition for OGC API - Processes",
    "contact": {
      "name": "Open Geospatial Consortium",
      "email": "info@ogc.org"
    },
    "license": {
      "name": "OGC License",
      "url": "http://www.opengeospatial.org/legal/"
    }
  },
  "servers": [
    {
      "description": "Example Server 1 (GNOSIS, supporting Part 1: Core /Sync and Part 3: Workflows)",
      "url": "https://maps.gnosis.earth/ogcapi"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Landing Page"
        ],
        "operationId": "getLandingPage",
        "summary": "Retrieve the OGC API landing page for this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPage"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/conformance": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "operationId": "getConformance",
        "summary": "Retrieve the set of OGC API conformance classes that are supported by this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Conformance"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPI",
        "summary": "Retrieve this API definition.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/API"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/api/processes-list": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPIProcesses",
        "summary": "Retrieve the list of processes available from this API implementation & deployment.",
        "parameters": [
          {
            "$ref": "#/components/parameters/f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Enumeration"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "406": {
            "$ref": "#/components/responses/NotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/processes": {
      "get": {
        "summary": "retrieve the list of available processes",
        "description": "The list of processes contains a summary of each process the OGC API - Processes offers, including the link to a more detailed description of the process.\n\nFor more information, see [Section 7.7]https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_process_list).\n",
        "operationId": "getProcesses",
        "tags": [
          "Processes"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProcessList"
          }
        }
      },
      "post": {
        "summary": "deploy a process.",
        "description": "Deploys a process.\n\nFor more information, see [Section 6.3](http://docs.ogc.org/DRAFTS/20-044.html#_87a6983e-d060-458c-95ab-27e232e64822).\n",
        "operationId": "deploy",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/w"
          }
        ],
        "requestBody": {
          "description": "An OGC Application Package used to deploy a new process.",
          "required": true,
          "content": {
            "application/ogcapppkg+json": {
              "schema": {
                "$ref": "#/components/schemas/ogcapppkg"
              }
            },
            "application/cwl": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            },
            "application/cwl+json": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            },
            "application/cwl+yaml": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/ProcessSummary"
          },
          "400": {
            "$ref": "#/components/responses/Exception"
          },
          "403": {
            "$ref": "#/components/responses/ImmutableProcess"
          },
          "409": {
            "$ref": "#/components/responses/DuplicateProcess"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/processes/{processID}": {
      "get": {
        "summary": "retrieve a process description",
        "description": "The process description contains information about inputs and outputs and a link to the execution-endpoint for the process. The Core does not mandate the use of a specific process description to specify the interface of a process. That said, the Core requirements class makes the following recommendation:\n\nImplementations SHOULD consider supporting the OGC process description.\n\nFor more information, see [Section 7.8](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_process_description).\n",
        "operationId": "getProcessDescription",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProcessDescription"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "replace a process.",
        "description": "Replaces a process.\n\nFor more information, see [Section 6.4](http://docs.ogc.org/DRAFTS/20-044.html#_18582f42-ebc6-4284-9333-c089068f62b6).\n",
        "operationId": "replace",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          }
        ],
        "requestBody": {
          "description": "An OGC Application Package used to deploy a new process.",
          "required": true,
          "content": {
            "application/ogcapppkg+json": {
              "schema": {
                "$ref": "#/components/schemas/ogcapppkg"
              }
            },
            "application/cwl": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            },
            "application/cwl+json": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            },
            "application/cwl+yaml": {
              "schema": {
                "$ref": "#/components/schemas/CWL"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "400": {
            "$ref": "#/components/responses/Exception"
          },
          "403": {
            "$ref": "#/components/responses/ImmutableProcess"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/DuplicateProcess"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "undeploy a process.",
        "description": "Undeploys a process.\n\nFor more information, see [Section 6.5](http://docs.ogc.org/DRAFTS/20-044.html#_16391f9e-538f-4a84-9710-72a6bab82842).\n",
        "operationId": "undeploy",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "403": {
            "$ref": "#/components/responses/ImmutableProcess"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/processes/{processID}/package": {
      "get": {
        "summary": "retrieve the formal description used to deploy a process",
        "description": "Access the formal description that can be used to deploy a process on an OGC API - Processes Server Instance.\n",
        "operationId": "getPackage",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          }
        ],
        "responses": {
          "200": {
            "description": "The formal used to deploy a process",
            "content": {
              "application/ogcapppkg+json": {
                "schema": {
                  "$ref": "#/components/schemas/ogcapppkg"
                }
              },
              "application/cwl": {
                "schema": {
                  "$ref": "#/components/schemas/CWL"
                }
              },
              "application/cwl+json": {
                "schema": {
                  "$ref": "#/components/schemas/CWL"
                }
              },
              "application/cwl+yaml": {
                "schema": {
                  "$ref": "#/components/schemas/CWL"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/processes/{processID}/execution": {
      "post": {
        "summary": "execute a process.",
        "description": "Executes a process (this may result in the creation of a job resource e.g., for _asynchronous execution_).\n\nFor more information, see [Section 7.9](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_create_job).\n",
        "operationId": "execute",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processID-path"
          },
          {
            "name": "response",
            "in": "query",
            "description": "For executing the process using the _Collection Output_ mechanism, where the\nclient is redirected (_303_ status) to a collection resource, from which one\nor more OGC API data access mechanism is available. Data access requests may\ntrigger processing on-demand for a given area, time and resolution of interest.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "collection"
              ]
            }
          },
          {
            "in": "header",
            "description": "Indicates client preferences, including whether the client is capable of asynchronous processing.\nA `respond-async` preference indicates a preference for asynchronous processing.\nA `wait: <x>s` preference indicates that the client prefers to wait up to x seconds to receive a reponse synchronously before the server falls back to asynchronous processing.",
            "name": "Prefer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "An execution request specifying any inputs for the process to execute, and optionally to select specific outputs.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/execute-workflow"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExecuteSync"
          },
          "201": {
            "$ref": "#/components/responses/ExecuteAsync"
          },
          "204": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "303": {
            "description": "For _Collection Output_ execution, redirection to an OGC API landing page or collection.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Location for redirection to an  [OGC API landing page](https://schemas.opengis.net/ogcapi/tiles/part1/1.0/openapi/schemas/common-core/landingPage.yaml) (for `response=landingPage`) as described in\n[OGC API - Common - Part 1: Core](http://docs.ogc.org/DRAFTS/19-072.html#_landing_page_requirements_class) or\nan [OGC API collection description](https://schemas.opengis.net/ogcapi/tiles/part1/1.0/openapi/schemas/common-geodata/collectionInfo.yaml) (for `response=landingPage`) as described in\n[OGC API - Common - Part 2: Geospatial data](http://docs.ogc.org/DRAFTS/20-024.html#collection-description).\nThe collection redirected to or the collections linked from the landing page redirected to\nmust contain links to at least one data access mechanism (such as [_OGC API - Tiles_](https://opengeospatial.github.io/ogcna-auto-review/20-057.html),\n[_DGGS_](https://opengeospatial.github.io/ogcna-auto-review/21-038.html),\n[_Coverages_](http://docs.ogc.org/DRAFTS/19-087.html),\n[_Features_](https://docs.opengeospatial.org/is/17-069r4/17-069r4.html),\n[_EDR_](https://docs.ogc.org/is/19-086r5/19-086r5.html), or\n[_Maps_](http://docs.ogc.org/DRAFTS/20-058.html)...) to retrieve output results, which may\ntrigger on-demand processing."
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "callbacks": {
          "jobCompleted": {
            "{$request.body#/subscriber/successUri}": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/results"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Results received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "summary": "retrieve the list of jobs.",
        "description": "Lists available jobs.\n\nFor more information, see [Section 12](https://docs.ogc.org/is/18-062r2/18-062r2.html#Job_list).\n",
        "operationId": "getJobs",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/processID-query"
          },
          {
            "$ref": "#/components/parameters/status"
          },
          {
            "$ref": "#/components/parameters/minDuration"
          },
          {
            "$ref": "#/components/parameters/maxDuration"
          },
          {
            "$ref": "#/components/parameters/type"
          },
          {
            "$ref": "#/components/parameters/datetime"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JobList"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/jobs/{jobID}": {
      "get": {
        "summary": "retrieve the status of a job",
        "description": "Shows the status of a job.\n\n For more information, see [Section 7.10](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_retrieve_status_info).\n",
        "operationId": "getStatus",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Status"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "summary": "cancel a job execution, remove a finished job",
        "description": "Cancel a job execution and remove it from the jobs list.\n\nFor more information, see [Section 14]https://docs.ogc.org/is/18-062r2/18-062r2.html#Dismiss).\n",
        "operationId": "dismiss",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Status"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results": {
      "get": {
        "summary": "retrieve the result(s) of a job",
        "description": "Lists available results of a job. In case of a failure, lists exceptions instead.\n\nFor more information, see [Section 7.11](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_retrieve_job_results).\n",
        "operationId": "getResult",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jobID"
          },
          {
            "$ref": "#/components/parameters/prefer-header-return"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Results"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results/{outputID}": {
      "get": {
        "summary": "retrieve a specific resulting output of a job",
        "description": "Retrieve a specific resulting output for a job.\n\nFor more information, see [Section 7.14](https://docs.ogc.org/is/18-062r3/18-062r3.html#sc_retrieve_job_results_one).\n",
        "operationId": "getOutput",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jobID"
          },
          {
            "$ref": "#/components/parameters/outputID"
          },
          {
            "$ref": "#/components/parameters/prefer-header-return"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Output"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results/{outputID}/{N}": {
      "get": {
        "summary": "retrieve a single value from an output of a job allowing multiple values",
        "description": "Retrieve a single value from an output of a job allowing multiple values (maxOccurs > 1)\n\nFor more information, see [Section 7.14](https://docs.ogc.org/is/18-062r3/18-062r3.html#sc_retrieve_job_results_one).\n",
        "operationId": "getOutputValue",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/jobID"
          },
          {
            "$ref": "#/components/parameters/outputID"
          },
          {
            "$ref": "#/components/parameters/N"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Output"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "confClasses": {
        "type": "object",
        "required": [
          "conformsTo"
        ],
        "properties": {
          "conformsTo": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/core"
            }
          }
        }
      },
      "link": {
        "type": "object",
        "required": [
          "href"
        ],
        "properties": {
          "href": {
            "type": "string"
          },
          "rel": {
            "type": "string",
            "example": "service"
          },
          "type": {
            "type": "string",
            "example": "application/json"
          },
          "hreflang": {
            "type": "string",
            "example": "en"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "landingPage": {
        "type": "object",
        "required": [
          "links"
        ],
        "properties": {
          "title": {
            "type": "string",
            "example": "Example processing server"
          },
          "description": {
            "type": "string",
            "example": "Example server implementing the OGC API - Processes 1.0 Standard"
          },
          "attribution": {
            "type": "string",
            "title": "attribution for the Processes API",
            "description": "The `attribution` should be short and intended for presentation to a user, for example, in a corner of a map. Parts of the text can be links to other resources if additional information is needed. The string can include HTML markup."
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          }
        }
      },
      "exception": {
        "title": "Exception Schema",
        "description": "JSON schema for exceptions based on RFC 7807",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "collections": {
        "type": "object",
        "required": [
          "links",
          "collections"
        ],
        "properties": {
          "links": {
            "type": "array",
            "title": "Links to resource in the collections",
            "description": "Links to this or other resources provided by the collections.",
            "items": {
              "$ref": "#/components/schemas/link"
            }
          },
          "numberMatched": {
            "$ref": "#/components/schemas/numberMatched"
          },
          "numberReturned": {
            "$ref": "#/components/schemas/numberReturned"
          },
          "collections": {
            "type": "array",
            "title": "Collections descriptions",
            "description": "Descriptions of each collection in this API.",
            "items": {
              "$ref": "#/components/schemas/collectionDesc"
            }
          }
        }
      },
      "collectionDesc": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "id",
              "links"
            ],
            "properties": {
              "id": {
                "type": "string",
                "title": "Identifier of the resource",
                "description": "Identifier of the collection, for example, used in URI path parameters.",
                "minLength": 1,
                "example": "dem"
              },
              "title": {
                "type": "string",
                "title": "Title of the collection",
                "description": "A short, human-readable summary of the collection.",
                "example": "Digital Elevation Model"
              },
              "description": {
                "type": "string",
                "title": "Description of the collection",
                "description": "A human-readable explanation about data in the collection.",
                "example": "A Digital Elevation Model."
              },
              "attribution": {
                "type": "string",
                "title": "Attribution for the collection",
                "description": "Attribution for the collection, providing a way to identify the source of the geographic information, which can contain markup text whose format may be indicated in the `attributionMediaType` property. That format can be either plain text (`text/plain`), HTML (`text/html`) or https://commonmark.org/[CommonMark] (`text/markdown`).\nIf the 'attributionMediaType' indicates something other than `text/plain`, the `attribution` element string should be interpreted by a markup parser selected based on that media type to be presented to the user\n(e.g., `text/markdown` will be parsed by a library supporting CommonMark). By allowing markup, the attribution string can import images (e.g., organization logos) and format the text (e.g., the name of the organization in italics)."
              },
              "attributionMediaType": {
                "title": "Media type of the attribution",
                "description": "Media type for the markup language of the attribution: It can be either plain text (`text/plain`), HTML (`text/html`) or https://commonmark.org/[CommonMark] (`text/markdown`).",
                "enum": [
                  "text/plain",
                  "text/html",
                  "text/markdown"
                ]
              },
              "accessConstraints": {
                "title": "Access Constraints of the collection",
                "description": "Restrictions on the availability of the collection that the user needs to be aware of before using or redistributing the data:\n\n* unclassified: Available for general disclosure\n* restricted: Not for general disclosure\n* confidential: Available for someone who can be entrusted with information\n* secret: Kept or meant to be kept private, unknown, or hidden from all but a select group of people\n* topSecret: Of the highest secrecy",
                "enum": [
                  "unclassified",
                  "restricted",
                  "confidential",
                  "secret",
                  "topSecret"
                ]
              },
              "publisher": {
                "type": "string",
                "title": "Responsible party publishing the collection",
                "description": "Organization or individual responsible for making the data available"
              },
              "contacts": {
                "type": "array",
                "title": "A list of contacts",
                "description": "A list of contacts qualified by their role(s) in association to the collection.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "title": "Contact information",
                  "description": "Identification of, and means of communication with, person responsible\nfor the resource.",
                  "anyOf": [
                    {
                      "required": [
                        "name"
                      ]
                    },
                    {
                      "required": [
                        "organization"
                      ]
                    }
                  ],
                  "properties": {
                    "identifier": {
                      "type": "string",
                      "title": "Identifier of the contact",
                      "description": "A value uniquely identifying a contact."
                    },
                    "name": {
                      "type": "string",
                      "title": "name of the contact person",
                      "description": "The name of the responsible person."
                    },
                    "position": {
                      "type": "string",
                      "title": "position in the organization",
                      "description": "The name of the role or position of the responsible person taken\nfrom the organization's formal organizational hierarchy or chart."
                    },
                    "organization": {
                      "type": "string",
                      "title": "Name of the organization",
                      "description": "Organization/affiliation of the contact."
                    },
                    "logo": {
                      "title": "Logo of the contact",
                      "description": "Link to a graphic identifying a contact. The link relation should be `icon`\nand the media type should be an image media type.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/link"
                        },
                        {
                          "type": "object",
                          "required": [
                            "rel",
                            "type"
                          ],
                          "properties": {
                            "rel": {
                              "enum": [
                                "icon"
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "phones": {
                      "type": "array",
                      "title": "Telephone numbers",
                      "description": "Telephone numbers at which contact can be made.",
                      "items": {
                        "type": "object",
                        "required": [
                          "value"
                        ],
                        "properties": {
                          "value": {
                            "type": "string",
                            "title": "Phone number.",
                            "description": "The value is the phone number itself.",
                            "pattern": "^\\+[1-9]{1}[0-9]{3,14}$",
                            "example": "+14165550142"
                          },
                          "roles": {
                            "title": "Type of phone number.",
                            "description": "The type of phone number (e.g. home, work, fax, etc.).",
                            "$ref": "#/components/schemas/collectionDesc/allOf/0/properties/contacts/items/properties/roles"
                          }
                        }
                      }
                    },
                    "emails": {
                      "type": "array",
                      "title": "Email addresses",
                      "description": "Email addresses at which contact can be made.",
                      "items": {
                        "type": "object",
                        "required": [
                          "value"
                        ],
                        "properties": {
                          "value": {
                            "type": "string",
                            "title": "Email address",
                            "description": "The value is the email itself.",
                            "format": "email"
                          },
                          "roles": {
                            "title": "Type of email",
                            "description": "The type of email (e.g. home, work, etc.).",
                            "$ref": "#/components/schemas/collectionDesc/allOf/0/properties/contacts/items/properties/roles"
                          }
                        }
                      }
                    },
                    "addresses": {
                      "type": "array",
                      "title": "Postal addresses",
                      "description": "Physical locations at which contact can be made.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deliveryPoint": {
                            "type": "array",
                            "title": "Details of the address",
                            "description": "Address lines for the location (e.g. street name and door number).",
                            "items": {
                              "type": "string"
                            }
                          },
                          "city": {
                            "type": "string",
                            "title": "City",
                            "description": "City for the location."
                          },
                          "administrativeArea": {
                            "type": "string",
                            "title": "State of province",
                            "description": "State or province of the location."
                          },
                          "postalCode": {
                            "type": "string",
                            "title": "Postal code",
                            "description": "ZIP or other postal code."
                          },
                          "country": {
                            "type": "string",
                            "title": "Country",
                            "description": "Country of the physical address.  ISO 3166-1 is recommended."
                          },
                          "roles": {
                            "title": "Type of postal address",
                            "description": "The type of postal address (e.g. office, home, etc.).",
                            "$ref": "#/components/schemas/collectionDesc/allOf/0/properties/contacts/items/properties/roles"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "array",
                      "title": "Links about the contact",
                      "description": "On-line information about the contact.",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/link"
                          },
                          {
                            "type": "object",
                            "required": [
                              "type"
                            ]
                          }
                        ]
                      }
                    },
                    "hoursOfService": {
                      "type": "string",
                      "title": "Hours of service",
                      "description": "Time period when the contact can be contacted.",
                      "example": "Hours: Mo-Fr 10am-7pm Sa 10am-22pm Su 10am-21pm"
                    },
                    "contactInstructions": {
                      "type": "string",
                      "title": "Contact instructions",
                      "description": "Supplemental instructions on how or when to contact can be made."
                    },
                    "roles": {
                      "title": "Types of contact person",
                      "description": "The set of named duties, job functions and/or permissions associated with this contact. (e.g. developer, administrator, etc.).",
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "license": {
                "type": "string",
                "title": "License associated to the collection",
                "description": "The legal provisions under which the data of this collection is made available."
              },
              "rights": {
                "type": "string",
                "title": "Rights over the collection",
                "description": "A statement that concerns all rights not addressed by the license such as a copyright statement."
              },
              "formats": {
                "title": "Formats for distributing the collection",
                "description": "A list of formats in which the data of this collection is distributed",
                "type": "array",
                "items": {
                  "type": "object",
                  "anyOf": [
                    {
                      "required": [
                        "name"
                      ]
                    },
                    {
                      "required": [
                        "mediaType"
                      ]
                    }
                  ],
                  "properties": {
                    "name": {
                      "title": "Name of the format",
                      "description": "Name of the format.",
                      "type": "string"
                    },
                    "mediaType": {
                      "title": "Media type of the format",
                      "description": "Media type of the format.",
                      "type": "string"
                    }
                  }
                }
              },
              "keywords": {
                "type": "array",
                "title": "Keywords representing aspects of the collection",
                "description": "The topic or topics of the resource. Typically represented using free-form keywords, tags, key phrases, or classification codes.",
                "items": {
                  "type": "string"
                }
              },
              "themes": {
                "type": "array",
                "title": "Themes represented by the resource",
                "description": "A knowledge organization system used to classify the resource.",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "required": [
                    "concepts",
                    "scheme"
                  ],
                  "properties": {
                    "concepts": {
                      "type": "array",
                      "title": "List of concepts in the vocabulary",
                      "description": "One or more entity/concept identifiers from this knowledge system. it is recommended that a resolvable URI be used for each entity/concept identifier.",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "required": [
                          "id"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "Identifier for the concept",
                            "description": "Identifier for the concept in the knowledge system.",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string",
                            "title": "Title of the concept",
                            "description": "A human readable title for the concept."
                          },
                          "description": {
                            "type": "string",
                            "title": "Description of the concept",
                            "description": "A human readable description for the concept."
                          },
                          "url": {
                            "type": "string",
                            "format": "uri",
                            "title": "URI of the concept",
                            "description": "A URI providing further description of the concept. It is called \"definition\" in STA."
                          }
                        }
                      }
                    },
                    "scheme": {
                      "type": "string",
                      "title": "Identifier of the vocabulary",
                      "description": "An identifier for the knowledge organization system used to classify the resource.  It is recommended that the identifier be a resolvable URI.  The list of schemes used in a searchable catalog can be determined by inspecting the server's OpenAPI document or, if the server implements CQL2, by exposing a queryable (e.g. named `scheme`) and enumerating the list of schemes in the queryable's schema definition."
                    }
                  }
                }
              },
              "resourceLanguages": {
                "type": "array",
                "title": "The list of languages of the collection",
                "description": "The list of languages in which the data of this collection is available.",
                "items": {
                  "type": "object",
                  "title": "Resource language",
                  "description": "The language used for textual values in this resource.",
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "description": "The language tag as per RFC-5646.",
                      "example": "el"
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "title": "Original name",
                      "description": "The untranslated name of the language.",
                      "example": "Ελληνικά"
                    },
                    "alternate": {
                      "type": "string",
                      "title": "Translated name",
                      "description": "The name of the language in another well-understood language, usually English.",
                      "example": "Greek"
                    },
                    "dir": {
                      "type": "string",
                      "title": "Direction of the text",
                      "description": "The direction for text in this language. The default, `ltr` (left-to-right), represents the most common situation. However, care should be taken to set the value of `dir` appropriately if the language direction is not `ltr`. Other values supported are `rtl` (right-to-left), `ttb` (top-to-bottom), and `btt` (bottom-to-top).",
                      "enum": [
                        "ltr",
                        "rtl",
                        "ttb",
                        "btt"
                      ],
                      "default": "ltr"
                    }
                  }
                }
              },
              "links": {
                "type": "array",
                "title": "Links relevant to this collection",
                "description": "Links to this or other resources related to this collection.",
                "example": [
                  {
                    "href": "http://data.example.org/collections/dem?f=json",
                    "rel": "self",
                    "type": "application/json",
                    "title": "Digital Elevation Model"
                  },
                  {
                    "href": "http://data.example.org/collections/dem?f=html",
                    "rel": "alternate",
                    "type": "application/json",
                    "title": "Digital Elevation Model"
                  },
                  {
                    "href": "http://data.example.org/collections/dem/coverage",
                    "rel": "coverage",
                    "type": "image/tiff; application=geotiff",
                    "title": "Digital Elevation Model"
                  },
                  {
                    "href": "http://data.example.org/collections/dem/coverage/domainset",
                    "rel": "domainset",
                    "type": "application/json",
                    "title": "Digital Elevation Model"
                  },
                  {
                    "href": "http://data.example.org/collections/dem/coverage/rangetype",
                    "rel": "rangetype",
                    "type": "application/json",
                    "title": "Digital Elevation Model"
                  },
                  {
                    "href": "http://data.example.org/collections/dem/coverage/metadata",
                    "rel": "metadata",
                    "type": "application/json",
                    "title": "Digital Elevation Model"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/link"
                }
              },
              "itemType": {
                "title": "Type of the items in the collection",
                "description": "Indicator about the type of the items in the collection if the collection has an accessible `/collections/{collectionId}/items` endpoint (e.g., `feature` or `record`).",
                "type": "string",
                "default": "feature"
              },
              "dataType": {
                "title": "Nature of the data in the collection",
                "description": "Nature of the data in the collection. For example, this could be set to `map`, `vector` or `coverage`. It is not an indication of the available data access mechanism, but a hint regarding the internal representation of the data.",
                "$ref": "#/components/schemas/dataType"
              },
              "featureTypes": {
                "title": "Feature type(s) present in the collection",
                "description": "The list of feature (or coverage) type(s) which are present inside the collection. This is useful for associating the relevant portrayal rules of a style.",
                "type": "string"
              },
              "parent": {
                "title": "Identifier of a parent collection (if this collection is part of a hierarchy)",
                "description": "If this collection is part of a hierarchy, this property allows to identify another collection within the same dataset as its parent (by setting `parent` to the `id` of that collection), enabling clients to construct a hierarchy.",
                "type": "string"
              },
              "geoDataClasses": {
                "title": "Class of data in the collection",
                "description": "One or more classes of geospatial data, identified by a URI, which implies compatibility with a particular schema (fields/properties, as defined in OGC API - Common - Part 3: Schemas) for one or more collections, each with particular semantic definitions and data types. This is useful for example to determine compatibility with styles or processes, or to identify a particular collection within a dataset based on semantics.",
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "defaultFields": {
                "title": "List of fields returned by default",
                "description": "A sorted list of field names. For a Features data access mechanism, it is the list of returnable properties included by default and complementing the geometry of the features. For a Coverage data access mechanism, they are names of fields whose values are included by default. Note that an API may provide a mechanism (e.g., a query parameter called `properties` or `exclude-properties`) to override this default list in customized responses.",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1
              },
              "crs": {
                "title": "List of coordinate reference systems supported in the collection",
                "description": "The list of coordinate reference systems supported by the API; if present, the list should include the default coordinate reference system (usually listed first). Each item should be a URI to a registered CRS if one is available, or a full description of the CRS otherwise using e.g., a WKT2CRS string, or a PROJJSON, or CRS JSON object.",
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "default": [
                  "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
                ],
                "example": [
                  "http://www.opengis.net/def/crs/OGC/1.3/CRS84",
                  "http://www.opengis.net/def/crs/EPSG/0/4326"
                ]
              },
              "storageCrs": {
                "title": "Storage or native CRS of the data in the collection",
                "description": "The native coordinate reference system (i.e., the most efficient CRS in which to request the data, possibly how the data is stored on the server); this is the default output coordinate reference system for Maps and Coverages. This should be a URI to a registered CRS if one is available, or a full description of the CRS otherwise using e.g., a WKT2CRS string, or a PROJJSON, or CRS JSON object.",
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object"
                  }
                ],
                "default": "http://www.opengis.net/def/crs/OGC/1.3/CRS84",
                "example": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
              },
              "epoch": {
                "title": "Epoch of the data in the collection",
                "description": "Epoch of the native (storage) Coordinate Reference System (CRS)",
                "type": "number",
                "example": 2021.33
              },
              "geometryDimension": {
                "title": "Number of spatial dimensions of the primary geometry for the data",
                "description": "Number of spatial dimensions of the primary geometry of individual elements of the data: 0 for points, 1 for curves, 2 for surfaces, 3 for solids and unspecified when mixed or unknown. Not to be confused with the dimensions of the domain which are defined by the extent element.",
                "type": "integer",
                "minimum": 0,
                "maximum": 3
              },
              "minScaleDenominator": {
                "title": "Minimum scale denominator for the collection",
                "description": "Minimum scale denominator for usage of the collection.",
                "type": "number"
              },
              "maxScaleDenominator": {
                "title": "Maximum scale denominator for the collection",
                "description": "Maximum scale denominator for usage of the collection.",
                "type": "number"
              },
              "minCellSize": {
                "title": "Minimum cell size for the collection",
                "description": "Minimum cell size for usage of the collection.",
                "type": "number"
              },
              "maxCellSize": {
                "title": "Maximum cell size for the collection",
                "description": "Maximum cell size for usage of the collection.",
                "type": "number"
              },
              "created": {
                "title": "Timestamp when the collection was first produced",
                "description": "Timestamp indicating when the data in the collection was first produced.",
                "type": "string",
                "format": "date-time"
              },
              "updated": {
                "title": "Timestamp of the last change/revision to the collection",
                "description": "Timestamp of the last change/revision to the data in the collection.",
                "type": "string",
                "format": "date-time"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "extent": {
                "$ref": "#/components/schemas/extent"
              }
            }
          }
        ]
      },
      "extent": {
        "title": "Extent with (optional) Uniform Additional Dimensions Schema",
        "description": "The extent of the data in the collection.\nThis extent schema includes optional additional dimensions, but will still validate for objects not conforming to UAD.\nOGC API - Common - Part 2 \"Collections\" requirements class specifies only the definition of the spatial and temporal extents.\nThe \"Uniform Additional Dimensions\" requirements class specifies a generic schema for describing any additional dimension, such as thermal or pressure ranges.",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "spatial": {
                "title": "Spatial extent",
                "description": "The spatial extent of the data in the collection.",
                "type": "object",
                "properties": {
                  "bbox": {
                    "title": "Bounding box in the 'crs' coordinates",
                    "description": "One or more bounding boxes that describe the spatial extent of the dataset.\n\nThe first bounding box describes the overall spatial\nextent of the data. All subsequent bounding boxes describe\nmore precise bounding boxes, e.g., to identify clusters of data.\nClients only interested in the overall spatial extent will\nonly need to access the first item in each array.",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "description": "Each bounding box is provided as four or six numbers, depending on\nwhether the coordinate reference system includes a vertical axis\n(height or depth):\n\n* Lower left corner, coordinate axis 1\n* Lower left corner, coordinate axis 2\n* Minimum value, coordinate axis 3 (optional)\n* Upper right corner, coordinate axis 1\n* Upper right corner, coordinate axis 2\n* Maximum value, coordinate axis 3 (optional)\n\nIf the value consists of four numbers, the coordinate reference system is\nWGS 84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84)\nunless a different coordinate reference system is specified in `crs` property.\n\nIf the value consists of six numbers, the coordinate reference system is WGS 84\nlongitude/latitude/ellipsoidal height (http://www.opengis.net/def/crs/OGC/0/CRS84h)\nunless a different coordinate reference system is specified in `crs` property.\n\nFor WGS 84 longitude/latitude the values are in most cases the sequence of\nminimum longitude, minimum latitude, maximum longitude and maximum latitude.\nHowever, in cases where the box spans the antimeridian the first value\n(west-most box edge) is larger than the third value (east-most box edge).\n\nIf the vertical axis is included, the third and the sixth number are\nthe bottom and the top of the 3-dimensional bounding box.\n\nIf a feature has multiple spatial geometry properties, it is the decision of the\nserver whether only a single spatial geometry property is used to determine\nthe extent or all relevant geometries.",
                      "type": "array",
                      "oneOf": [
                        {
                          "minItems": 4,
                          "maxItems": 4
                        },
                        {
                          "minItems": 6,
                          "maxItems": 6
                        }
                      ],
                      "items": {
                        "type": "number"
                      },
                      "example": [
                        -180,
                        -90,
                        180,
                        90
                      ]
                    }
                  },
                  "storageCrsBbox": {
                    "title": "Bounding box in the storage CRS",
                    "description": "One or more bounding boxes that describe the spatial extent of the dataset in the storage (native) CRS (`storageCrs` property).\n\nThe first bounding box describes the overall spatial\nextent of the data. All subsequent bounding boxes describe\nmore precise bounding boxes, e.g., to identify clusters of data.\nClients only interested in the overall spatial extent will\nonly need to access the first item in each array.",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "description": "Each bounding box is provided as four or six numbers, depending on\nwhether the coordinate reference system includes a vertical axis\n(height or depth):\n\n* Lower left corner, coordinate axis 1\n* Lower left corner, coordinate axis 2\n* Minimum value, coordinate axis 3 (optional)\n* Upper right corner, coordinate axis 1\n* Upper right corner, coordinate axis 2\n* Maximum value, coordinate axis 3 (optional)",
                      "type": "array",
                      "oneOf": [
                        {
                          "minItems": 4,
                          "maxItems": 4
                        },
                        {
                          "minItems": 6,
                          "maxItems": 6
                        }
                      ],
                      "items": {
                        "type": "number"
                      },
                      "example": [
                        -180,
                        -90,
                        180,
                        90
                      ]
                    }
                  },
                  "crs": {
                    "title": "Coordinate reference system",
                    "description": "Coordinate reference system of the coordinates of the `bbox` property.\nThe default reference system is WGS 84 longitude/latitude.\nWGS 84 longitude/latitude/ellipsoidal height for coordinates with height.\nFor data not referenced to Earth, another CRS may be specified.\nThis should be a URI to a registered CRS if one is available, or a full description of the CRS otherwise using e.g., a WKT2CRS string, or a PROJJSON, or CRS JSON object.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "http://www.opengis.net/def/crs/OGC/1.3/CRS84",
                          "http://www.opengis.net/def/crs/OGC/0/CRS84h"
                        ]
                      },
                      {
                        "type": "object"
                      }
                    ],
                    "default": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
                  },
                  "grid": {
                    "title": "Grid description",
                    "description": "Provides information about the limited availability of data within the collection organized\nas a grid (regular or irregular) along each spatial dimension.",
                    "type": "array",
                    "minItems": 2,
                    "maxItems": 3,
                    "items": {
                      "$ref": "#/components/schemas/extent-UAD/allOf/0/additionalProperties/properties/grid"
                    }
                  }
                }
              },
              "temporal": {
                "title": "Temporal extent",
                "description": "The temporal extent of the data in the collection.",
                "type": "object",
                "properties": {
                  "interval": {
                    "title": "Temporal intervals",
                    "description": "One or more time intervals that describe the temporal extent of the dataset.\n\nThe first time interval describes the overall\ntemporal extent of the data. All subsequent time intervals describe\nmore precise time intervals, e.g., to identify clusters of data.\nClients only interested in the overall extent will only need\nto access the first item in each array.",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "description": "Begin and end times of the time interval. The timestamps are in the\ntemporal coordinate reference system specified in `trs`. By default\nthis is the Gregorian calendar, expressed using RFC 3339 section 5.6.\nNote that these times may be specified using time zone offsets to UTC time other than zero.\n\nThe value `null` for start or end time is supported and indicates a half-bounded time interval.",
                      "type": "array",
                      "minItems": 2,
                      "maxItems": 2,
                      "items": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "example": "2011-11-11T12:22:11Z"
                      }
                    }
                  },
                  "trs": {
                    "title": "Temporal Coordinate Reference System",
                    "description": "Coordinate reference system of the coordinates in the temporal extent\n(property `interval`). The default reference system is the Gregorian calendar.\nFor data for which the Gregorian calendar is not suitable, such as geological time scale, another temporal reference system may be used.\nThis should be a URI to a registered TRS if one is available, or a full description of the TRS otherwise using e.g., a WKT2CRS string, or a PROJJSON, or CRS JSON object.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "enum": [
                          "http://www.opengis.net/def/uom/ISO-8601/0/Gregorian"
                        ]
                      },
                      {
                        "type": "object"
                      }
                    ],
                    "default": "http://www.opengis.net/def/uom/ISO-8601/0/Gregorian"
                  },
                  "grid": {
                    "$ref": "#/components/schemas/extent-UAD/allOf/0/additionalProperties/properties/grid"
                  }
                }
              }
            }
          },
          {
            "anyOf": [
              {
                "type": "object",
                "description": "General object extension point"
              },
              {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/extent-UAD/allOf/0/additionalProperties"
                }
              }
            ]
          }
        ]
      },
      "extent-UAD": {
        "title": "Extent conforming to Uniform Additional Dimensions Schema",
        "description": "The extent of the data in the collection.\nThis extent schema requires that if any dimension beyond spatial and temporal are specified, they conform to the Uniform Additional Dimensions schema.\nIn addition to the spatial and temporal extents defined in the \"Collections\" requirements class of OGC API - Common - Part 2,\nthe \"Uniform Additional Dimensions\" requirements class specifies a generic schema for describing any additional dimension, such as thermal or pressure ranges.",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "spatial": {
                "$ref": "#/components/schemas/extent/allOf/0/properties/spatial"
              },
              "temporal": {
                "$ref": "#/components/schemas/extent/allOf/0/properties/temporal"
              }
            },
            "additionalProperties": {
              "title": "Extent of any additional dimensions",
              "description": "The domain intervals for any additional dimensions of the extent (envelope) beyond those described in temporal and spatial.",
              "type": "object",
              "oneOf": [
                {
                  "required": [
                    "interval",
                    "definition"
                  ]
                },
                {
                  "required": [
                    "interval",
                    "trs"
                  ]
                },
                {
                  "required": [
                    "interval",
                    "vrs"
                  ]
                }
              ],
              "properties": {
                "interval": {
                  "title": "Interval of the extent of this dimension",
                  "description": "One or more intervals that describe the extent for this dimension of the dataset.\nThe value `null` is supported and indicates an unbounded or half-bounded interval.\nThe first interval describes the overall extent of the data for this dimension.\nAll subsequent intervals describe more precise intervals, e.g., to identify clusters of data.\nClients only interested in the overall extent will only need\nto access the first item (a pair of lower and upper bound values).",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "description": "Lower and upper bound values of the interval. The values\nare in the coordinate reference system specified in `crs`, `trs` or `vrs`.",
                    "type": "array",
                    "minItems": 2,
                    "maxItems": 2,
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "nullable": true,
                          "example": "2011-11-11T12:22:11Z"
                        },
                        {
                          "type": "number",
                          "example": 32.7
                        }
                      ]
                    }
                  }
                },
                "trs": {
                  "title": "Temporal Coordinate Reference System",
                  "description": "Temporal Coordinate Reference System (e.g. as defined by Features for 'temporal'). This should be a URI to a registered TRS if one is available, or a full description of the TRS otherwise using e.g., a WKT2CRS string, or a PROJJSON, or CRS JSON object.",
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "vrs": {
                  "title": "Vertical Coordinate Reference System",
                  "description": "Vertical Coordinate Reference System (e.g. as defined in EDR for 'vertical'). This should be a URI to a registered VRS if one is available, or a full description of the VRS otherwise using e.g., a WKT2CRS string, or a PROJJSON, or CRS JSON object.",
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "grid": {
                  "type": "object",
                  "title": "Grid.",
                  "description": "Provides information about the limited availability of data within the collection organized as a grid (regular or irregular) along the dimension.",
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "cellsCount"
                      ],
                      "properties": {
                        "cellsCount": {
                          "title": "Cell count",
                          "description": "Number of samples available along the dimension for data organized as a regular or irregular grid.",
                          "type": "integer",
                          "example": 50
                        }
                      }
                    },
                    {
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "Regular grid",
                          "description": "Regular grid with samples spaced at equal intervals.",
                          "required": [
                            "resolution",
                            "firstCoordinate"
                          ],
                          "properties": {
                            "resolution": {
                              "title": "Resolution",
                              "description": "Resolution of regularly gridded data along the dimension in the collection.",
                              "oneOf": [
                                {
                                  "type": "string",
                                  "nullable": true,
                                  "example": "PT1H"
                                },
                                {
                                  "type": "number",
                                  "example": 0.0006866455078
                                }
                              ]
                            },
                            "availableResolutions": {
                              "title": "Available resolutions",
                              "description": "List of resolutions made available by the API. If not specified, there are no limit other than the limits indicated in `minCellSize` and `maxCellSize` of the collection description (though the API might still allow requesting data beyond these).",
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              "example": [
                                "P1H",
                                "P1D",
                                "P1M"
                              ]
                            },
                            "firstCoordinate": {
                              "title": "First coordinate",
                              "description": "First coordinate where a regular grid begins, with subsequent coordinates adding `resolution` unit at each step.",
                              "oneOf": [
                                {
                                  "type": "string",
                                  "nullable": true
                                },
                                {
                                  "type": "number"
                                }
                              ],
                              "example": -180
                            },
                            "relativeBounds": {
                              "title": "Relative bounds",
                              "description": "Distance in units from coordinate to the lower and upper bounds of each cell for regular grids, describing the geometry of the cells.",
                              "type": "array",
                              "minItems": 2,
                              "maxItems": 2,
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  {
                                    "type": "number"
                                  }
                                ]
                              },
                              "example": [
                                -0.5,
                                0.5
                              ]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "title": "Irregular grid.",
                          "description": "Irregular grid with samples spaced at different intervals.",
                          "required": [
                            "coordinates"
                          ],
                          "properties": {
                            "coordinates": {
                              "title": "Coordinates of the irregular cells",
                              "description": "List of coordinates along the dimension for which data organized as an irregular grid in the collection is available.\n(e.g., 2, 10, 80, 100).",
                              "type": "array",
                              "minItems": 1,
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "nullable": true,
                                    "example": "2020-11-12T12:15:00Z"
                                  },
                                  {
                                    "type": "number",
                                    "example": 12.3
                                  }
                                ]
                              },
                              "example": [
                                2,
                                10,
                                80,
                                100
                              ]
                            },
                            "boundsCoordinates": {
                              "title": "Bounds coordinates",
                              "description": "For irregular grids, an ordered list of the coordinates in absolute units of the lower and upper bounds of the dimension for each cell.",
                              "type": "array",
                              "minItems": 1,
                              "items": {
                                "type": "array",
                                "minItems": 2,
                                "maxItems": 2,
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                }
                              },
                              "example": [
                                [
                                  -180,
                                  -179
                                ],
                                [
                                  -179,
                                  -178
                                ]
                              ]
                            }
                          }
                        }
                      ]
                    }
                  ]
                },
                "definition": {
                  "type": "string",
                  "format": "uri",
                  "title": "Observed property definition",
                  "description": "A URI for the definition of the measured or observed property corresponding to this dimension."
                },
                "unit": {
                  "type": "string",
                  "title": "Units of measurement",
                  "description": "The unit of measure in which the interval and/or grid values are expressed."
                },
                "unitLang": {
                  "type": "string",
                  "default": "UCUM",
                  "title": "Units of measurement vocabulary",
                  "description": "The language (or vocabulary) in which the unit is expressed (defaults to \"UCUM\" if not specified)."
                },
                "variableType": {
                  "title": "Variable type",
                  "description": "The type of variable which may inform correct interpretation and interpolation methods.",
                  "type": "string",
                  "enum": [
                    "continuous",
                    "numericalOrdinal",
                    "numericalNominal",
                    "categoricalOrdinal",
                    "categoricalNominal"
                  ]
                }
              }
            }
          }
        ]
      },
      "crs": {
        "title": "CRS",
        "oneOf": [
          {
            "description": "Simplification of the object into a url if the other properties are not present",
            "type": "string"
          },
          {
            "type": "object",
            "oneOf": [
              {
                "required": [
                  "uri"
                ],
                "properties": {
                  "uri": {
                    "description": "Reference to one coordinate reference system (CRS)",
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              {
                "required": [
                  "wkt"
                ],
                "properties": {
                  "wkt": {
                    "allOf": [
                      {
                        "description": "An object defining the CRS using the JSON encoding for Well-known text representation of coordinate reference systems 2.0"
                      },
                      {
                        "type": "object"
                      }
                    ]
                  }
                }
              },
              {
                "required": [
                  "referenceSystem"
                ],
                "properties": {
                  "referenceSystem": {
                    "description": "A reference system data structure as defined in the MD_ReferenceSystem of the ISO 19115",
                    "type": "object"
                  }
                }
              }
            ]
          }
        ]
      },
      "dataType": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "string",
            "enum": [
              "map",
              "vector",
              "coverage"
            ]
          }
        ]
      },
      "timeStamp": {
        "title": "Time stamp",
        "description": "This property indicates the time and date when the response was generated using RFC 3339 notation.",
        "type": "string",
        "format": "date-time",
        "example": "2017-08-17T08:05:32Z"
      },
      "numberReturned": {
        "title": "The number of elements in the response",
        "description": "A server may omit this information, if the information about the number of elements is not known or difficult to compute. If the value is provided, the value shall be identical to the number of elements in the response.",
        "type": "integer",
        "minimum": 0,
        "example": 10
      },
      "numberMatched": {
        "title": "The number of elements in the response",
        "description": "The number of elements in the response that match the selection parameters like `bbox`.",
        "type": "integer",
        "minimum": 0,
        "example": 127
      },
      "CWL": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLAtomic"
          },
          {
            "$ref": "#/components/schemas/CWLGraph"
          },
          {
            "$ref": "#/components/schemas/CWLWorkflow"
          }
        ]
      },
      "cwltool_CUDARequirement": {
        "type": "object",
        "title": "cwltool:CUDARequirement",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "cwltool:CUDARequirement"
            ]
          },
          "cudaVersionMin": {
            "type": "string",
            "title": "CUDA version minimum",
            "description": "The minimum CUDA version required to run the software. This corresponds to a CUDA SDK release.\n\nWhen run in a container, the container image should provide the CUDA runtime,\nand the host driver is injected into the container.  In this case, because CUDA drivers\nare backwards compatible, it is possible to use an older SDK with a newer driver across major versions.\n\nSee https://docs.nvidia.com/deploy/cuda-compatibility/ for details.\n",
            "example": "11.4",
            "pattern": "^\\d+\\.\\d+$"
          },
          "cudaComputeCapability": {
            "oneOf": [
              {
                "type": "string",
                "title": "CUDA compute capability",
                "description": "The compute capability supported by the GPU hardware.",
                "pattern": "^\\d+\\.\\d+$"
              },
              {
                "type": "array",
                "title": "CUDAComputeCapabilityArray",
                "items": {
                  "type": "string",
                  "title": "CUDA compute capability",
                  "description": "The compute capability supported by the GPU hardware.",
                  "pattern": "^\\d+\\.\\d+$"
                },
                "minItems": 1
              }
            ],
            "title": "CUDA compute capability",
            "description": "The compute capability supported by the GPU hardware.\n\n* If this is a single value, it defines only the minimum compute capability.\n  GPUs with higher capability are also accepted.\n* If it is an array value, then only select GPUs with compute capabilities that explicitly\n  appear in the array.\n  See https://docs.nvidia.com/deploy/cuda-compatibility/#faq and\n  https://docs.nvidia.com/cuda/cuda-c-best-practices-guide/index.html#cuda-compute-capability\n  for details.\n"
          },
          "cudaDeviceCountMin": {
            "type": "integer",
            "title": "CUDA device count minimum",
            "description": "The minimum amount of devices required.",
            "default": 1,
            "example": 1,
            "minimum": 1
          },
          "cudaDeviceCountMax": {
            "type": "integer",
            "title": "CUDA device count maximum",
            "description": "The maximum amount of devices required.",
            "default": 1,
            "example": 8,
            "minimum": 1
          }
        },
        "required": [
          "cudaVersionMin",
          "cudaComputeCapability"
        ],
        "additionalProperties": false
      },
      "CWLAtomic": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CWLVersion"
          },
          {
            "$ref": "#/components/schemas/CWLMetadata"
          },
          {
            "$ref": "#/components/schemas/CWLDocumentation"
          },
          {
            "$ref": "#/components/schemas/CWLAtomicBase"
          }
        ]
      },
      "CWLAtomicNested": {
        "description": "Same as 'CWLAtomic', but 'cwlVersion' not repeated (only at root).",
        "allOf": [
          {
            "$ref": "#/components/schemas/CWLMetadata"
          },
          {
            "$ref": "#/components/schemas/CWLDocumentation"
          },
          {
            "$ref": "#/components/schemas/CWLAtomicBase"
          }
        ]
      },
      "CWLGraph": {
        "title": "CWLGraph",
        "allOf": [
          {
            "$ref": "#/components/schemas/CWLVersion"
          },
          {
            "$ref": "#/components/schemas/CWLMetadata"
          },
          {
            "$ref": "#/components/schemas/CWLDocumentation"
          },
          {
            "type": "object",
            "properties": {
              "$graph": {
                "type": "array",
                "title": "CWLGraphList",
                "description": "Graph definition that defines *exactly one* CWL application package represented as list. Multiple definitions simultaneously deployed is NOT supported currently.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/CWLMetadata"
                    },
                    {
                      "$ref": "#/components/schemas/CWLDocumentation"
                    },
                    {
                      "type": "object",
                      "title": "CWLGraphItem",
                      "properties": {
                        "class": {
                          "type": "string",
                          "title": "Class",
                          "description": "CWL class specification. This is used to differentiate between single Application Package (AP)definitions and Workflow that chains multiple packages.",
                          "enum": [
                            "CommandLineTool",
                            "ExpressionTool",
                            "Workflow"
                          ]
                        },
                        "id": {
                          "$ref": "#/components/schemas/CWLAtomicBase/properties/id"
                        },
                        "intent": {
                          "$ref": "#/components/schemas/CWLAtomicBase/properties/intent"
                        },
                        "requirements": {
                          "$ref": "#/components/schemas/CWLRequirements"
                        },
                        "hints": {
                          "$ref": "#/components/schemas/CWLHints"
                        },
                        "baseCommand": {
                          "$ref": "#/components/schemas/CWLCommand"
                        },
                        "arguments": {
                          "$ref": "#/components/schemas/CWLArguments"
                        },
                        "inputs": {
                          "$ref": "#/components/schemas/CWLInputsDefinition"
                        },
                        "outputs": {
                          "$ref": "#/components/schemas/CWLOutputsDefinition"
                        },
                        "scatter": {
                          "$ref": "#/components/schemas/CWLAtomicBase/properties/scatter"
                        },
                        "scatterMethod": {
                          "$ref": "#/components/schemas/CWLAtomicBase/properties/scatterMethod"
                        }
                      },
                      "required": [
                        "class",
                        "id",
                        "inputs",
                        "outputs"
                      ]
                    }
                  ]
                },
                "maxItems": 1,
                "minItems": 1
              }
            },
            "required": [
              "$graph"
            ]
          }
        ]
      },
      "CWLWorkflow": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CWLVersion"
          },
          {
            "$ref": "#/components/schemas/CWLMetadata"
          },
          {
            "$ref": "#/components/schemas/CWLDocumentation"
          },
          {
            "$ref": "#/components/schemas/CWLWorkflowClass"
          },
          {
            "$ref": "#/components/schemas/CWLWorkflowBase"
          }
        ]
      },
      "CWLWorkflowClass": {
        "type": "object",
        "properties": {
          "class": {
            "type": "string",
            "enum": [
              "Workflow"
            ]
          }
        }
      },
      "CWLWorkflowBase": {
        "type": "object",
        "properties": {
          "steps": {
            "$ref": "#/components/schemas/CWLWorkflowSteps"
          },
          "inputs": {
            "$ref": "#/components/schemas/CWLInputsDefinition"
          },
          "outputs": {
            "$ref": "#/components/schemas/CWLOutputsDefinition"
          },
          "requirements": {
            "description": "Technically a different subset, but lots of redefinitions to be done.",
            "$ref": "#/components/schemas/CWLRequirements"
          },
          "hints": {
            "description": "Technically a different subset, but lots of redefinitions to be done.",
            "$ref": "#/components/schemas/CWLHints"
          }
        }
      },
      "CWLWorkflowSteps": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLWorkflowStepMap"
          },
          {
            "$ref": "#/components/schemas/CWLWorkflowStepList"
          }
        ]
      },
      "CWLInputsDefinition": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLInputList"
          },
          {
            "description": "Avoid 'oneOf' conflict of generic mapping key strings as input identifier matching against '$import'.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CWLInputMap"
              },
              {
                "not": {
                  "$ref": "#/components/schemas/CWLImport"
                }
              }
            ]
          },
          {
            "$ref": "#/components/schemas/CWLImport"
          }
        ],
        "title": "CWLInputsDefinition",
        "description": "All inputs available to the Application Package."
      },
      "CWLOutputsDefinition": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLOutputList"
          },
          {
            "description": "Avoid 'oneOf' conflict of generic mapping key strings as output identifier matching against '$import'.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CWLOutputMap"
              },
              {
                "not": {
                  "$ref": "#/components/schemas/CWLImport"
                }
              }
            ]
          },
          {
            "$ref": "#/components/schemas/CWLImport"
          }
        ],
        "title": "CWLOutputsDefinition",
        "description": "All outputs produced by the Application Package."
      },
      "CWLWorkflowStepMap": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/CWLWorkflowStepObject"
        }
      },
      "CWLWorkflowStepList": {
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/CWLWorkflowStepId"
            },
            {
              "$ref": "#/components/schemas/CWLWorkflowStepObject"
            }
          ]
        }
      },
      "CWLInputList": {
        "type": "array",
        "title": "CWLInputList",
        "description": "Package inputs defined as items.",
        "items": {
          "$ref": "#/components/schemas/CWLInputItem"
        }
      },
      "CWLInputMap": {
        "type": "object",
        "title": "CWLInputMap",
        "description": "Package inputs defined as mapping.",
        "additionalProperties": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/CWLType"
            },
            {
              "title": "CWLInputObject (CWL type definition with parameters).",
              "allOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "$ref": "#/components/schemas/CWLType"
                    },
                    "inputBinding": {
                      "$ref": "#/components/schemas/InputBinding"
                    }
                  },
                  "required": [
                    "type"
                  ],
                  "additionalProperties": {}
                },
                {
                  "$ref": "#/components/schemas/CWLDefaultTypedConditional"
                },
                {
                  "$ref": "#/components/schemas/CWLDocumentation"
                }
              ]
            },
            {
              "$ref": "#/components/schemas/CWLInputStdIn"
            },
            {
              "$ref": "#/components/schemas/CWLImport"
            }
          ]
        }
      },
      "ResourceQuantityOrFractional": {
        "title": "An item quantity that can also represent a proportion of use by resources.",
        "description": "Technically should be minimum=1, but fractional for scheduling algorithms are allowed.\nThere is no way to distinguish between float/long simultaneously in JSON schema (multi-match oneOf).\nTherefore, only validate that it is greater than zero.\n",
        "type": "number",
        "exclusiveMinimum": true,
        "minimum": 0,
        "default": 1
      },
      "CWLExpression": {
        "type": "string",
        "title": "CWLExpression",
        "description": "When combined with 'InlineJavascriptRequirement', this field allows runtime parameter references\n(see also: https://www.commonwl.org/v1.2/CommandLineTool.html#Expression).\nWhenever this option is applicable for a parameter, any other 'normal' string should not be specified.\nFor JSON schema validation, there is no easy way to distinguish them unless using complicated string patterns.\n"
      },
      "InitialWorkDirListing": {
        "title": "InitialWorkDirListing",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLExpression"
          },
          {
            "type": "array",
            "title": "InitialWorkDirListingItems",
            "items": {
              "oneOf": [
                {
                  "nullable": true,
                  "enum": [
                    null
                  ]
                },
                {
                  "$ref": "#/components/schemas/CWLExpression"
                },
                {
                  "$ref": "#/components/schemas/DirectoryListingDirent"
                },
                {
                  "$ref": "#/components/schemas/DirectoryListingFileOrDirectory"
                },
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DirectoryListingFileOrDirectory"
                  }
                }
              ]
            }
          }
        ]
      },
      "CWLRequirementsMap": {
        "title": "CWLRequirementsMap",
        "type": "object",
        "properties": {
          "cwltool:CUDARequirement": {
            "$ref": "#/components/schemas/cwltool_CUDARequirement"
          },
          "DockerRequirement": {
            "$ref": "#/components/schemas/DockerRequirement"
          },
          "SoftwareRequirement": {
            "$ref": "#/components/schemas/SoftwareRequirement"
          },
          "ShellCommandRequirement": {
            "$ref": "#/components/schemas/ShellCommandRequirement"
          },
          "EnvVarRequirement": {
            "$ref": "#/components/schemas/EnvVarRequirement"
          },
          "SchemaDefRequirement": {
            "$ref": "#/components/schemas/SchemaDefRequirement"
          },
          "InitialWorkDirRequirement": {
            "$ref": "#/components/schemas/InitialWorkDirRequirement"
          },
          "InlineJavascriptRequirement": {
            "$ref": "#/components/schemas/InlineJavascriptRequirement"
          },
          "InplaceUpdateRequirement": {
            "$ref": "#/components/schemas/InplaceUpdateRequirement"
          },
          "LoadListingRequirement": {
            "$ref": "#/components/schemas/LoadListingRequirement"
          },
          "NetworkAccess": {
            "allOf": [
              {
                "description": "Not 'NetworkAccessRequirement'"
              },
              {
                "$ref": "#/components/schemas/NetworkAccessRequirement"
              }
            ]
          },
          "ResourceRequirement": {
            "$ref": "#/components/schemas/ResourceRequirement"
          },
          "ScatterFeatureRequirement": {
            "$ref": "#/components/schemas/ScatterFeatureRequirement"
          },
          "ToolTimeLimit": {
            "allOf": [
              {
                "description": "Not 'ToolTimeLimitRequirement'"
              },
              {
                "$ref": "#/components/schemas/ToolTimeLimitRequirement"
              }
            ]
          },
          "WorkReuse": {
            "allOf": [
              {
                "description": "Not 'WorkReuseRequirement'"
              },
              {
                "$ref": "#/components/schemas/WorkReuseRequirement"
              }
            ]
          },
          "MultipleInputFeatureRequirement": {
            "$ref": "#/components/schemas/MultipleInputFeatureRequirement"
          },
          "StepInputExpressionRequirement": {
            "$ref": "#/components/schemas/StepInputExpressionRequirement"
          },
          "SubworkflowFeatureRequirement": {
            "$ref": "#/components/schemas/SubworkflowFeatureRequirement"
          }
        },
        "additionalProperties": false
      },
      "CWLRequirements": {
        "title": "CWLRequirements",
        "description": "Explicit requirement to execute the application package.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CWLRequirementsMap"
          },
          {
            "$ref": "#/components/schemas/CWLRequirementsList"
          }
        ]
      },
      "CWLCommand": {
        "oneOf": [
          {
[...]
