{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0rc1",
    "title": "OGC API - Processes",
    "description": "Example API Definition for OGC API - Processes",
    "contact": {
      "name": "Open Geospatial Consortium",
      "email": "info@ogc.org"
    },
    "license": {
      "name": "OGC License",
      "url": "http://www.opengeospatial.org/legal/"
    }
  },
  "servers": [
    {
      "description": "Example Server 1 (GNOSIS, supporting Part 1: Core /Sync and Part 3: Workflows)",
      "url": "https://maps.gnosis.earth/ogcapi"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Landing Page"
        ],
        "operationId": "getLandingPage",
        "summary": "Retrieve the OGC API landing page for this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/unspecified-f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/common-core-rLandingPage"
          },
          "406": {
            "$ref": "#/components/responses/common-core-rNotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/conformance": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "operationId": "getConformance",
        "summary": "Retrieve the set of OGC API conformance classes that are supported by this service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/unspecified-f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/common-core-rConformance"
          },
          "406": {
            "$ref": "#/components/responses/common-core-rNotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/api": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPI",
        "summary": "Retrieve this API definition.",
        "parameters": [
          {
            "$ref": "#/components/parameters/unspecified-f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/common-core-rAPI"
          },
          "406": {
            "$ref": "#/components/responses/common-core-rNotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/api/processes-list": {
      "get": {
        "tags": [
          "API"
        ],
        "operationId": "getAPIProcesses",
        "summary": "Retrieve the list of processes available from this API implementation & deployment.",
        "parameters": [
          {
            "$ref": "#/components/parameters/unspecified-f-metadata"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/dynamic-rEnumeration"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "406": {
            "$ref": "#/components/responses/common-core-rNotAcceptable"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/processes": {
      "get": {
        "summary": "retrieve the list of available processes",
        "description": "The list of processes contains a summary of each process the OGC API - Processes offers, including the link to a more detailed description of the process.\n\nFor more information, see [Section 7.7]https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_process_list).\n",
        "operationId": "getProcesses",
        "tags": [
          "Processes"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rProcessList"
          }
        }
      },
      "post": {
        "summary": "deploy a process.",
        "description": "Deploys a process.\n\nFor more information, see [Section 6.3](http://docs.ogc.org/DRAFTS/20-044.html#_87a6983e-d060-458c-95ab-27e232e64822).\n",
        "operationId": "deploy",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-dru-w-param"
          }
        ],
        "requestBody": {
          "description": "An OGC Application Package used to deploy a new process.",
          "required": true,
          "content": {
            "application/ogcapppkg+json": {
              "schema": {
                "$ref": "#/components/schemas/processes-dru-ogcapppkg"
              }
            },
            "application/cwl": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+json": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+yaml": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/processes-dru-rProcessSummary"
          },
          "400": {
            "$ref": "#/components/responses/common-core-rException"
          },
          "403": {
            "$ref": "#/components/responses/processes-dru-rImmutableProcess"
          },
          "409": {
            "$ref": "#/components/responses/processes-dru-rDuplicateProcess"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/processes/{processID}": {
      "get": {
        "summary": "retrieve a process description",
        "description": "The process description contains information about inputs and outputs and a link to the execution-endpoint for the process. The Core does not mandate the use of a specific process description to specify the interface of a process. That said, the Core requirements class makes the following recommendation:\n\nImplementations SHOULD consider supporting the OGC process description.\n\nFor more information, see [Section 7.8](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_process_description).\n",
        "operationId": "getProcessDescription",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-processID-path"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rProcessDescription"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          }
        }
      },
      "put": {
        "summary": "replace a process.",
        "description": "Replaces a process.\n\nFor more information, see [Section 6.4](http://docs.ogc.org/DRAFTS/20-044.html#_18582f42-ebc6-4284-9333-c089068f62b6).\n",
        "operationId": "replace",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-processID-path"
          }
        ],
        "requestBody": {
          "description": "An OGC Application Package used to deploy a new process.",
          "required": true,
          "content": {
            "application/ogcapppkg+json": {
              "schema": {
                "$ref": "#/components/schemas/processes-dru-ogcapppkg"
              }
            },
            "application/cwl": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+json": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            },
            "application/cwl+yaml": {
              "schema": {
                "$ref": "#/components/schemas/cwl-cwl-json-schema"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/processes-core-rEmpty"
          },
          "400": {
            "$ref": "#/components/responses/common-core-rException"
          },
          "403": {
            "$ref": "#/components/responses/processes-dru-rImmutableProcess"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "409": {
            "$ref": "#/components/responses/processes-dru-rDuplicateProcess"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      },
      "delete": {
        "summary": "undeploy a process.",
        "description": "Undeploys a process.\n\nFor more information, see [Section 6.5](http://docs.ogc.org/DRAFTS/20-044.html#_16391f9e-538f-4a84-9710-72a6bab82842).\n",
        "operationId": "undeploy",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-processID-path"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/processes-core-rEmpty"
          },
          "403": {
            "$ref": "#/components/responses/processes-dru-rImmutableProcess"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/processes/{processID}/package": {
      "get": {
        "summary": "retrieve the formal description used to deploy a process",
        "description": "Access the formal description that can be used to deploy a process on an OGC API - Processes Server Instance.\n",
        "operationId": "getPackage",
        "tags": [
          "DRU"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-processID-path"
          }
        ],
        "responses": {
          "200": {
            "description": "The formal used to deploy a process",
            "content": {
              "application/ogcapppkg+json": {
                "schema": {
                  "$ref": "#/components/schemas/processes-dru-ogcapppkg"
                }
              },
              "application/cwl": {
                "schema": {
                  "$ref": "#/components/schemas/cwl-cwl-json-schema"
                }
              },
              "application/cwl+json": {
                "schema": {
                  "$ref": "#/components/schemas/cwl-cwl-json-schema"
                }
              },
              "application/cwl+yaml": {
                "schema": {
                  "$ref": "#/components/schemas/cwl-cwl-json-schema"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          }
        }
      }
    },
    "/processes/{processID}/execution": {
      "post": {
        "summary": "execute a process.",
        "description": "Executes a process (this may result in the creation of a job resource e.g., for _asynchronous execution_).\n\nFor more information, see [Section 7.9](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_create_job).\n",
        "operationId": "execute",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-processID-path"
          },
          {
            "$ref": "#/components/parameters/processes-core-response"
          },
          {
            "$ref": "#/components/parameters/processes-core-prefer-header-execution"
          }
        ],
        "requestBody": {
          "description": "An execution request specifying any inputs for the process to execute, and optionally to select specific outputs.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/processes-workflows-execute-workflows"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rExecuteSync"
          },
          "201": {
            "$ref": "#/components/responses/processes-core-rExecuteAsync"
          },
          "204": {
            "$ref": "#/components/responses/processes-core-rEmpty"
          },
          "303": {
            "$ref": "#/components/responses/processes-core-rExecuteCollectionRedirect"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        },
        "callbacks": {
          "jobCompleted": {
            "{$request.body#/subscriber/successUri}": {
              "post": {
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/processes-core-results"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Results received successfully"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "summary": "retrieve the list of jobs.",
        "description": "Lists available jobs.\n\nFor more information, see [Section 12](https://docs.ogc.org/is/18-062r2/18-062r2.html#Job_list).\n",
        "operationId": "getJobs",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-limit"
          },
          {
            "$ref": "#/components/parameters/processes-core-processID-query"
          },
          {
            "$ref": "#/components/parameters/processes-core-status"
          },
          {
            "$ref": "#/components/parameters/processes-core-minDuration"
          },
          {
            "$ref": "#/components/parameters/processes-core-maxDuration"
          },
          {
            "$ref": "#/components/parameters/processes-core-type"
          },
          {
            "$ref": "#/components/parameters/common-geodata-datetime"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rJobList"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          }
        }
      }
    },
    "/jobs/{jobID}": {
      "get": {
        "summary": "retrieve the status of a job",
        "description": "Shows the status of a job.\n\n For more information, see [Section 7.10](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_retrieve_status_info).\n",
        "operationId": "getStatus",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rStatus"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      },
      "delete": {
        "summary": "cancel a job execution, remove a finished job",
        "description": "Cancel a job execution and remove it from the jobs list.\n\nFor more information, see [Section 14]https://docs.ogc.org/is/18-062r2/18-062r2.html#Dismiss).\n",
        "operationId": "dismiss",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rStatus"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results": {
      "get": {
        "summary": "retrieve the result(s) of a job",
        "description": "Lists available results of a job. In case of a failure, lists exceptions instead.\n\nFor more information, see [Section 7.11](https://docs.ogc.org/is/18-062r2/18-062r2.html#sc_retrieve_job_results).\n",
        "operationId": "getResult",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          },
          {
            "$ref": "#/components/parameters/processes-core-prefer-header-return"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rResults"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results/{outputID}": {
      "get": {
        "summary": "retrieve a specific resulting output of a job",
        "description": "Retrieve a specific resulting output for a job.\n\nFor more information, see [Section 7.14](https://docs.ogc.org/is/18-062r3/18-062r3.html#sc_retrieve_job_results_one).\n",
        "operationId": "getOutput",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          },
          {
            "$ref": "#/components/parameters/processes-core-outputID"
          },
          {
            "$ref": "#/components/parameters/processes-core-prefer-header-return"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rOutput"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    },
    "/jobs/{jobID}/results/{outputID}/{N}": {
      "get": {
        "summary": "retrieve a single value from an output of a job allowing multiple values",
        "description": "Retrieve a single value from an output of a job allowing multiple values (maxOccurs > 1)\n\nFor more information, see [Section 7.14](https://docs.ogc.org/is/18-062r3/18-062r3.html#sc_retrieve_job_results_one).\n",
        "operationId": "getOutputValue",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/processes-core-jobID"
          },
          {
            "$ref": "#/components/parameters/processes-core-outputID"
          },
          {
            "$ref": "#/components/parameters/processes-core-N"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/processes-core-rOutput"
          },
          "404": {
            "$ref": "#/components/responses/common-core-rNotFound"
          },
          "500": {
            "$ref": "#/components/responses/common-core-rServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CWLWorkflowStepWhen": {
        "$ref": "#/components/schemas/cwl-cwl-json-schema"
      },
      "CQL2": {
        "$ref": "#/components/schemas/cql2-cql2"
      },
      "processes-list": {
        "type": "string",
        "enum": [
          "RenderMap",
          "ElevationContours",
          "OSMERE"
        ]
      },
      "bbox-processes": {
        "$ref": "#/components/schemas/processes-core-bbox"
      },
      "execute-workflow": {
        "$ref": "#/components/schemas/processes-workflows-execute-workflows"
      },
      "pointGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Point"
            ]
          },
          "coordinates": {
            "type": "array",
            "minItems": 2,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "multipointGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "MultiPoint"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "linestringGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "LineString"
            ]
          },
          "coordinates": {
            "type": "array",
            "minItems": 2,
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "type": "number"
              }
            }
          }
        }
      },
      "multilinestringGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "MultiLineString"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 2,
              "items": {
                "type": "array",
                "minItems": 2,
                "items": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "polygonGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Polygon"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "minItems": 4,
              "items": {
                "type": "array",
                "minItems": 2,
                "items": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "multipolygonGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "MultiPolygon"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "minItems": 4,
                "items": {
                  "type": "array",
                  "minItems": 2,
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "geometryGeoJSON": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/pointGeoJSON"
          },
          {
            "$ref": "#/components/schemas/multipointGeoJSON"
          },
          {
            "$ref": "#/components/schemas/linestringGeoJSON"
          },
          {
            "$ref": "#/components/schemas/multilinestringGeoJSON"
          },
          {
            "$ref": "#/components/schemas/polygonGeoJSON"
          },
          {
            "$ref": "#/components/schemas/multipolygonGeoJSON"
          },
          {
            "$ref": "#/components/schemas/geometrycollectionGeoJSON"
          }
        ]
      },
      "geometrycollectionGeoJSON": {
        "type": "object",
        "required": [
          "type",
          "geometries"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "GeometryCollection"
            ]
          },
          "geometries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/geometryGeoJSON"
            }
          }
        }
      },
      "common-core-confClasses": {
        "type": "object",
        "required": [
          "conformsTo"
        ],
        "properties": {
          "conformsTo": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "http://www.opengis.net/spec/ogcapi-processes-1/1.0/conf/core"
            }
          }
        }
      },
      "common-core-link": {
        "type": "object",
        "required": [
          "href"
        ],
        "properties": {
          "href": {
            "type": "string"
          },
          "rel": {
            "type": "string",
            "example": "service"
          },
          "type": {
            "type": "string",
            "example": "application/json"
          },
          "hreflang": {
            "type": "string",
            "example": "en"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "common-core-landingPage": {
        "type": "object",
        "required": [
          "links"
        ],
        "properties": {
          "title": {
            "type": "string",
            "example": "Example processing server"
          },
          "description": {
            "type": "string",
            "example": "Example server implementing the OGC API - Processes 1.0 Standard"
          },
          "attribution": {
            "type": "string",
            "title": "attribution for the Processes API",
            "description": "The `attribution` should be short and intended for presentation to a user, for example, in a corner of a map. Parts of the text can be links to other resources if additional information is needed. The string can include HTML markup."
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/common-core-link"
            }
          }
        }
      },
      "common-core-exception": {
        "title": "Exception Schema",
        "description": "JSON schema for exceptions based on RFC 7807",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "common-geodata-collections": {
        "type": "object",
        "required": [
          "links",
          "collections"
        ],
        "properties": {
          "links": {
            "type": "array",
            "title": "Links to resource in the collections",
            "description": "Links to this or other resources provided by the collections.",
            "items": {
              "$ref": "#/components/schemas/common-core-link"
            }
          },
          "numberMatched": {
            "$ref": "#/components/schemas/common-geodata-numberMatched"
          },
          "numberReturned": {
            "$ref": "#/components/schemas/common-geodata-numberReturned"
          },
          "collections": {
            "type": "array",
            "title": "Collections descriptions",
            "description": "Descriptions of each collection in this API.",
            "items": {
              "$ref": "#/components/schemas/common-geodata-collectionDesc"
            }
          }
        }
      },
      "common-geodata-collectionDesc": {
        "allOf": [
          {
            "$ref": "#/components/schemas/common-geodata-collectionProperties"
          },
          {
            "type": "object",
            "properties": {
              "extent": {
                "$ref": "#/components/schemas/common-geodata-extent"
              }
            }
          }
        ]
      },
      "common-geodata-extent": {
        "title": "Extent with (optional) Uniform Additional Dimensions Schema",
        "description": "The extent of the data in the collection.\nThis extent schema includes optional additional dimensions, but will still validate for objects not conforming to UAD.\nOGC API - Common - Part 2 \"Collections\" requirements class specifies only the definition of the spatial and temporal extents.\nThe \"Uniform Additional Dimensions\" requirements class specifies a generic schema for describing any additional dimension, such as thermal or pressure ranges.",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "spatial": {
                "$ref": "#/components/schemas/common-geodata-spatialExtent"
              },
              "temporal": {
                "$ref": "#/components/schemas/common-geodata-temporalExtent"
              }
            }
          },
          {
            "anyOf": [
              {
                "type": "object",
                "description": "General object extension point"
              },
              {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/common-geodata-additionalDimensionExtent"
                }
              }
            ]
          }
        ]
      },
      "common-geodata-extent-UAD": {
        "title": "Extent conforming to Uniform Additional Dimensions Schema",
        "description": "The extent of the data in the collection.\nThis extent schema requires that if any dimension beyond spatial and temporal are specified, they conform to the Uniform Additional Dimensions schema.\nIn addition to the spatial and temporal extents defined in the \"Collections\" requirements class of OGC API - Common - Part 2,\nthe \"Uniform Additional Dimensions\" requirements class specifies a generic schema for describing any additional dimension, such as thermal or pressure ranges.",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "spatial": {
                "$ref": "#/components/schemas/common-geodata-spatialExtent"
              },
              "temporal": {
                "$ref": "#/components/schemas/common-geodata-temporalExtent"
              }
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/common-geodata-additionalDimensionExtent"
            }
          }
        ]
      },
      "crs-crs": {
        "title": "CRS",
        "oneOf": [
          {
            "description": "Simplification of the object into a url if the other properties are not present",
            "type": "string"
          },
          {
            "type": "object",
            "oneOf": [
              {
                "required": [
                  "uri"
                ],
                "properties": {
                  "uri": {
                    "description": "Reference to one coordinate reference system (CRS)",
                    "type": "string",
                    "format": "uri"
                  }
                }
              },
              {
                "required": [
                  "wkt"
                ],
                "properties": {
                  "wkt": {
                    "allOf": [
                      {
                        "description": "An object defining the CRS using the JSON encoding for Well-known text representation of coordinate reference systems 2.0"
                      },
                      {
                        "type": "object"
                      }
                    ]
                  }
                }
              },
              {
                "required": [
                  "referenceSystem"
                ],
                "properties": {
                  "referenceSystem": {
                    "description": "A reference system data structure as defined in the MD_ReferenceSystem of the ISO 19115",
                    "type": "object"
                  }
                }
              }
            ]
          }
        ]
      },
      "common-geodata-dataType": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "string",
            "enum": [
              "map",
              "vector",
              "coverage"
            ]
          }
        ]
      },
      "common-geodata-timeStamp": {
        "title": "Time stamp",
        "description": "This property indicates the time and date when the response was generated using RFC 3339 notation.",
        "type": "string",
        "format": "date-time",
        "example": "2017-08-17T08:05:32Z"
      },
      "common-geodata-numberReturned": {
        "title": "The number of elements in the response",
        "description": "A server may omit this information, if the information about the number of elements is not known or difficult to compute. If the value is provided, the value shall be identical to the number of elements in the response.",
        "type": "integer",
        "minimum": 0,
        "example": 10
      },
      "common-geodata-numberMatched": {
        "title": "The number of elements in the response",
        "description": "The number of elements in the response that match the selection parameters like `bbox`.",
        "type": "integer",
        "minimum": 0,
        "example": 127
      },
      "cwl-cwl-json-schema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          },
          {
            "$ref": "#/components/schemas/cwl-cwl-json-schema"
          }
        ]
      },
      "dynamic-enumeration": {
        "type": "object",
        "required": [
          "type",
          "enum"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "enum"
            ]
          },
          "enum": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "processes-core-processSummary": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-descriptionType"
          },
          {
            "type": "object",
            "required": [
              "id",
              "version"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "jobControlOptions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/processes-core-jobControlOptions"
                }
              },
              "links": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/processes-core-link"
                }
              }
            }
          }
        ]
      },
      "processes-core-process": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-processSummary"
          },
          {
            "type": "object",
            "properties": {
              "inputs": {
                "additionalProperties": {
                  "$ref": "#/components/schemas/processes-core-inputDescription"
                }
              },
              "outputs": {
                "additionalProperties": {
                  "$ref": "#/components/schemas/processes-core-outputDescription"
                }
              }
            }
          }
        ]
      },
      "processes-core-processList": {
        "type": "object",
        "required": [
          "processes",
          "links"
        ],
        "properties": {
          "processes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/processes-core-processSummary"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/processes-core-link"
            }
          }
        }
      },
      "processes-core-jobList": {
        "type": "object",
        "required": [
          "jobs",
          "links"
        ],
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/processes-core-statusInfo"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/processes-core-link"
            }
          }
        }
      },
      "processes-core-descriptionType": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/processes-core-metadata"
            }
          }
        }
      },
      "processes-core-binaryValue": {
        "type": "string"
      },
      "processes-workflows-inputParameterized": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "$input"
            ],
            "properties": {
              "$input": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/schemas/processes-core-fieldsModifiers"
          }
        ]
      },
      "processes-core-format": {
        "type": "object",
        "properties": {
          "mediaType": {
            "type": "string"
          },
          "encoding": {
            "type": "string"
          },
          "schema": {
            "oneOf": [
              {
                "type": "string",
                "format": "url"
              },
              {
                "type": "object"
              }
            ]
          }
        }
      },
      "processes-core-schemaAndOccurrences": {
        "type": "object",
        "required": [
          "schema"
        ],
        "properties": {
          "schema": {
            "$ref": "#/components/schemas/processes-core-schema"
          },
          "minOccurs": {
            "type": "integer",
            "default": 1
          },
          "maxOccurs": {
            "oneOf": [
              {
                "type": "integer",
                "default": 1
              },
              {
                "type": "string",
                "enum": [
                  "unbounded"
                ]
              }
            ]
          }
        }
      },
      "processes-core-inputDescription": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-descriptionType"
          },
          {
            "$ref": "#/components/schemas/processes-core-dataClasses"
          },
          {
            "$ref": "#/components/schemas/processes-core-dataAccessAPIs"
          },
          {
            "$ref": "#/components/schemas/processes-core-executionUnitRequirements"
          },
          {
            "$ref": "#/components/schemas/processes-core-schemaAndOccurrences"
          },
          {
            "type": "object",
            "properties": {
              "valuePassing": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "byValue",
                    "byReference"
                  ]
                },
                "default": [
                  "byValue",
                  "byReference"
                ]
              }
            }
          }
        ]
      },
      "processes-core-value": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/processes-core-valueNoObject"
          },
          {
            "type": "object"
          }
        ]
      },
      "processes-core-collectionValue": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-format"
          },
          {
            "type": "object",
            "required": [
              "collection"
            ],
            "properties": {
              "collection": {
                "description": "The URI of the OGC API collection that should be accessed to provide\ninput values from the corresponding process input.  The server\noffering this collection is referred to as the \"value source server\".",
                "anyOf": [
                  {
                    "type": "string",
                    "description": "Collection identifier for a collection available at `{root}/collections/{collectionID}`, where `{root}` represents the landing page\nof the process using the collection as an input (for the top-level process, that is the landing page of the process execution endpoint\nto which the execution request is posted), or the landing page of the document being retrieved in the case of an output.\nIf the `collection` string includes a `/`, it must be interpreted as a URI reference rather than as a collection ID."
                  },
                  {
                    "type": "string",
                    "description": "The URI of an OGC API collection.\nIf a relative URI reference is used, the Base URI is defined as such:\n- For a Collection value received as input to a process, the Base URI is defined as the URI of the description\n  (`{root}/processes/{processId}`) of that process, with the receiving process object understood as the Encapsulating Entity as per\n  [RFC 3986 Section 5.1.2](https://datatracker.ietf.org/doc/html/rfc3986#section-5.1.2).\n- For a Collection Output value, the Base URI is defined from the Retrieval URI as as per\n  [RFC 3986 Section 5.1.3](https://datatracker.ietf.org/doc/html/rfc3986#section-5.1.3),\n  for example, `/jobs/{jobId}/results`, `/jobs/{jobId}/results/{outputID}` or `/jobs/{jobId}/results/{outputID}/{N}` depending on the\n  resource being retrieved.\nIf a collection string does not contain any `/`, it must not be interpreted as a URI reference, and must instead be resolved as a\ncollection identifier. For example, `countries` would resolve to `{root}/collections/countries` rather than `{root}/processes/countries`.",
                    "format": "uri-reference"
                  }
                ]
              },
              "bbox": {
                "description": "Only resources that have a geometry that intersects the bounding box\nare selected.  The bounding box is provided as four or six numbers,\ndepending on whether the coordinate reference system includes a\nvertical axis (height or depth):\n\n* Lower left corner, coordinate axis 1\n* Lower left corner, coordinate axis 2\n* Minimum value, coordinate axis 3 (optional)\n* Upper right corner, coordinate axis 1\n* Upper right corner, coordinate axis 2\n* Maximum value, coordinate axis 3 (optional)\n\nIf the value consists of four numbers, the coordinate reference\nsystem is WGS84 longitude/latitude\n  (http://www.opengis.net/def/crs/OGC/1.3/CRS84)\nunless a different coordinate reference system is specified in the\nparameter `bboxCrs`.\n\nIf the value consists of six numbers, the coordinate reference system\nis WGS84 (http://www.opengis.net/def/crs/OGC/0/CRS84h) longitude/\nlatitude/ ellipsoidal height unless a different coordinate reference\nsystem is specified in the parameter `bboxCrs`.\n\nFor WGS84 longitude/latitude the values are in most cases the sequence\nof minimum longitude, minimum latitude, maximum longitude and maximum\nlatitude.  However, in cases where the box spans the antimeridian the\nfirst value (west-most box edge) is larger than the third value\n(east-most box edge).\n\nIf the vertical axis is included, the third and the sixth number are\nthe bottom and the top of the 3-dimensional bounding box.\n\nIf a resource has multiple spatial geometry properties, it is the\ndecision of the server whether only a single spatial geometry property\nis used to determine the extent or all relevant geometries.",
                "type": "array",
                "oneOf": [
                  {
                    "minItems": 4,
                    "maxItems": 4
                  },
                  {
                    "minItems": 6,
                    "maxItems": 6
                  }
                ],
                "items": {
                  "type": "number"
                }
              },
              "bboxCrs": {
                "description": "Asserts the CRS used for the coordinate values of the `bbox`\nparameter.  The default is WGS 84 or WGS84h depending on whether\nellipsoidal height is included or not:\n  * WGS 84 longitude/latitude [4 numbers]\n    (http://www.opengis.net/def/crs/OGC/1.3/CRS84)\n  * WGS 84h longitude/latitude/ellipsoidal height [6 numbers]\n    (http://www.opengis.net/def/crs/OGC/0/CRS84h_",
                "type": "string",
                "format": "uri"
              },
              "geometry": {
                "description": "Only resources that have a geometry that intersects the geometry\nspecified using the `geometry` parameter are selected.  The value of\nthe `geometry` parameter can be specified using WKT or GeoJSON.\nIf a resource has multiple spatial geometry properties, it is the\ndecision of the server whether only a single spatial geometry property\nis used to determine the extent or all relevant geometries.",
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "$ref": "#/components/schemas/geometryGeoJSON"
                  }
                ]
              },
              "geometryCrs": {
                "description": "Asserts the CRS used for the coordinate values of the `geometry`\nparameter.  The default is WGS 84 or WGS84h depending on whether\nellipsoidal height is included or not:\n  * WGS 84 longitude/latitude [4 numbers]\n    (http://www.opengis.net/def/crs/OGC/1.3/CRS84)\n  * WGS 84h longitude/latitude/ellipsoidal height [6 numbers]\n    (http://www.opengis.net/def/crs/OGC/0/CRS84h_",
                "type": "string"
              },
              "datetime": {
                "description": "Either a date-time or an interval, half-bounded or bounded. Date and\ntime expressions adhere to RFC 3339. Half-bounded intervals are\nexpressed using double-dots.\n\nExamples:\n  * A date-time:\n    \"2018-02-12T23:20:50Z\"\n  * A bounded interval:\n    \"2018-02-12T00:00:00Z/2018-03-18T12:31:12Z\"\n  * Half-bounded intervals:\n    \"2018-02-12T00:00:00Z/..\" or \"../2018-03-18T12:31:12Z\"\n\nOnly resources that have a temporal property that intersects the\nvalue of `datetime` are selected.\n\nIf a resource has multiple temporal properties, it is the decision of\nthe server whether only a single temporal property is used to\ndetermine the extent or all relevant temporal properties.",
                "type": "string"
              },
              "limit": {
                "description": "The optional limit parameter limits the number of items that are\npresented in the response document.\nOnly items are counted that are on the first level of the collection\nin the response document.  Nested objects contained within the\nexplicitly requested items shall not be counted.",
                "type": "integer",
                "minimum": 1,
                "maximum": 10000,
                "default": 10
              },
              "crs": {
                "description": "If the parameter is specified, then the coordinates of all\ngeometry-valued properties in the response document are in\nthe requested CRS. Otherwise the coordinates are in the default CRS,\nthat is http://www.opengis.net/def/crs/OGC/1.3/CRS84 for coordinates\nwithout height and http://www.opengis.net/def/crs/OGC/0/CRS84h for\ncoordinates with ellipsoidal height.",
                "type": "string",
                "format": "uri"
              },
              "filter": {
                "description": "A search or filter condition.  This condition determines which\nresources from the OGC API collection are included in the result\nset and are thus passed as values to the corresponding process input.\nThe `filter` parameter can be a string where the search condition is\nencoded in some text-based query langauge (e.g. cql2-text) or a\nCQL2 JSON object that encodes the search condition using JSON.",
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "$ref": "#/components/schemas/cql2-cql2"
                  }
                ]
              },
              "filterCrs": {
                "description": "Asserts the CRS used for the coordinate values of the `filter`\nparameter.  The default is WGS 84 or WGS 84h depending on whether\nellispoidal jeight is included with the coordinates or not:\n  * WGS 84 longitude/latitude\n    (http://www.opengis.net/def/crs/OGC/1.3/CRS84)\n  * WGS 84h longitude/latitude/ellipsoidal height\n    (http://www.opengis.net/def/crs/OGC/0/CRS84h_",
                "type": "string",
                "format": "uri-reference"
              },
              "filterLang": {
                "description": "Indicates the language used to encode a filter expression specified\nusing the `filter` parameter. Query languages can include CQL2 text,\nCQL 2 JSON or OGC Filter Encoding (XML).",
                "type": "string",
                "enum": [
                  "cql2-text",
                  "cql2-json",
                  "fes-xml"
                ]
              },
              "subset": {
                "description": "Retrieve only part of the data by slicing or trimming along one or\nmore axis. For trimming: {axisAbbrev}({low}:{high}) (preserves\ndimensionality). An asterisk (`*`) can be used instead of {low} or\n{high} to indicate the minimum/maximum value. For slicing:\n{axisAbbrev}({value}) (reduces dimensionality).",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "subsetCrs": {
                "description": "Asserts the CRS used for the coordinate values of the `subset`\nparameter.  The default is WGS 84 or WGS 84h depending on whether\nellispoidal height in included with the coordinates or not:\n  * WGS 84 longitude/latitude\n    (http://www.opengis.net/def/crs/OGC/1.3/CRS84)\n  * WGS 84h longitude/latitude/ellipsoidal height\n    (http://www.opengis.net/def/crs/OGC/0/CRS84h_",
                "type": "string"
              },
              "ids": {
                "description": "The optional ids parameter allows a specific list of resources,\nindicated by their identifiers, to be fetched from the OGC API\ncollection. Only resources whose identifier matches one of the\nvalues listed for this parameter shall appear in the result set.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "q": {
                "description": "The optional q parameter supports keyword searching.  Only resources\nwhose text fields contain one or more of the specified search terms\nare selected.  The specific set of text keys/fields/properties of a\nresource to which the q operator is applied is up to the discretion\nof the server.   Implementations should, however, apply the q\noperator to the title, description and keywords keys/fields/properties\nif they exist in the resource.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "assets": {
                "description": "A list of STAC asset tags.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "properties": {
                "description": "A filter that selects resource properties to be included in a\nresponse document.  The elements in the `properties` parameter can\nbe the names of resource properties, aliases for resources properties\nor synthetic properties.  Synthetic properties are properties that\nare computed on the fly and can reference resource property names\nor aliases for resource properties.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "aliases": {
                "description": "A dictionary of aliases that can be used as values for the\n`properties` parameter.  Aliases can be alternative names for\nresource properties or synthetic properties.  Synthetic properties\nare named expressions that are computed at run-time.  Expressions\nfor synthetic properties are encoded using some expression language\nand can include references to resource property names or aliases\nfor resource properties..",
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "expressionLang": {
                          "type": "string",
                          "enum": [
                            "cql2-text",
                            "cql2-json"
                          ]
                        },
                        "expression": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "$ref": "#/components/schemas/cql2-cql2"
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "passThroughParameters": {
                "description": "Parameters specified in this object are passed through to the value\nsource server for processing on that server.  The keys used in this\nobject should be identical to query parameters that the value source\nserver would recognize.  In the case where the OAProc server supports\nlocal filtering, the `passThroughParameters` property provides a\nmechanism to force filtering to happen on the value source server.",
                "type": "object"
              }
            }
          }
        ]
      },
      "processes-core-valueNoObject": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "integer"
          },
          {
            "type": "boolean"
          },
          {
            "type": "array",
            "items": {}
          },
          {
            "$ref": "#/components/schemas/processes-core-binaryValue"
          },
          {
            "$ref": "#/components/schemas/processes-core-bbox"
          },
          {
            "$ref": "#/components/schemas/processes-core-collectionValue"
          }
        ]
      },
      "processes-workflows-valueNoObject-workflows": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "integer"
          },
          {
            "type": "boolean"
          },
          {
            "type": "array",
            "items": {}
          },
          {
            "$ref": "#/components/schemas/processes-core-binaryValue"
          },
          {
            "$ref": "#/components/schemas/processes-core-bbox"
          },
          {
            "$ref": "#/components/schemas/processes-core-collectionValue"
          },
          {
            "$ref": "#/components/schemas/processes-workflows-inputProcess"
          },
          {
            "$ref": "#/components/schemas/processes-workflows-inputParameterized"
          }
        ]
      },
      "processes-core-jobControlOptions": {
        "type": "string",
        "enum": [
          "sync-execute",
          "async-execute",
          "dismiss"
        ]
      },
      "processes-core-metadata": {
        "oneOf": [
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/processes-core-link"
              },
              {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string"
                  }
                }
              }
            ]
          },
          {
            "type": "object",
            "properties": {
              "role": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "lang": {
                "type": "string"
              },
              "value": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object"
                  }
                ]
              }
            }
          }
        ]
      },
      "processes-core-values": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/processes-core-inlineOrRefValue"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/processes-core-inlineOrRefValue"
            }
          }
        ]
      },
      "processes-workflows-values-workflows": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/processes-workflows-inlineOrRefValue-workflows"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/processes-workflows-inlineOrRefValue-workflows"
            }
          }
        ]
      },
      "processes-core-outputSelection": {
        "type": "object",
        "properties": {
          "format": {
            "$ref": "#/components/schemas/processes-core-format"
          }
        }
      },
      "processes-core-outputDescription": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-descriptionType"
          },
          {
            "$ref": "#/components/schemas/processes-core-dataClasses"
          },
          {
            "$ref": "#/components/schemas/processes-core-dataAccessAPIs"
          },
          {
            "$ref": "#/components/schemas/processes-core-schemaAndOccurrences"
          }
        ]
      },
      "processes-core-qualifiedValue": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-format"
          },
          {
            "type": "object",
            "required": [
              "value"
            ],
            "properties": {
              "value": {
                "$ref": "#/components/schemas/processes-core-value"
              }
            }
          }
        ]
      },
      "processes-core-reference": {
        "type": "object",
        "required": [
          "$ref"
        ],
        "properties": {
          "$ref": {
            "type": "string",
            "format": "uri-reference"
          }
        },
        "additionalProperties": false
      },
      "processes-core-results": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/processes-core-values"
        }
      },
      "processes-core-schema": {
        "description": "Attributes of the features or fields of a coverage range. Defined by a subset of the JSON Schema for the properties of a feature",
        "type": "object",
        "required": [
          "type",
          "properties"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "object"
            ]
          },
          "required": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "properties": {
            "type": "object",
            "default": {},
            "additionalProperties": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "array",
                    "boolean",
                    "integer",
                    "null",
                    "number",
                    "object",
                    "string"
                  ]
                },
                "enum": {
                  "type": "array",
                  "minItems": 1,
                  "items": {},
                  "uniqueItems": true
                },
                "format": {
                  "type": "string"
                },
                "contentMediaType": {
                  "type": "string"
                },
                "maximum": {
                  "type": "number"
                },
                "exclusiveMaximum": {
                  "type": "number"
                },
                "minimum": {
                  "type": "number"
                },
                "exclusiveMinimum": {
                  "type": "number"
                },
                "pattern": {
                  "type": "string",
                  "format": "regex"
                },
                "maxItems": {
                  "type": "integer",
                  "minimum": 0
                },
                "minItems": {
                  "type": "integer",
                  "default": 0,
                  "minimum": 0
                },
                "x-ogc-definition": {
                  "type": "string",
                  "format": "uri"
                },
                "x-ogc-unit": {
                  "type": "string"
                },
                "x-ogc-unitLang": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "processes-core-statusCode": {
        "type": "string",
        "nullable": false,
        "enum": [
          "accepted",
          "running",
          "successful",
          "failed",
          "dismissed"
        ]
      },
      "processes-core-subscriber": {
        "description": "Optional URIs for callbacks for this job.\n\nSupport for this parameter is not required and the parameter may be\nremoved from the API definition, if conformance class **'callback'**\nis not listed in the conformance declaration under `/conformance`.",
        "type": "object",
        "properties": {
          "successUri": {
            "type": "string",
            "format": "uri"
          },
          "inProgressUri": {
            "type": "string",
            "format": "uri"
          },
          "failedUri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "processes-core-inlineOrRefValue": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/processes-core-valueNoObject"
          },
          {
            "$ref": "#/components/schemas/processes-core-qualifiedValue"
          },
          {
            "$ref": "#/components/schemas/processes-core-link"
          }
        ]
      },
      "processes-workflows-inlineOrRefValue-workflows": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/processes-workflows-valueNoObject-workflows"
          },
          {
            "$ref": "#/components/schemas/processes-workflows-qualifiedValue-workflows"
          },
          {
            "$ref": "#/components/schemas/common-core-link"
          }
        ]
      },
      "processes-core-fieldsModifiers": {
        "type": "object",
        "properties": {
          "filter": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "description": "Basic CQL2-JSON definition",
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            ]
          },
          "filter-lang": {
            "type": "string",
            "example": "cql2-text"
          },
          "filter-crs": {
            "type": "string",
            "format": "uri-reference"
          },
          "aliases": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "properties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sortBy": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "processes-core-statusInfo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-descriptionType"
          },
          {
            "type": "object",
            "required": [
              "id",
              "status",
              "processingEntityType"
            ],
            "properties": {
              "id": {
                "type": "string"
              },
              "processID": {
                "type": "string",
                "format": "uri"
              },
              "processingEntityType": {
                "description": "The type of entity that created the job and is doing the processing.\nThis includes all the data access apis listed in \"apis.yaml\" plus\nthe processing APIs of OGC API Processes and OpenEO.",
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/processes-core-apis"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "ogc-api-processes",
                      "openeo"
                    ]
                  }
                ]
              },
              "profileEntityType": {
                "description": "The type of entity requesting this status information.  This may\nbe differernt than the processing entity.  For example, the\nprocessing entity may be OGC API Processes but the status\ninformation is requested via the OpenEO API.",
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/processes-core-apis"
                  },
                  {
                    "type": "string",
                    "enum": [
                      "ogc-api-processes",
                      "openeo"
                    ]
                  }
                ]
              },
              "request": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "object"
                  },
                  {
                    "$ref": "#/components/schemas/processes-core-link"
                  }
                ]
              },
              "status": {
                "$ref": "#/components/schemas/processes-core-statusCode"
              },
              "message": {
                "type": "string"
              },
              "exception": {
                "$ref": "#/components/schemas/common-core-exception"
              },
              "created": {
                "type": "string",
                "format": "date-time"
              },
              "started": {
                "type": "string",
                "format": "date-time"
              },
              "finished": {
                "type": "string",
                "format": "date-time"
              },
              "updated": {
                "type": "string",
                "format": "date-time"
              },
              "progress": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100
              },
              "links": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/processes-core-link"
                }
              }
            }
          }
        ]
      },
      "processes-core-dataAccessAPIs": {
        "type": "object",
        "properties": {
          "dataAccessAPIs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/processes-core-apis"
            }
          }
        }
      },
      "processes-core-apis": {
        "description": "A non-exhaustive list of OGC and other data access APIs.  This list can\nbe extended as required.",
        "type": "string",
        "enum": [
          "ogc-api-features",
          "ogc-api-coverages",
          "ogc-api-edr",
          "ogc-api-tiles",
          "ogc-api-moving-features",
          "ogc-api-sensor-things",
          "ogc-api-records",
          "ogc-api-dggs",
          "stac-api"
        ]
      },
      "processes-core-dataClasses": {
        "type": "object",
        "properties": {
          "dataClasses": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "processes-dru-ogcapppkg": {
        "type": "object",
        "required": [
          "executionUnit"
        ],
        "properties": {
          "processDescription": {
            "type": "object",
            "required": [
              "process"
            ],
            "properties": {
              "process": {
                "$ref": "#/components/schemas/processes-core-process"
              }
            }
          },
          "executionUnit": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/processes-dru-executionUnit"
              },
              {
                "$ref": "#/components/schemas/common-core-link"
              },
              {
                "$ref": "#/components/schemas/processes-core-qualifiedValue"
              },
              {
                "$ref": "#/components/schemas/processes-dru-ogcapppkg-array"
              }
            ]
          }
        }
      },
      "processes-dru-staticIndicator": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-processSummary"
          },
          {
            "type": "object",
            "properties": {
              "mutable": {
                "type": "boolean",
                "default": true
              }
            }
          }
        ]
      },
      "processes-core-linkBase": {
        "type": "object",
        "required": [
          "rel"
        ],
        "properties": {
          "rel": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "hreflang": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "length": {
            "type": "integer"
          }
        }
      },
      "processes-core-linkBaseExtended": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "POST",
              "GET",
              "DELETE",
              "PATCH"
            ]
          },
          "body": {},
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "processes-core-link": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-linkBase"
          },
          {
            "$ref": "#/components/schemas/processes-core-linkBaseExtended"
          },
          {
            "type": "object",
            "required": [
              "href"
            ],
            "properties": {
              "href": {
                "type": "string"
              }
            }
          }
        ]
      },
      "processes-core-executionUnitRequirements": {
        "type": "object",
        "properties": {
          "executionUnitRequirements": {
            "type": "object",
            "properties": {
              "remote-access": {
                "type": "boolean"
              },
              "staging": {
                "type": "string",
                "enum": [
                  "local-file",
                  "remote-access"
                ]
              }
            }
          }
        }
      },
      "processes-dru-inputBinding": {
        "type": "object",
        "description": ". Defines how to specify the input for the execution unit.\n. The value of various properties defined below can be expressions.\n    . The expression language SHALL be JavaScript(???).\n. The \"$(...)\" syntax can be used to reference the current input or other\n  process inputs in an expression.\n  . The value \"self\" refers to the value of the current input.\n  . The value \"inputs.<other_input>\" refers to the value of another\n    process input.\n  . If the input is defined as a string of format \"file\" or \"directory\"\n    then the meta-values \".path\", \".basename\", \".nameroot\" and \".nameext\"\n    can be used to manipulate file or directory name without having to\n    resort to complex regular expressions.\n      . \".path\" returns the path of a file name without the file name\n      . \".basename\" returns the name of the file without the path\n      . \".nameroot\" returns the basename without any extension\n      . \".nameext\" returns the extension of the basename",
        "properties": {
          "prefix": {
            "description": "Command line prefix to add before the value.",
            "type": "string"
          },
          "position": {
            "description": ". The zero-based sorting key.\n. The value can be an integer or a string.\n. If the value is a string then it should be an expression that evaluates\n  to a single integer value or null.",
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "valueFrom": {
            "description": ". If valueFrom is a constant string value, use this as the value.\n. If valueFrom is an expression, evaluate the expression to yield the\n  actual value to use to build the command line.\n. If the value of the associated input parameter is null, valueFrom is\n  not evaluated and nothing is added to the command line.",
            "type": "string"
          },
          "itemSeparator": {
            "description": "Join the array elements into a single string with the elements separated\nby itemSeparator.",
            "type": "string"
          },
          "shellQuote": {
            "description": ". A Boolean that controls whether the value is quoted on the command.\n. A value of true (or if shecllQuote is not provided) means that the\n  implementation SHALL not permit the interpretation of any shell\n  metacharacters or directives.\n. A value of false should be used to inject metacharacters for operations\n  such as pipes.",
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "processes-dru-outputBinding": {
        "type": "object",
        "description": "Defines how to retrieve the output result from the command.",
        "properties": {
          "glob": {
            "description": ". Wildcard pattern to find the output on disk or mounted volume.\n. Uses UNIX \"glob\" wildcard patterns (see: \"man 7 glob\").\n. See inputBinding.yaml for referencing input values in an output\n  binding \"glob\" expression.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        },
        "additionalProperties": true
      },
      "processes-dru-executionUnit": {
        "type": "object",
        "description": "Resource containing executable or runtime information for executing the\nprocess.",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "description": "Type of execution unit.",
            "type": "string",
            "anyOf": [
              {
                "enum": [
                  "docker",
                  "oci"
                ]
              },
              {
                "type": "string"
              }
            ]
          },
          "image": {
            "description": "Container image reference for the execution unit.",
            "type": "string"
          },
          "deployment": {
            "description": "Deployment information for the execution unit.",
            "type": "string",
            "anyOf": [
              {
                "enum": [
                  "local",
                  "remote",
                  "hpc",
                  "cloud"
                ]
              },
              {
                "type": "string"
              }
            ]
          },
          "config": {
            "type": "object",
            "description": "Hardware requirements and configuration properties for executing the\nprocess.",
            "properties": {
              "cpuMin": {
                "description": "Minimum number of CPUs required to run the process (unit is CPU core).",
                "type": "number",
                "minimum": 1
              },
              "cpuMax": {
                "description": "Maximum number of CPU dedicated to the process (unit is CPU core)",
                "type": "number"
              },
              "memoryMin": {
                "description": "Minimum RAM memory required to run the application (unit is GB)",
                "type": "number"
              },
              "memoryMax": {
                "description": "Maximum RAM memory dedicated to the application (unit is GB)",
                "type": "number"
              },
              "storageTempMin": {
                "description": "Minimum required temporary storage size (unit is GB)",
                "type": "number"
              },
              "storageOutputsMin": {
                "description": "Minimum required output storage size (unit is GB)",
                "type": "number"
              },
              "jobTimeout": {
                "description": "Timeout delay for a job execution (in seconds)",
                "type": "number"
              }
            },
            "additionalProperties": true
          },
          "bindings": {
            "type": "object",
            "properties": {
              "inputBindings": {
                "additionalProperties": {
                  "$ref": "#/components/schemas/processes-dru-inputBinding"
                }
              },
              "outputBindings": {
                "additionalProperties": {
                  "$ref": "#/components/schemas/processes-dru-outputBinding"
                }
              }
            }
          }
        },
        "additionalProperties": true,
        "example": {
          "type": "docker",
          "image": "mydocker/ndvi:latest",
          "bindings": {
            "inputBindings": {
              "inputImage": {
                "prefix": "inputsImages=",
                "inputSeparator": ","
              }
            },
            "outputBindings": {
              "outputImage": {
                "glob": "$(\"/outputs/ndvi_\" + inputs.inputImage.basename)"
              }
            }
          },
          "deployment": "local",
          "config": {
            "cpuMin": 2,
            "cpuMax": 5,
            "memoryMin": 1,
            "memoryMax": 3
          }
        }
      },
      "processes-core-bbox-def-crs": {
        "anyOf": [
          {
            "type": "string",
            "format": "uri",
            "enum": [
              "http://www.opengis.net/def/crs/OGC/1.3/CRS84",
              "http://www.opengis.net/def/crs/OGC/0/CRS84h"
            ],
            "default": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
          },
          {
            "type": "string",
            "format": "uri",
            "default": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
          }
        ]
      },
      "processes-core-bbox": {
        "type": "object",
        "required": [
          "bbox"
        ],
        "properties": {
          "bbox": {
            "type": "array",
            "oneOf": [
              {
                "minItems": 4,
                "maxItems": 4
              },
              {
                "minItems": 6,
                "maxItems": 6
              }
            ],
            "items": {
              "type": "number"
            }
          },
          "crs": {
            "$ref": "#/components/schemas/processes-core-bbox-def-crs"
          }
        }
      },
      "cql2-cql2": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/cql2-cql2-definitions"
          },
          {
            "$ref": "#/components/schemas/cql2-cql2-definitions"
          },
          {
            "$ref": "#/components/schemas/cql2-cql2-definitions"
          },
          {
            "$ref": "#/components/schemas/cql2-cql2-definitions"
          },
          {
            "$ref": "#/components/schemas/cql2-cql2-definitions"
          },
          {
            "$ref": "#/components/schemas/cql2-cql2-definitions"
          },
          {
            "$ref": "#/components/schemas/cql2-cql2-definitions"
          },
          {
            "type": "boolean"
          }
        ]
      },
      "cql2-cql2-definitions": {
        "type": "object",
        "required": [
          "op",
          "args"
        ],
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "a_containedBy",
              "a_contains",
              "a_equals",
              "a_overlaps"
            ]
          },
          "args": {
            "$ref": "#/components/schemas/cql2-cql2-definitions"
          }
        }
      },
      "processes-dru-ogcapppkg-array": {
        "type": "array",
        "items": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/processes-dru-executionUnit"
            },
            {
              "$ref": "#/components/schemas/common-core-link"
            },
            {
              "$ref": "#/components/schemas/processes-core-qualifiedValue"
            }
          ]
        }
      },
      "processes-workflows-execute-workflows": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "process": {
                "type": "string",
                "format": "uri-reference",
                "description": "The URI to the description of the process that should be executed.\nFor the top-level process, when the execution request is POSTed to `{root}/processes/{processId}/execution`, this should be an absolute URI,\nand the server should ignore this `process` key since the URI of the request already identifies the process to execute, and a client\nis not required to resolve and replace the URI if passing a nested process block as part of a larger workflow executing a nested process.\nIf a relative URI reference is used, the Base URI is defined as the URI of the description\n(`{root}/processes/{processId}`) of the receiving process, with this receiving process object understood as the\nEncapsulating Entity as per [RFC 3986 Section 5.1.2](https://datatracker.ietf.org/doc/html/rfc3986#section-5.1.2).\nIn the case of a nested process on the same OGC API root as the receiving process, using a simple process ID as the relative URI reference\nwould resolve to a process available at `{root}/processes/{processID}`, where `{root}` represents the landing page of the receiving process.\nFor example, if a top-level process at https://example.com/processes/buffer receives a nested processs `{ \"process\": \"clip\" }`,\nthat clip process is resolved as https://example.com/processes/clip."
              },
              "inputs": {
                "additionalProperties": {
                  "$ref": "#/components/schemas/processes-workflows-values-workflows"
                }
              },
              "outputs": {
                "additionalProperties": {
                  "$ref": "#/components/schemas/processes-workflows-outputSelection-workflows"
                }
              },
              "subscriber": {
                "$ref": "#/components/schemas/processes-core-subscriber"
              }
            }
          },
          {
            "$ref": "#/components/schemas/processes-core-fieldsModifiers"
          },
          {
            "example": {
              "inputs": {
                "data": [
                  {
                    "collection": "https://example.com/collections/sentinel2-l2a",
                    "aliases": {
                      "evi": "2.5 * (B08 / 10000 - B04 / 10000) / (1 + B08 / 10000 + 6 * B04 / 10000 + -7.5 * B02 / 10000)"
                    },
                    "properties": [
                      "evi"
                    ]
                  }
                ]
              }
            }
          }
        ]
      },
      "processes-workflows-inputProcess": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "process"
            ]
          },
          {
            "$ref": "#/components/schemas/processes-workflows-execute-workflows"
          }
        ]
      },
      "processes-workflows-value-workflows": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/processes-workflows-valueNoObject-workflows"
          },
          {
            "type": "object"
          }
        ]
      },
      "processes-workflows-qualifiedValue-workflows": {
        "allOf": [
          {
            "$ref": "#/components/schemas/processes-core-format"
          },
          {
            "$ref": "#/components/schemas/processes-core-fieldsModifiers"
          },
          {
            "type": "object",
            "required": [
              "value"
            ],
            "properties": {
              "value": {
                "$ref": "#/components/schemas/processes-workflows-value-workflows"
              }
            }
          }
        ]
      },
      "processes-workflows-outputSelection-workflows": {
        "type": "object",
        "properties": {
          "format": {
            "$ref": "#/components/schemas/processes-core-format"
          },
          "$output": {
            "type": "string"
          }
        }
      },
      "geojson-FeatureCollection": {
        "title": "GeoJSON FeatureCollection",
        "type": "object",
        "required": [
          "type",
          "features"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "FeatureCollection"
            ]
          },
          "features": {
            "type": "array",
            "items": {
              "title": "GeoJSON Feature",
              "type": "object",
              "required": [
                "type",
                "properties",
                "geometry"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "Feature"
                  ]
                },
                "id": {
                  "oneOf": [
                    {
                      "type": "number"
                    },
                    {
                      "type": "string"
                    }
                  ]
                },
                "properties": {
                  "type": "object",
                  "nullable": true
                },
                "geometry": {
                  "oneOf": [
                    {
                      "title": "GeoJSON Point",
                      "type": "object",
                      "nullable": true,
                      "required": [
                        "type",
                        "coordinates"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "Point"
                          ]
                        },
                        "coordinates": {
                          "type": "array",
                          "minItems": 2,
                          "items": {
                            "type": "number"
                          }
                        },
                        "bbox": {
                          "type": "array",
                          "minItems": 4,
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    {
                      "title": "GeoJSON LineString",
                      "type": "object",
                      "required": [
                        "type",
                        "coordinates"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "LineString"
                          ]
                        },
                        "coordinates": {
                          "type": "array",
                          "minItems": 2,
                          "items": {
                            "type": "array",
                            "minItems": 2,
                            "items": {
                              "type": "number"
                            }
                          }
                        },
                        "bbox": {
                          "type": "array",
                          "minItems": 4,
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    {
                      "title": "GeoJSON Polygon",
                      "type": "object",
                      "required": [
                        "type",
                        "coordinates"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "Polygon"
                          ]
                        },
                        "coordinates": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "minItems": 4,
                            "items": {
                              "type": "array",
                              "minItems": 2,
                              "items": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "bbox": {
                          "type": "array",
                          "minItems": 4,
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    {
                      "title": "GeoJSON MultiPoint",
                      "type": "object",
                      "required": [
                        "type",
                        "coordinates"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "MultiPoint"
                          ]
                        },
                        "coordinates": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "minItems": 2,
                            "items": {
                              "type": "number"
                            }
                          }
                        },
                        "bbox": {
                          "type": "array",
                          "minItems": 4,
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    {
                      "title": "GeoJSON MultiLineString",
                      "type": "object",
                      "required": [
                        "type",
                        "coordinates"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "MultiLineString"
                          ]
                        },
                        "coordinates": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "minItems": 2,
                            "items": {
                              "type": "array",
                              "minItems": 2,
                              "items": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "bbox": {
                          "type": "array",
                          "minItems": 4,
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    {
                      "title": "GeoJSON MultiPolygon",
                      "type": "object",
                      "required": [
                        "type",
                        "coordinates"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "MultiPolygon"
                          ]
                        },
                        "coordinates": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "minItems": 4,
                              "items": {
                                "type": "array",
                                "minItems": 2,
                                "items": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "bbox": {
                          "type": "array",
                          "minItems": 4,
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  ]
                },
                "bbox": {
                  "type": "array",
                  "minItems": 4,
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "bbox": {
            "type": "array",
            "minItems": 4,
            "items": {
              "type": "number"
            }
          }
        }
      },
      "records-core-roles": {
        "title": "Types or roles",
        "description": "The list of duties, job functions or permissions assigned by the system and associated with the context of this member.",
        "type": "array",
        "minItems": 1,
        "items": {
          "type": "string"
        }
      },
      "records-core-contact": {
        "type": "object",
        "title": "Contact information",
        "description": "Identification of, and means of communication with, person responsible\nfor the resource.",
        "anyOf": [
          {
            "required": [
              "name"
            ]
          },
          {
            "required": [
              "organization"
            ]
          }
        ],
        "properties": {
          "identifier": {
            "type": "string",
            "title": "Identifier of the contact",
            "description": "A value uniquely identifying a contact."
          },
          "name": {
            "type": "string",
            "title": "name of the contact person",
            "description": "The name of the responsible person."
          },
          "position": {
            "type": "string",
            "title": "position in the organization",
            "description": "The name of the role or position of the responsible person taken\nfrom the organization's formal organizational hierarchy or chart."
          },
          "organization": {
            "type": "string",
            "title": "Name of the organization",
            "description": "Organization/affiliation of the contact."
          },
          "logo": {
            "title": "Logo of the contact",
            "description": "Link to a graphic identifying a contact. The link relation should be `icon`\nand the media type should be an image media type.",
            "allOf": [
              {
                "$ref": "#/components/schemas/common-core-link"
              },
              {
                "type": "object",
[...]
